<div class="">
<div class="custom-container">
   <app-breadcrumb></app-breadcrumb>
<div class="row">
 
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 space20">
        <button class="btn btn-green add_btn pull-left theme-btn" (click)="addCustomer()"><i class="fas fa-plus" aria-hidden="true"></i> Add User</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
 <!-- <div class="loading" *ngIf ="loader">Loading&#8230;</div> -->
<div class="container custom-container pt-3 pb-4">
    <div class="responsive-table table-responsive-sm table_design table_design22">
      <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-data " id="table1" >
        <thead>
          <tr *ngIf="userList">
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Created Date</th>
            <th>Last Updated</th>
            <th>
              <div class="iconbox"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList; let i = index">
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            <td >{{user.groups=='Super-Admin'?'Super Admin':user.groups}}</td>
            <td>{{user.created_date}}</td>
            <td>{{user.updated_date}}</td>
            <td class="icontd">
              <span class="rowhidden">{{i+1}}</span>
              <div class="iconbox iconbox2">
                
                <i class="fas fa-pencil-alt"  (click)="editUser(user.username)" data-toggle="modal" data-target=""></i>
                <i class="fas fa-eye" (click)="viewUser(user.username)" data-toggle="modal" data-target=""></i>
                <!-- <i class="fas fa-trash" (click)="delUser(user.username)" data-toggle="modal" data-target=""></i> -->
              </div>
            </td>
          </tr>        
        </tbody>
      </table>
    </div>
</div>