<div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
  </div>
<div class="mt-0 mb-0 custompopup" id="new-plate-form">
 	<div class="w-100  pb-2">
 		<div class="modal-header">
 			<h4 *ngIf="eID" class="modal-title">Edit Connector</h4>
 			<h4 *ngIf="vID" class="modal-title">View Connector</h4>
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
 		</div>
 		<div class="modal-body formstyle2 ">     
 			<form [formGroup]="formConnector" (ngSubmit)="submit(formConnector)" >	
 				<div class="bodyarea scrollbar" id="style-3">
 					<div class="space_style">
 					<div class="row d-flex align-items-start">
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 ">
 								<label>Connector Name</label><span class="red">*</span>							
 								<input type="text" formControlName="connector_name" class="form-control" id="connector_name" [ngClass]="{'is-invalid': submitF.connector_name.errors && submitF.connector_name.touched}">
 								<div *ngIf="submitF.connector_name.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_name.errors.required || submitF.connector_name.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 ">
 								<label> Description</label><span class="red">*</span>						
 								<textarea  rows="4" cols="50" type="text" id="form8" class="customlc md-textarea form-control" formControlName="description" [ngClass]="{'is-invalid': submitF.description.errors && submitF.description.touched}"></textarea>
 								<div *ngIf="submitF.description.errors " class="invalid-feedback">
								<div *ngIf="submitF.description.errors.required || submitF.description.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						
 					</div>
 					<div class="row ">
						<div class="col-lg-6">
							<div class="form-group services-box1 mb-0 mt-2">
								<h5 class="mb-0"><b>Rotation Frequency</b></h5>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group services-box1 mb-0 mt-2">
								<h5 class="mb-0"><b>Association</b></h5>
							</div>						
						</div>
						</div>
					<div class="row d-flex align-items-start">
 						
 						<div class="col-lg-4 ">
 							<div class="form-group mb-0 ">
 								<label> Type</label><span class="red">*</span>
 								<!-- <select  name="frequency_type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="frequency_type" [ngClass]="{'is-invalid': submitF.frequency_type.errors && submitF.frequency_type.touched}">
 									<option value="" disabled>Select Connector Type</option>
									<option value="MINUTES">MINUTES</option>
									<option value="HOURS">HOURS</option>
									<option value="DAYS">DAYS</option>
												
 								</select> -->
 								<select   name="frequency_type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="frequency_type" [ngClass]="{'is-invalid': submitF.frequency_type.errors && submitF.frequency_type.touched}">
								<option *ngFor="let role of fretypeArray" [ngValue]="role.val">{{role.name}}</option>
							</select>
 								
 								<div *ngIf="submitF.frequency_type.errors " class="invalid-feedback">
								<div *ngIf="submitF.frequency_type.errors.required || submitF.frequency_type.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						<div class="col-lg-2 ">
 							<div class="form-group mb-0 ">
 								<label> Value</label><span class="red">*</span>
 								<input  type="number" formControlName="frequency_value" class="pr-0 chngeloc form-control" id="frequency_value" [ngClass]="{'is-invalid': submitF.frequency_value.errors && submitF.frequency_value.touched}">
 								<div *ngIf="submitF.frequency_value.errors " class="invalid-feedback">
								<div *ngIf="submitF.frequency_value.errors.required || submitF.frequency_value.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 							<div class="col-lg-3 ">
 							<div class="form-group mb-0 ">
 								<label> Platform</label><span class="red">*</span>							
 								<select  name="type" (change)="selectAssoc($event)" class="form-control custom-select mr-3 mr-lg-3"  formControlName="connector_association" [ngClass]="{'is-invalid': submitF.connector_association.errors && submitF.connector_association.touched}">
									<option value="" disabled>Select Platform</option>
									<option *ngFor="let list of platformList; let i = index" value="{{list.Platform}}">{{list.Platform}}</option>
									
 								</select>
 								<div *ngIf="submitF.connector_association.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_association.errors.required || submitF.connector_association.touched || submitF.submitted">Please enter valid data</div>
								</div>		
 							</div>
 						</div>
 						<div class="col-lg-3">
 							<div class="form-group mb-0 ">
 							<label>Service</label><span class="red">*</span>
 							<select  name="type"  class="form-control custom-select "  formControlName="assoc_value" [ngClass]="{'is-invalid': submitF.assoc_value.errors && submitF.assoc_value.touched}">
									<option value="" disabled>Select Service</option>
									<option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service}}">{{serv.Service}}</option>
 								</select>
 							<!-- <input type="text" formControlName="assoc_value" class="form-control" id="assoc_value" [ngClass]="{'is-invalid': submitF.assoc_value.errors && submitF.assoc_value.touched}"> -->
							<div *ngIf="submitF.assoc_value.errors " class="invalid-feedback">
							<div *ngIf="submitF.assoc_value.errors.required || submitF.assoc_value.touched || submitF.submitted">Please enter valid data</div>
							</div>
 						</div>
 					</div>
 					</div>
 				
 				
 					<div class="row">
 						<div class="col-lg-12">
 							
 							<div class="form-group  mrgn-1">
 								<label> Connector Type</label><span class="red">*</span>							
 								<select  name="type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="connector_type" (change)="selectConnectorType($event)"  [ngClass]="{'is-invalid': submitF.connector_type.errors && submitF.connector_type.touched}">
 									<!-- <option value="" disabled>Select Connector Type</option>
									<option value="AWS_IAM_USER">AWS IAM User</option>
									<option value="AWS_IAM_ROLE">AWS IAM Role</option> -->
												
 								<option *ngFor="let ctype of connectortype" [ngValue]="ctype.val">{{ctype.name}}</option>
 								</select>
 								<div *ngIf="submitF.connector_type.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_type.errors.required || submitF.connector_type.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						
 						</div>
 					</div>
 						
 					</div>		
 					
 				</div>	
 				
 			</form>
 		</div>
 
 <div class="modal-footer btn_wrap1 justify-content-between">
 				<div>
 					<button *ngIf="eID" type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" (click)="delConnector(eID)">
 						Delete 
 					</button>  
 				</div>
 				<div class="d-flex">
 					<div class="mr-2">
 						<button *ngIf="eID" type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
 							Cancel
 						</button>
 					</div>
 					<div>
 						<button *ngIf="eID" (click)="submit(formConnector)" class="btn saveplatform theme-btn btn-info rounded-0 ">Update</button>
 						<button *ngIf="vID" (click)="closeform()" class="btn btn-secondary rounded-0 cancel-btn">Cancel</button>
 					</div>
 				</div>


 			</div>
</div>
