<header class="header pt-xl-2 pb-xl-2 pt-1 pb-1">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex">
        <div class="logo">
          <a href="javascript:void(0)" (click)="LogoClick()"><img [src]="imagePath"></a>
        </div>
        <!-- <div class="nav-area">
          <ul class="mb-0"><li (click)="LogoClick()"><i class="fas fa-home"></i></li></ul>
        </div> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="login-menu1">
        <nav class="navbar navbar-dark navbar-expand-sm custmnav p-0 pt-1">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown customli">
           <div class="user-name text-white mr-1 mr-xl-2"><span>{{uName}}</span></div> 
        <a class="nav-link dropdown-toggle userinfos" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
         
        <div class="dropdown-menu custmdropmenu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="editprofile()" href="javascript:void(0)">Edit Profile</a>
         
          <a class="dropdown-item" *ngIf="isAdmin" (click)="mUser()" href="javascript:void(0)">Manage User</a>
          <a class="dropdown-item" *ngIf="isAdmin" (click)="mConnector()" href="javascript:void(0)">Manage Connector</a>
          <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
</nav>
 
          
        </div>
      </div>
    </div>
  </div>
</header>