.customnav {
    border-radius: 55px;
    height: 56px;
    width: 64px;
    font-size: 16px !important;
    margin: 0;
    padding: 0;
}
header.header {
    background: #404040;
}
.custmdropmenu {
   right: -1px;
   left: auto;
    @media(max-width: 1250px){
      
    }
}
.customli {
    display: flex;    align-items: center;
}
.custmdropmenu a {
    font-size: 14px;
    line-height: 20px;
        @media only screen and (max-width: 1250px) {
    font-size: 12px;
    line-height: 18px;
        }
}
.login-menu1 {
    float: right;
    @media only screen and (max-width: 767px) {
    float: none;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    }
}
.userinfos {
    height: 35px;
    width: 35px;
    background: #fff;
    color: #404040 !important;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    @media only screen and (max-width: 1250px) {
        height: 28px;
        width: 28px;
        font-size: 18px;
        line-height: 28px;
        padding: 0px !important;
    }
    &:after {
        display:none;
    }
    i {

    }
}
.custmdropmenu {
    a {
        padding-top: 5px; 
        padding-bottom: 5px;
    }
}
.nav-area {
    color: #ffffff;
}
.nav-area ul {
    padding-top: 6px;
    padding-left: 14px;
}
.nav-area li {
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}
@media only screen and (max-width: 1250px) {
    .logo {
        max-width: 160px;
    }
}
@media only screen and (max-width: 767px) {

button.navbar-toggler {
    margin: auto;
}
.userinfos{
    margin:auto;
    float: none;
}
}