<ul class="pull-left breadcrumb" *ngIf="breadcrumb.length > 0 && breadcrumb[0].type == 'base'">
  <li *ngIf="breadcrumb[0]">
    <a [href]="breadcrumb[0].link"><i class="fa fa-home margin-right-5 text-large text-dark"></i>{{breadcrumb[0].name}}</a>
  </li>
  <li>{{breadcrumb[1].name}}</li> 
</ul>
<ul class="pull-left breadcrumb" *ngIf="breadcrumb.length > 0 && breadcrumb[0].type == 'plat'">
  <li *ngIf="breadcrumb[0]">
    <a [href]="breadcrumb[0].link"><i class="fa fa-home margin-right-5 text-large text-dark"></i>{{breadcrumb[0].name}}</a>
  </li>
  <li>{{breadcrumb[1].name}}</li> 


</ul>
<ul class="pull-left breadcrumb" *ngIf="breadcrumb.length > 0 && breadcrumb[0].type == 'serv'">
  <li *ngIf="breadcrumb[0]">
    <a [href]="breadcrumb[0].link"><i class="fa fa-home margin-right-5 text-large text-dark"></i>{{breadcrumb[0].name}}</a>
  </li>
  <li class="hyperlink" (click)="goback()">{{breadcrumb[1].name}}</li> 
  <li>{{breadcrumb[2].name}}</li> 

</ul>
