 <div class="modal-dialog modal-dialog modal-lg" >
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Provision</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">&times;</button>
    </div>
    <div class="modal-body formstyle2">
       	<form [formGroup]="provision" (ngSubmit)="submitForm(provision)" name="provision">					
			<div class="row d-flex align-items-end">
				<div class="col-md-12">
					<div class="form-group ">
						
						<label>Platform</label>
						<!-- <select formControlName="platform"  class="custom-select mr-3" id="">
							<option value="" disabled>Select a Platform </option>
							<option value="1">Platform Name </option>
							<option value="2">Platform Name </option>
							<option value="3">Platform Name </option>
						</select> -->
						<select formControlName="platform" class="custom-select mr-3" [(ngModel)]="selectedVal" (change)="selected()">
						<option value="" disabled>Select a platform</option>
						<option *ngFor="let list of platformList; let i = index" value="{{list.Platform}}">{{list.Platform}}</option>
						
						
					</select>		
					</div>
				</div>
			</div>

			<div class="row d-flex align-items-end">
				<div class="col-md-12">
					<div class="form-group ">
						<label>Service</label>
						<!-- <select formControlName="service" class="custom-select mr-3" id="">
							<option value="" disabled>Select a Service</option>
							<option value="1">Service Name</option>
							<option value="2">Service Name</option>
							<option value="3">Service Name</option>
						</select> -->
						<select formControlName="service" class="custom-select mr-3" [(ngModel)]="selectedValService" (change)="selectedServ()">
						<option value="" disabled>Select a Service</option>
						<option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service}}">{{serv.Service}}</option>
						
						
					</select>		
					</div>
				</div>
			</div>

			<div class="row d-flex align-items-end">
				<div class="col-md-6">
					<div class="form-group">
						<label>Resource ID</label>
						<input type="text" formControlName="resourceId"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Instance ID</label>
						<input type="text" formControlName="instanceId"/>
					</div>
				</div>
			</div>
			
			<div *ngFor="let addressGroup of provision.get('platformfields')['controls']; let i = index" [formGroup]="addressGroup">
				<div class="row d-flex align-items-end" *ngIf="show">
				 	<div class="col-md-12" *ngFor="let fList of passList; let i = index">
						 <div class="form-group" *ngIf="fList.type != 'selector'">
							<label>{{fList.label}}</label>
							<input type="{{fList.type}}" formControlName="platField"/>
						</div>
						<div class="form-group" *ngIf="fList.type == 'selector'">
							<label class="onerow-heading">{{fList.label}}</label>
							<div class="col-md-6 onerow">
							<input type="text" formControlName="platField"/>
						</div>
						<div class="col-md-6 onerow">
							<input type="text" formControlName="platField"/>
						</div>
						</div>		
					</div>		
				</div>
			</div>

						<!-- <div class="row d-flex align-items-end">
							<div class="col-md-12">
								<div class="form-group ">
									<label>Time selection type</label>
								<div class="d-flex slct">
									<select class="custom-select" id="">
										<option selected>Hour</option>
										<option value="1">12</option>
										<option value="2">11</option>
										<option value="3">10</option>
									</select>
									<select class="custom-select" id="">
										<option selected>Minute</option>
										<option value="1">00</option>
										<option value="2">01</option>
										<option value="3">02</option>
									</select>
									<select class="custom-select" id="">
										<option selected>AM/PM</option>
										<option selected>AM</option>
										<option value="1">PM</option>
										
									</select>
								</div>
								</div>
							</div>
							
						</div> -->


					<!-- <div class="row d-flex align-items-end">
							<div class="col-md-12">
								<div class="form-group ">
									<label>Time selection type</label>
								<input type="text">
								</div>
							</div>
							
						</div> -->
		
		</form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
        Cancel
      </button> 
      <button class="btn theme-btn btn-info rounded-0 ml-4 px-6 py-2" (click)="submitForm(provision)" type="submit">Create</button>
		

    </div>
  </div>
</div>
