<section class="bg-white">
  <div class="  pb-1">

   <div class="modal-header">
    <h4 class="modal-title">Add user</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
  </div>
  <div class="modal-body pl-0 pr-0  ">    
    <div class="row h-100 justify-content-center align-items-center newform_style">

      <div class="col-md-12">
        <form [formGroup]="customerForm" (ngSubmit)="closeSelectModal(customerForm)" name="account-form"> 
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="username"> Username </label>
                <input type="text" formControlName="username" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.username.errors && customerF.username.touched}">
                <div *ngIf="customerF.username.errors " class="invalid-feedback">
                  <div *ngIf="customerF.username.errors.required">USERNAME is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name"> Name </label>
                <input type="name" formControlName="name" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.name.errors && customerF.name.touched}">
                <div *ngIf="customerF.name.errors " class="invalid-feedback">
                  <div *ngIf="customerF.name.errors.required">NAME is required</div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
             <div class="form-group show_password">
              <label for="password"> Password  </label>
              <input appAppPassword type="password" formControlName="password" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.password.errors && customerF.password.touched}">
              <span (click)="genPass()" class="gen-pass">generate password?</span>
              <div *ngIf="customerF.password.errors " class="invalid-feedback">
                <div *ngIf="customerF.password.errors.required && customerF.password.touched">PASSWORD is required & must contain 
                  <span>a lower case letter,</span>
                  <span>an upper case letter,</span>
                  <span>a special case letter,</span>
                  <span> a number</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">

           <div class="form-group">
            <label for="phone"> Phone </label>
            <input type="text" formControlName="phone" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': (!customerForm.get('phone').valid &&  customerForm.get('phone').touched)}">
            <div *ngIf="(!customerForm.get('phone').valid && 
            customerForm.get('phone').touched)" class="invalid-feedback">
            Enter Valid phone number(+XXXXXXXXXXXX)
          </div>

        </div>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-6">
      <div class="form-group">
        <label for="customerEmail"> Email </label>
        <input type="email" formControlName="customerEmail" class="form-control"
        id="customerEmail" placeholder="Email"
        [ngClass]="{ 'is-invalid': customerF.customerEmail.errors && customerF.customerEmail.touched}">
        <div *ngIf="(!customerForm.get('customerEmail').valid && 
        customerForm.get('customerEmail').touched)" class="invalid-feedback">Email is required
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="type"> Type</label>
      <select name="type" formControlName="type" [disabled]="true" class="form-control"
      [ngClass]="{ 'is-invalid': customerF.type.errors && customerF.type.touched}">
      <option value="">&nbsp;</option>
      <option value="Standard">Standard</option>
      <option value="Administrator">Administrator</option>
      <option value="Super-Admin">Super Admin</option>
    </select>
    <div *ngIf="customerF.type.errors " class="invalid-feedback">
      <div *ngIf="customerF.type.errors.required">Type is required</div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
   <label for="type"> Enable MFA?</label>
   <input type="radio" formControlName="mfa" value="yes">Yes
   <input type="radio" formControlName="mfa" checked value="no">No

 </div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="modal-footer justify-content-between">
  <div>
 <!--    <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->
  </div>
  <div>
    <div>
      <button type="button" class="cancelbtn1  btn btn-secondary rounded-0 cancel-btn same_width mr-2" data-dismiss="modal" (click)="closeform()">
        Cancel
      </button>
      <button type="submit" (click)="closeSelectModal(customerForm)" class="btn theme-btn saveplatform btn-info rounded-0 ml-3">Create </button> 
    </div>
  </div>
</div>
</div>
</section>
