 <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
</div>
<section class="bg-white">
  <div class="  pb-1">

   <div class="modal-header">
    <h4 class="modal-title">Add User</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
  </div>
  <div class="modal-body pl-0 pr-0  ">    
    <div class="row h-100 justify-content-center align-items-center newform_style">

      <div class="col-md-12">
        <form [formGroup]="customerForm"  (ngSubmit)="closeSelectModal(customerForm)" name="account-form"> 
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="username"> Username </label><span class="red">*</span>
                <input type="text" formControlName="username" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.username.errors && customerF.username.touched || unErr}">
                <div *ngIf="customerF.username.errors " class="invalid-feedback">
                <div *ngIf="customerF.username.errors.required || customerF.username.touched || customerF.submitted"> USERNAME is required</div>
              </div>
                <div class="mCode" *ngIf="unErr"> {{showerrMsg}}</div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name"> Name </label><span class="red">*</span>
                <input type="name" formControlName="name" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.name.errors && customerF.name.touched}">
                <div *ngIf="customerF.name.errors " class="invalid-feedback">
                <div *ngIf="customerF.name.errors.required || customerF.name.touched || customerF.submitted"> NAME is required</div>
              </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
             <div class="form-group show_password">
              <label for="password"> Password  </label><span class="red">*</span>
              <input appAppPassword type="password" formControlName="password" class="form-control" placeholder="" [ngClass]="{'is-invalid': customerF.password.errors && customerF.password.touched}">
              <span (click)="genPass()" class="gen-pass">generate password?</span>
              <div *ngIf="customerF.password.errors " class="invalid-feedback">
                <div *ngIf="customerF.password.errors.required || customerF.password.touched || customerF.submitted">PASSWORD is required & must contain 
                  <span>min 14 Charachters,</span>
                  <span>a lower case letter,</span>
                  <span>an upper case letter,</span>
                  <span>a special character,</span>
                  <span> a number</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">

           <div class="form-group">
            <label for="phone"> Phone </label><span class="red">*</span>
            <input type="text" formControlName="phone" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': (!customerForm.get('phone').valid &&  customerForm.get('phone').touched || phErr)}">
            <div *ngIf="(!customerForm.get('phone').valid && 
            customerForm.get('phone').touched) || customerF.submitted" class="invalid-feedback">
            Enter Valid phone number(+XXXXXXXXXXXX)
          </div>
          <div class="mCode" *ngIf="phErr"> {{showerrMsg}}</div>
        </div>
      </div>
    </div>
    <div class="row">
     <div class="col-lg-6">
      <div class="form-group">
        <label for="customerEmail1"> Email </label><span class="red">*</span>
        <input type="email" formControlName="customerEmail1" class="form-control"
        id="customerEmail1" placeholder=""
        [ngClass]="{ 'is-invalid': customerF.customerEmail1.errors && customerF.customerEmail1.touched || emErr}">
        <div *ngIf="(!customerForm.get('customerEmail1').valid && 
        customerForm.get('customerEmail1').touched) || customerF.submitted" class="invalid-feedback">Email is required
      </div>
      <!-- <div *ngIf="customerF.customerEmail.errors.customerEmail">Email must be a valid email address</div> -->
      <div class="mCode" *ngIf="emErr"> {{showerrMsg}}</div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <label for="type"> Type</label><span class="red">*</span>
      <select name="type" formControlName="type" [disabled]="true" class="form-control"
      [ngClass]="{ 'is-invalid': customerF.type.errors && customerF.type.touched}">
      <option value="">&nbsp;</option>
      <option value="Standard">Standard</option>
      <option value="Administrator">Administrator</option>
      <option value="Super-Admin">Super Admin</option>
    </select>
    <div *ngIf="customerF.type.errors " class="invalid-feedback">
      <div *ngIf="customerF.type.errors.required || customerF.type.touched || customerF.submitted">Type is required</div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
   <label for="type"> Enable MFA?</label><span class="red">*</span>
   <input [ngClass]="{ 'is-invalid': customerF.mfa.errors && customerF.mfa.touched}" type="radio" formControlName="mfa" value="yes">Yes
   <input [ngClass]="{ 'is-invalid': customerF.mfa.errors && customerF.mfa.touched}" type="radio" formControlName="mfa" checked value="no">No
    <div *ngIf="customerF.mfa.errors " class="invalid-feedback">
      <div *ngIf="customerF.mfa.errors.required || customerF.mfa.touched || customerF.submitted">Type is required</div>
    </div>
 </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
   <label for="type">Call back URL</label>
   <input type="url" formControlName="callurl" class="form-control" id="callurl" placeholder="Enter Url">
 </div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="modal-footer justify-content-between">
  <div>
 <!--    <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->
  </div>
  <div>
    <div>
      <button type="button" class="cancelbtn1  btn btn-secondary rounded-0 cancel-btn same_width mr-2" data-dismiss="modal" (click)="closeform()">
        Cancel
      </button>
      <button type="submit" (click)="closeSelectModal(customerForm)" class="btn theme-btn saveplatform btn-info rounded-0 ml-3">Create </button> 
    </div>
  </div>
</div>
</div>
</section>
