<div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
 <div class="mt-0 mb-0 custompopup" id="new-plate-form">
 	<div class="w-100  pb-1">
 		<div class="modal-header mh_2">
 			<h4 *ngIf="username" class="modal-title">Edit User</h4>
 			<h4 *ngIf="viewId" class="modal-title">View User</h4> 
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X </button>
 		</div>
 		<div class="modal-body p-0  newform_style ">     
 			<form [formGroup]="userForm" (ngSubmit)="submitForm(userForm)" name="userform" class="pb-0">	
 				<div class="" >
 					<div class="">
 					<div class="row d-flex align-items-start">
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> User Name</label><span class="red">*</span>							
 								<input type="text" readonly formControlName="userName" class="form-control" id="userName">
 							</div>
 						</div>
 					</div>
					<div class="row d-flex align-items-start">
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Name</label><span class="red">*</span>							
 								<input type="text" [readonly]='viewId' formControlName="name" class="form-control" id="name" [ngClass]="{'is-invalid': userFormF.name.errors && userFormF.name.touched}">
 								<div *ngIf="userFormF.name.errors " class="invalid-feedback">
				                  <div *ngIf="userFormF.name.errors.required">Name is required</div>
				                </div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Email</label><span class="red">*</span>							
 								<input type="email"  formControlName="userEmail" class="form-control" id="userEmail" [ngClass]="{'is-invalid': userFormF.userEmail.errors && userFormF.userEmail.touched}">
 								<div *ngIf="userFormF.userEmail.errors " class="invalid-feedback">
				                  <div *ngIf="userFormF.userEmail.errors.required">Email is required</div>
				                </div>
 							</div>
 						</div>
 					</div>
 						<!-- <div class="row d-flex align-items-start">
 						
 					</div> -->
 					<div class="row d-flex align-items-start">
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Phone</label><span class="red">*</span>							
 								<input type="text" [readonly]='viewId' formControlName="userPhone" class="form-control" id="userPhone" [ngClass]="{ 'is-invalid': (!userForm.get('userPhone').valid && userForm.get('userPhone').touched)}">
 								 <div *ngIf="(!userForm.get('userPhone').valid && 
						            userForm.get('userPhone').touched)" class="invalid-feedback">
						            Enter Valid phone number(+XXXXXXXXXXXX)
						          </div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div *ngIf="!viewId" class="form-group mb-0 mrgn-1">
 								<label for="type"> Type</label><span class="red">*</span>
				                <select  name="type" formControlName="type" [disabled]="viewId" class="form-control">
				                 <option [disabled]="viewId" *ngFor="let role of userRoles"  value="{{role.name}}">{{role.value}}</option>
	                			
				                </select>
 							</div>
 							<div *ngIf="viewId" class="form-group mb-0 mrgn-1">
 								<label for="type"> Type</label><span class="red">*</span>
				                <select disabled name="type" formControlName="type" [disabled]="viewId" class="form-control">
				                 <option [disabled]="viewId" *ngFor="let role of userRoles"  [ngValue]="role.name">{{role.value}}</option>
	                			
				                </select>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Callback URL</label>							
 								<input type="text" [readonly]='viewId' formControlName="callurl" class="form-control" id="callurl">
 								 
 							</div>
 						</div>
 					</div>
 					
 					
 					<!-- <div class="row d-flex align-items-start">
 						
 					</div> -->

 					</div>		
 					
 				</div>	
 				
 			</form>
 		</div>
 		 	<div class="modal-footer justify-content-between">
 		 		<div>
 		 		<button *ngIf="!viewId"type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="delUser(uname)">Delete</button>	
 		 		</div>
 		 		<div>
 			<button *ngIf="username" type="button" class="mr-0 btn btn-secondary rounded-0 cancel-btn same_width" data-dismiss="modal" (click)="closeform()">
 				Cancel
 			</button> 
 			<button *ngIf="username" class="saveplatform btn theme-btn btn-info rounded-0 ml-2 same_width" (click)="submitForm(userForm)" type="submit">Update </button>
 			<button *ngIf="viewId" class="cancel-btn btn theme-btn btn-info rounded-0 ml-4 " (click)="closeform()" type="submit">Cancel</button>
 			</div>
 		</div>
 	</div>
 </div>
