  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
 <div class="modal-dialog modal-dialog modal-lg" >
 	<div class="modal-content border-none">
 		<div class="w-100  pb-1">
 			<div class="modal-header">
 				<h4 *ngIf="platId" class="modal-title">Edit Platform </h4>
 				<h4 *ngIf="viewId" class="modal-title">View Platform</h4>
 				 <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button> 
 			</div>
 			<div class="modal-body formstyle2" *ngIf="viewId"> 
 				<form [formGroup]="PlatForm" (ngSubmit)="submitForm(PlatForm)">	
 					<div class="bodyarea scrollbar" id="style-3">
 					<div class="space_style">				
 						<div class="row d-flex align-items-start">
 							<div class="col-md-6">
 								<div class="form-group ">
 									<label>Platform Name </label><span class="red">*</span>
 									<input readonly type="text" #platformId name="platformId" formControlName="platform" />
 								</div>
 							</div> 
 						</div>
 					</div>
 					<div class="space_style">
						<div class="row">
						<div class="form-group mb-0 col-lg-6" *ngFor="let fList of compArray; let i=index">
							<label>Field {{i+1}}</label><span class="red">*</span>
							<div class="d-flex">
			                	
								<input type="text" readonly name="{{fList.type}}" id="{{fList.type}}{{i}}" class="option_input1 newww mr-2 pl-1" value="{{fList.name}}" #field  /> 

								<input *ngIf="fList.type == 'field-s'" type="text" [readonly]="viewId" name="{{fList.name}}" class="option_input2 {{fList.type}}{{i}} mr-2 pl-1" value="{{fList.val}}" #field  /> 

								 <input *ngIf="fList.type == 'field-ms'" type="text" [readonly]="viewId" name="" class="option_input3 {{fList.type}}{{i}} ml-2 pl-1" value="{{fList.val}}" #field  />
								 <input *ngIf="fList.type == 'field-sn'"  type="text" [readonly]="viewId" name="" class="option_input4 {{fList.type}}{{i}} ml-2 pl-1" value="{{fList.val}}" #field  />  

								 <select name="type"  #field  [disabled]="viewId" class="form-control option_input pl-1 pr-0" >
			                  <option *ngFor="let field of arr" [disabled]="dis" [selected]="field.ftype == fList.type" value="{{field.ftype}}" [ngValue]="field.ftype" >{{field.exacttype}}</option>
			                </select>

							</div>
						</div>
							<div class="col-lg-6" *ngFor="let addressGroup of PlatForm.get('services')['controls']; let i = index" [formGroup]="addressGroup">
 							<div class="row d-flex align-items-end">
 								<div class="col-md-12">
 									<div class="form-group services-box">						
 										<label>Field {{oldLength + i+1}}</label>
 										<div class="d-flex ">
 											<input type="text" formControlName="ServiceFieldValue" class="form-control newww mr-2">
 											<input *ngIf="nARray.includes(i)" type="text" formControlName="ServiceFieldValue1" class="form-control">
 											<a href="javascript:void(0)" (click)="deleteAddressGroup(i)" class="add-new-field sideaddnew"><i class="fa fa-minus" aria-hidden="true"></i></a>
 											<select  (change)="typeChange($event,i)" class="custom-select mr-2" formControlName="serviceFields">
 											<option value="Support Email">Support Email*</option>
											<option value="field-a">Alphabet only</option>
											<option value="field-d">Date</option>
											<option value="field-dt">Date & time</option>
											<option value="field-e">Email</option>
											<option value="field-me">Emails (comma separated)</option>
											<option value="field-m">Mixed String</option>
											<option value="field-mm">Mixed String (comma separated)</option>
											<option value="field-x">Mixed Encrypted</option>
											<option value="field-n">Number only</option>
											<option value="field-s">Select</option>
											<option value="field-ms">Selects (comma separated)</option>
											<option value="field-sn">Select or Add new</option>
 											</select>
 											
 										</div>
 									</div>
 								</div>
 							</div>
 						</div>
 						</div>
					</div>
					<div class="row">
 						
 					
 						<span *ngIf="showerror" class="is-invalid errormsg">All fields required</span>	
 					</div>
					<div class=" no-style pt-1 pt-xl-3" *ngIf="show_new_fields && !viewId">	
 					<div class="row d-flex align-items-end">
 						<div class="col-md-12">
 							<a #addserviceClick href="javascript:void(0)" (click)="addNewAddressGroup()" class="add-new-field add_field"><i class="fa fa-plus" aria-hidden="true"></i>Add New Field</a>
 						</div>				
 					</div>	
 				</div>
 					</div>
 			

 				</form>

 			</div>
 			<div class="modal-body formstyle2" *ngIf="platId"> 
 				<form [formGroup]="PlatForm" (ngSubmit)="submitForm(PlatForm)">	
 					<div class="bodyarea scrollbar" id="style-3">
 					<div class="space_style">				
 						<div class="row d-flex align-items-start">
 							<div class="col-md-6">
 								<div class="form-group ">
 									<label>Platform Name </label><span class="red">*</span>
 									<input type="text" #platformId name="platformId" formControlName="platform" />
 								</div>
 							</div> 
 						</div>
 					</div>
 					<div class="space_style">
						<div class="row">
						<div class="form-group mb-0 col-lg-6" *ngFor="let fList of compArray; let i=index">
							<label>Field {{i+1}}</label><span class="red">*</span>
							<div class="d-flex">
			                	
								<input type="text"  name="{{fList.type}}" id="{{fList.type}}{{i}}" class="option_input1 newww mr-2 pl-1" value="{{fList.name}}" #field  /> 

								<input *ngIf="fList.type == 'field-s'" type="text" name="{{fList.name}}" class="option_input2 {{fList.type}}{{i}} mr-2 pl-1" value="{{fList.val}}" #field  /> 

								 <input *ngIf="fList.type == 'field-ms'" type="text" name="" class="option_input3 {{fList.type}}{{i}} ml-2 pl-1" value="{{fList.val}}" #field  />
								 <input *ngIf="fList.type == 'field-sn'"  type="text" name="" class="option_input4 {{fList.type}}{{i}} ml-2 pl-1" value="{{fList.val}}" #field  />  

								 <select name="type"  #field  [disabled]="viewId" class="form-control option_input pl-1 pr-0" >
			                  <option *ngFor="let field of arr" [disabled]="dis" [selected]="field.ftype == fList.type" value="{{field.ftype}}" [ngValue]="field.ftype" >{{field.exacttype}}</option>
			                </select>

							</div>
						</div>
							<div class="col-lg-6" *ngFor="let addressGroup of PlatForm.get('services')['controls']; let i = index" [formGroup]="addressGroup">
 							<div class="row d-flex align-items-end">
 								<div class="col-md-12">
 									<div class="form-group services-box">						
 										<label>Field {{oldLength + i+1}}</label>
 										<div class="d-flex ">
 											<input type="text" formControlName="ServiceFieldValue" class="form-control newww mr-2">
 											<input *ngIf="nARray.includes(i)" type="text" formControlName="ServiceFieldValue1" class="form-control">
 											<a href="javascript:void(0)" (click)="deleteAddressGroup(i)" class="add-new-field sideaddnew"><i class="fa fa-minus" aria-hidden="true"></i></a>
 											<select  (change)="typeChange($event,i)" class="custom-select mr-2" formControlName="serviceFields">
 											<option value="Support Email">Support Email*</option>
											<option value="field-a">Alphabet only</option>
											<option value="field-d">Date</option>
											<option value="field-dt">Date & time</option>
											<option value="field-e">Email</option>
											<option value="field-me">Emails (comma separated)</option>
											<option value="field-m">Mixed String</option>
											<option value="field-mm">Mixed String (comma separated)</option>
											<option value="field-x">Mixed Encrypted</option>
											<option value="field-n">Number only</option>
											<option value="field-s">Select</option>
											<option value="field-ms">Selects (comma separated)</option>
											<option value="field-sn">Select or Add new</option>
 											</select>
 											
 										</div>
 									</div>
 								</div>
 							</div>
 						</div>
 						</div>
					</div>
					<div class="row">
 						
 					
 						<span *ngIf="showerror" class="is-invalid errormsg">All fields required</span>	
 					</div>
					<div class=" no-style pt-1 pt-xl-3" *ngIf="show_new_fields && !viewId">	
 					<div class="row d-flex align-items-end">
 						<div class="col-md-12">
 							<a #addserviceClick href="javascript:void(0)" (click)="addNewAddressGroup()" class="add-new-field add_field"><i class="fa fa-plus" aria-hidden="true"></i>Add New Field</a>
 						</div>				
 					</div>	
 				</div>
 					</div>
 			

 				</form>

 			</div>
 					<div class="modal-footer btn_wrap1 justify-content-between">

 						<div>
 						<button *ngIf="platId" type="button" [disabled]="delbtnDisable" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" (click)="delPlatformRes(pname)">
 							Delete 
 						</button>  
 						</div>
 						<div>
 						 <button type="button" class="cancelbtn1 btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
 							Cancel
 						</button>
 						  
 						<button *ngIf="platId" class="saveplatform btn resourcesbtn theme-btn btn-info rounded-0 ml-2" (click)="submitForm(PlatForm)">Update</button>

 					</div>
 					</div>
 		</div>
 	</div>
 </div>
