<section class="bg-white ">
    <div class=" custom-container pt-0 pb-2">
       <div class="row">
        <div class="col-md-12">
    <div class="top-bar">     
    <div class="float-left">     
        <app-breadcrumb></app-breadcrumb> 
    </div>
  </div>
   </div>
 </div>
 <!-- <span *ngIf="anyPlat" class="bcrumb">{{stelectedPlatform}}</span>  
            <span *ngIf="anyService" class="bcrumb"> >> {{selectServ}}</span> -->
<!-- <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table> -->
        <div class="row " >
            <div class="col-md-4 d-flex select-boxrow" >
                <div class="form-group platform mr-1 mr-lg-2" >
                  <span class="wrappermain">
                     <span class="caret_wrap"><!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
                       <fa-icon [icon]="faCaretDown"></fa-icon>
                     </span>
                     </span>
                    <select class="custom-select bg_white bg-white" [(ngModel)]="selectedVal" (change)="selected()">
                        <option value="" disabled>Select a platform</option>
                        <option *ngFor="let list of platformList; let i = index" value="{{list.Platform+'__'+list.Index_type}}">{{list.Platform}}</option>               
                        
                    </select>
                </div>
                <div class="form-group platform ml-1 ml-lg-2" >
                     <span class="wrappermain">
                     <span class="caret_wrap"><!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
                       <fa-icon [icon]="faCaretDown"></fa-icon>
                     </span>
                     </span>
                    <select   class="custom-select bg_white bg-white"  [(ngModel)]="selectedValService" (change)="selectedservice()">
                        <option value="" disabled>Select a Service</option>{{serviceList | json}}
                        <option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service+'__'+serv.Index_type}}">{{serv.Service}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 pl-0 select-boxrow d-sm-flex additemrow">

        

            <!--    <button class="btn theme-btn ml-1 ml-lg-2 mr-1" *ngIf = "globalName" (click)="openPlatform()"><i class="fas fa-plus"></i>Add Platform </button>
                <button class="btn theme-btn ml-1 ml-lg-2 mr-1" *ngIf = "viewName" (click)="resouce()"><i class="fas fa-plus"></i>Add Resource</button>
               <button class="btn theme-btn ml-1 ml-lg-2 mr-1" *ngIf = "globalName" (click)="openService()"><i class="fas fa-plus"></i>Add Service</button>
               <button class="btn theme-btn ml-1 ml-lg-2 mr-1" *ngIf = "viewName" (click)="instance()"><i class="fas fa-plus"></i>Add Instance</button>
           
               
                
              <button [disabled]="customize" class="btn  btn-light ml-1 ml-lg-2" (click)="open(content)">Customize Columns</button>-->

<div class="select-boxrow w-100" *ngIf="showAddButton">
         <div class="custom-select custom-select2 pt-0 pb-0">
       
             <div ngbDropdown class="">
<span class="actve_btn" id="dropdownBasic1ll" ngbDropdownToggle>
   <span class="caret_wrap">
          <!-- <i class="fa fa-caret-down" aria-hidden="true"></i> -->
          <fa-icon [icon]="faCaretDown"></fa-icon>
</span>
 <!--  <i class="fas fa-plus"></i> Add -->
<fa-icon [icon]="faPlus"></fa-icon> Add</span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1ll" class="btnslist" >       
           <ul class="p-0 m-0">
             <li>
               <button class="" *ngIf = "globalName" (click)="openPlatform()">Add Platform </button>
             </li>
             <li>
               <button class="" *ngIf = "viewName" (click)="resouce()">Add Resource</button>
             </li>
             <li><button class="" *ngIf = "globalName" (click)="openService()">Add Service</button></li>
             <li>
               <button class="" *ngIf = "viewName" (click)="instance()">Add Instance</button>
             </li>
           </ul>        
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-md-6">      
                   <div class="justify-content-end d-flex view_btns"> 
            <button class="btn theme-btn rounded-0 active" (click)="ChangeView('graph')"> <fa-icon [icon]="faChartBar"></fa-icon> Graph View</button>
            <button class=" ml-2 btn theme-btn rounded-0 text-light" (click)="ChangeView('table')">
                   <fa-icon [icon]="faTable"></fa-icon> Table View</button>
        </div>         
            </div>
        </div>
    </div>

    <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">

    </div>
    <!-------------Chart View----------------------->

    <div class="chartview" *ngIf="this.chartview">

    <div class="custom-container pt-3  ">
        <div class="row m-0"> 
          <div class="col-md-7 p-0">
             <div class="row m-0"> 
      <div class="col-md-6 pr-0 pl-0  border-dark-1 border-bottom-0">
        <div class="row m-0">
             <div class="col-md-6 p-0 border-right-dark"> 
              <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0">
                  <div class="title_icon">
                    <fa-icon [icon]="faCloud"></fa-icon>
                  </div>
                </div>
                 <div class="col-md-10 pr-0 pl-0">
              <div class="box1 titlestyle">               
        <div class="headings color_blue">CLOUD PLATFORMS: </div>
        <div class="value_wrap text-center color_blue">{{cplatform}}</div>
      </div>
    </div>
  </div>
    </div>

             <div class="col-md-6 p-0">
               <div class="row m-0 border-bottom-dark">
                     <div class="col-md-2 pr-0">
                  <div class="title_icon">
                   <fa-icon [icon]="faCog"></fa-icon>                   
                  </div>
                </div>
                  <div class="col-md-10 pr-0 pl-0">
                <div class="box2 titlestyle">
        <div class="headings color_green">CLOUD SERVICES: </div>
         <div class="value_wrap text-center color_green">{{cservice}}</div>
      </div>
             </div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-12 pt-4">
                  <div class="mid-head">
                    <div class="position-relative">
        <h5 class="main_title">RESOURCE OVERVIEW PER PLATFORM</h5>
           <div class="chart_dropdown chart_dropdown2">

             <div ngbDropdown class="">
<span class="togglestyle" id="resourceoverview" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="resourceoverview" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chartd')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chartd')">jpg</a></li>                      
           </ul>        
      </div>
    </div>    

   </div>
   </div>
        <google-chart #chartd id="chartd"
           [title]="titled"
           [type]="typed"
           [data]="datad"
           [columns]="columnNamesd"
           [options]="optionsd"
           [width]="widthdd"
           [height]="heightdd">
        </google-chart>
        <p>{{cresource}} resources across {{cplatform}} platforms</p>
      </div>
          </div>
        </div>
      </div>
            <div class="col-md-6 pr-0 pl-0  border-dark-1 border-bottom-0 border-left-0">
        <div class="row m-0">
             <div class="col-md-6 p-0 border-right-dark"> 
              <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0"><div class="title_icon">
                  <fa-icon [icon]="faCog"></fa-icon>
                </div>
              </div>
<div class="col-md-10 pr-0 pl-0">
              <div class="box1 titlestyle">
        <div class="headings color_orange">CLOUD RESOURCES: </div>
        <div class="value_wrap text-center color_blue">{{cresource}}</div>
      </div>
    </div>
    </div>
  </div>

             <div class="col-md-6 p-0">
               <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0"><div class="title_icon">
                  <fa-icon [icon]="faWrench"></fa-icon>
                </div>
              </div>
              <div class="col-md-10 pr-0 pl-0">
                <div class="box2 titlestyle">
        <div class="headings color_purple">CLOUD INSTANCES: </div>
         <div class="value_wrap text-center color_green">{{cinstance}}</div>
      </div>
             </div>
           </div>
        </div></div>
        <div class="row">
          <div class="col-12 pt-4">
     <div class="mid-head">
      <div class="position-relative">
        <h5 class="main_title">INSTANCE OVERVIEW PER SERVICE AND PLATFORM</h5>
                <div class="chart_dropdown chart_dropdown2 ">

             <div ngbDropdown class="">
<span class="togglestyle" id="instanceoverview" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="instanceoverview" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chart1')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chart1')">jpg</a></li>            
          
           </ul>        
      </div>
    </div>    

   </div>
      </div>
        <google-chart *ngIf="showchart" #chart1 id="chart1"
           [title]="title"
           [type]="type"
           [data]="dataC"
           [columns]="columnNames"
           [options]="options"
           [width]="width22"
           [height]="height22">
        </google-chart>
        <p>{{cinstance}} instances of {{cservice}} services on {{cplatform}} platforms.</p>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <div class="col-md-5 border-dark-1 border-left-0 border-bottom-0">
          <div class="row border-bottom-dark">
             <div class="col-md-3 p-0">
               <div class="box2 titlestyle">
        <div class="headings ">TOTAL # REQUESTS: </div>
         <div class="value_wrap text-center">{{Trequest}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2 titlestyle">
        <div class="headings ">TOTAL # CREATES: </div>
         <div class="value_wrap text-center">{{Tcreate}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2 titlestyle">
        <div class="headings ">TOTAL # UPDATES: </div>
         <div class="value_wrap text-center">{{Tupdate}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2 titlestyle">
        <div class="headings ">TOTAL # DELETE: </div>
         <div class="value_wrap text-center">{{Tdelete}}</div>
      </div>             </div>
          </div>
          <div class="row">
            <div class="col-md-12 pt-4">
                  <div class="mid-head">
                    <div class="position-relative">
        <h5  class="main_title">PLATFORM USAGE LAST 6 MONTHS</h5>
        <div class="dubledropdown">
          <span class="dropdown ">
      <div class="navbar"> 
        <select  [(ngModel)]="selectedIns" (change)="selectedLineGraph()" >                
          <option value="daily">Daily</option>    
          <option value="weekly">Weekly</option>    
          <option value="monthly">Monthly</option> 
        </select>  
      </div>
    </span>
  </div>
                      <div class="chart_dropdown chart_dropdown2">

             <div ngbDropdown class="">
<span class="togglestyle" id="platformusage" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="platformusage" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chart2')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chart2')">jpg</a></li>            
          
           </ul>        
      </div>
    </div>    

   </div>
      </div>
        <google-chart *ngIf="showchart_line" #chart2 id="chart2"
           [title]="title"
           [type]="type_line"
           [data]="data_line"
           [columns]="columnNames_line"
           [options]="options_line"
           [width]="width"
           [height]="height">
        </google-chart>
        
      </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<div class="custom-container  mb-5 ">
<div class="bottomwrap1 ">
<div class="bottomwrap ">
<owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of fullDataArray ;let i = index">
      <ng-template carouselSlide [id]="slide.platform">
        <div class="box-left1" id="char_{{i}}">
          <div class="position-relative">
   <h2>{{slide.platform}} </h2> 
   <div class="chart_dropdown">
      
             <div ngbDropdown class="">
<span class="togglestyle" id="dropdownBasic1ll2" ngbDropdownToggle>

  <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1ll2" class="action_list">       
           <ul class="p-0 m-0">
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="viewplatformCharts(slide.platform)">View Platform</a></li>    
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="editplatformCharts(slide.platform)">Edit Platform</a></li>
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('char_'+i)">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('char_'+i)">jpg</a></li>                       
           </ul>        
      </div>
    </div>   

   </div>
 </div>
   <div class="main-box main_box2">
    <div class="box1">
            <div class="row m-0">
        <div class="col-md-6 p-0">
          <div class="headings">
        SERVICES  {{slide.servicecount}}
      </div>
       <div class="value_wrap text-center color_green">
       {{slide.servicecount}}
      </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="headings">
        INSTANCES 
      </div>
       <div class="value_wrap text-center color_purple">
         {{slide.instanceCount}}
       </div>
        </div>
        <div class="col-md-12 p-0">
           <div class="headings">
        ACCOUNTS 
      </div>
      <div class="value_wrap text-center color_brown">
           780
         </div>
        </div>
      </div>
     <div class="sub-head"> 

      

      
    </div>
   
  </div>

  <div class="box2">
    <div class="mid-head">
      <h5 class="charts_title2">INSTANCE DISTRIBUTION PER SERVICE</h5>
      <google-chart #chartdynamic id="chartdynamic_{{i}}"
      [title]="title"
      [type]="typed"
      [data]=slide.loopData
      [columns]=columnNamesd
      [options]="optionsd"
      [width]="widthd"
      [height]="heightd">
         </google-chart> 
     <!--  <p>2.510 resources across 3 platforms</p> -->
    </div>
  </div>
</div>

<div class="box-middle-bottom">
  <div class="mid-head">
    <div class="position-relative">
    <h5 class="charts_title2">INSTANCES PER MONTH</h5>
    <span class="dropdown dropdown222">
      <div class="navbar"> 
        <select  [(ngModel)]="selectedIntC[i]"(change)="selectedC(i,slide.platform)" >                   
          <option value="daily">Daily</option>    
          <option value="weekly">Weekly</option>    
          <option selected="selected" value="monthly">Monthly</option>     
        </select>   
      </div>
    </span>
  </div>
  <div class="bottom_chart">
     <google-chart #CheckCol id="CheckCol"
   [title]="titleI"
   [type]="typeI"
   [data]=dataI
   [columns]=columnNamesI
   [options]="optionsI"
   [width]="widthI"
   [height]="heightI">
</google-chart>
    <!-- <p>2.510 resources across 3 platforms</p> -->
  </div>
  </div>
   
</div>
</div>

      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
</div>
</div>
</div>


</div>


    <!-----------------table View-------------------->
<div class="tableview" *ngIf="!this.chartview">
    <div class=" custom-container pb-4 pb-4">
      <b class="set_row"><span *ngIf= "PlatformTable">Resource List</span></b>
          <div class="menucontainer">
             <div ngbDropdown class="d-inline-block download-btns dropdown movedropdwon">
      <button class="toggle_btn" id="dropdownBasic1" ngbDropdownToggle><!-- <i class="fas fa-ellipsis-v text-dark"></i> --><fa-icon [icon]="faEllipsisV" class="text-dark"></fa-icon></button>
      <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" >       
            <button [disabled]="customize" class="saprator btn_custmize dt-button  buttons-html5" (click)="open(content)">Customize Columns</button>          
      </ul>
    </div>
    </div>
        <div class="responsive-table table-responsive-sm table_design custom_design tablelayout">
           <!--  <span *ngIf="anyPlat" class="bcrumb">{{stelectedPlatform}}</span>
            <span *ngIf="anyService" class="bcrumb"> >> {{selectServ}}</span> -->
           <!--  <span *ngIf="backbtn" (click)="backBtn()" class="bcrumb"> << Back</span> -->
              
             
             <table datatable [dtOptions]="dtOptions" class="table table-data display nowrap table1" style="width:100%;" id="table1" *ngIf= "PlatformTable">
                <thead>
                    <tr *ngIf="PlatformTable">
                        <th>
                            <div class="iconbox">                         
                            
                            </div>
                        </th>
                        <th *ngFor="let head of resHeading">{{head | titlecase}}</th>                
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let data of resData; let i = index">
                        <td>
                            <div class="iconbox">
                                <span class="rowhidden">{{i+1}}</span>
                                <!-- <i class="fas fa-pencil-alt"  placement="right" ngbTooltip="Edit Resource" (click)="editPlatform(data.id,data.plat,data.index)" *ngIf="globalN" data-toggle="modal" ></i>
                                <i class="fas fa-eye" placement="right" ngbTooltip="View Resource" (click)="viewPlatform(data.id,data.plat,data.index)" data-toggle="modal" ></i> -->
                                <fa-icon [icon]="faPencilAlt" placement="right" ngbTooltip="Edit Resource" (click)="editPlatform(data.id,data.plat,data.index)" *ngIf="globalN" data-toggle="modal" class="spacee"></fa-icon>
                                <fa-icon [icon]="faEye" placement="right" ngbTooltip="View Resource" (click)="viewPlatform(data.id,data.plat,data.index)" data-toggle="modal"></fa-icon>
                               
                            </div>
                        </td>
                        <td *ngFor="let d of data.rec">{{d}}</td>                       
                    
                    </tr>
                </tbody>
            </table>
      <b><span *ngIf= "ServiceTable">Instance List</span></b>

            <table  datatable  [dtOptions]="dtOptions" class="table table-data display nowrap table1 newid" style="width:100%" id="table2" *ngIf= "ServiceTable">
               
                <thead>
                    <tr *ngIf="servValue">
                        <th width="10%">
                        </th>
                        <th *ngFor="let ser of servHeading">
                           {{ser | titlecase}}
                        </th>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let ser of servValue let i = index">
                        <td >
                             <div class="iconbox">
                                <span class="rowhidden">{{i+1}}</span>
                                <!-- <i class="fas fa-pencil-alt" placement="right" ngbTooltip="Edit Instance" data-toggle="modal" (click)="editProvision(ser.plat,ser.serv,ser.index)" *ngIf = "globalN"></i>
                                <i class="fas fa-eye" placement="right" ngbTooltip="View Instance" data-toggle="modal" (click)="viewProvision(ser.plat,ser.serv,ser.index)"></i> -->
                                 <fa-icon [icon]="faPencilAlt" placement="right" ngbTooltip="View Instance" data-toggle="modal" (click)="viewProvision(ser.plat,ser.serv,ser.index)" class="spacee"></fa-icon>
                                <fa-icon [icon]="faEye" placement="right" ngbTooltip="Edit Instance" data-toggle="modal" (click)="editProvision(ser.plat,ser.serv,ser.index)" *ngIf = "globalN"></fa-icon>
                            </div> 
                        </td>
                         <td *ngFor="let s of ser.val">
                          {{s}}
                        </td>
                    </tr>
                </tbody>
            </table>
            
          
            <table class="table table-data display nowrap platform_service" style="width:100%" id="table3" *ngIf= "tableplat">
                <thead>

                    <tr *ngIf="tableData">
                        <th width="20%" >Platform</th>
                        <th width="80%">Services</th>
                        
                    </tr>                   
                </thead>
                <tbody>

                    <tr *ngFor="let i of tableData">
                     
                        <td (click)="platformSelection(i.Platform,i.Index_type)" [shAttachMenu]="menu" [shMenuData]="i.Platform"><span>{{i.Platform}} <span class="clsCount">({{i.Count}})</span></span>
                          <sh-context-menu #menu>
                            <ng-template shContextMenuItem *ngIf="hidestandard" (click)="onClick($event,'edit')">
                                <div>Edit</div>
                            </ng-template>
                            <ng-template shContextMenuItem  (click)="onClick($event,'view')">
                                <div>View</div>
                            </ng-template>
                        </sh-context-menu>
                        </td>
                         
                            <td>
                            <span (click)="serviceSelection(ii.Service,i.Platform,ii.Index_type,i.Index_type)" [shAttachMenu]="menu1" [shMenuData]="ii.Service+'__'+i.Platform" *ngFor="let ii of sortArray(i.Services); let isLast=last"> {{ii.Service }} <span class="clsCount">({{ii.Count}}){{isLast ? '' : ', '}}</span></span>
                        
                        <sh-context-menu #menu1>
                          <ng-template shContextMenuItem  *ngIf="hidestandard" (click)="onClick1($event,'edit')"> 
                              <div>Edit</div>
                          </ng-template>
                          <ng-template shContextMenuItem  (click)="onClick1($event,'view')">
                              <div>View</div>
                          </ng-template>
                      </sh-context-menu>
                        </td>
                       
        
                        
                    </tr>

                  
                </tbody>
            </table>
        
    </div>
    </div>
  </div>
</section>



<!-- Customize Columns -->

 <div class="container">
   
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customize Columns</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body customize_columns">   
       <div class="row d-flex align-items-end mb-3"> 
        <div *ngFor="let column of columns let i = index " class="col-md-4">
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
               <input type="checkbox" id="checkbox{{column.position}}" value="{{column.position}}" [checked]="selectedColumn.includes(column.position)" (change)="checkValue($event,column.position,column.tableCls)">
          <label for="checkbox{{column.position}}"> {{column.name | titlecase}} </label>
        </div>
        </div>
      
    </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="saveplatform btn theme-btn btn-info rounded-0 ml-3" (click)="submitCHange(collectValue);modal.close('Save click')">Update</button>
  </div>
</ng-template>

</div> 