

.footer{
  a{
    color: #000;
  }
}
.rowhidden{
  display: none;
}
.responsive-table table th {
    border: 1px solid #404040;
    border-right: none;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    padding-top: 0;
    vertical-align: middle;
    margin-top: 0;
}
.iconbox i {
    font-size: 12px;
}


.table td {
    padding: 4px 10px;
    border: none;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
}

.responsive-table th .iconbox {

}

.additemrow button i {
    padding-right: 15px;
}

.additemrow button {
    font-family: HelveticaNeue;
}

.select-boxrow select {
    font-family: HelveticaNeue;
}
@media only screen and (max-width: 1500px) {
    .table {
        td{
            font-size: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }


    }
    .responsive-table table th{
      font-size: 10px;
  }
}
@media only screen and (max-width: 900px) {
    .table {
        td{
            font-size: 12px;
        }

    }
}
@media only screen and (max-width: 767px) {
    .table {
        th{
            line-height: 17px;
        }
    }
    .table_design tr th:nth-child(2) ,
    .table_design tr td:nth-child(2) 
    {
        min-width: 100px;
    }  
}
.sh-context-menu--item {
    padding: 2px 2px 2px 3px !important;
    font-size: 12px !important;
    line-height: 22px !important;
}
.sh-context-menu{
min-width: 68px !important;
}
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

table.dataTable thead th {
    padding-bottom: 0;

}
.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}
.clsCount {
  color: #ca3342;
}
.clsCount:hover {
  color: #ca3342;
}



/*.table-responsive div#example_filter {
    float: right !important;
}
.table-responsive div#example_length {
    float: left !important;
}
.fontSize {
    font-size: 40%;
}

.table-responsive {
    width: 100% !important;
    margin-bottom: 15px !important;
    overflow-y: hidden !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    font-size: 9px;
}

.table_design .dataTables_length {
    display: block;
}
.new-table-design .innertable td {
    font-size: 9px;
}*/
/*---------------------Chart--------*/

.container
        {
            max-width: 1200px;
            margin: 0 auto;
        }
        .main-box
        {
               border: 1px solid #000;
                   display: flex;
        }
        body
        {
            font-family: arial;
        }

        .box1, .box2
        {           

        }
        .headings {
    font-size: 10px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    font-weight: 600;
    @media(max-width: 1490px){
      font-size: 9px;
    }
    @media(max-width: 1350px){
 font-size: 8px;
    }

}
.value_wrap{
    text-align: center;
    font-weight: 600;    font-size: 12px;
      @media(max-width: 1490px){
      font-size: 11px;
    }
    @media(max-width: 1350px){
      font-size: 10px;
    }
}
.mid-head
{
text-align: center;
}

.mid-head h5
{
    font-weight: bold;
}

.box-middle-bottom
{
    border: 1px solid;
}

.main-box1
{
    border: 1px solid;
}

.box-left {
    max-width: 510px;
}

.box-left1 {

}

.box-right
{
    max-width: 510px;
}

.wrapper, .sub-head {
    display: flex;
}

.main-box1 {
    border: 2px solid;
    display: flex;
}

.box1 p {
    text-align: center;
    font-size: 14px;
}

.box-left1 h2 {
    border: 1px solid;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0px;
    border-right: 0px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.mid-head h5 {
    font-weight: bold;
    font-size: 11px;
}

.box-left1 h2
{
    font-size:16px; font-weight: bold;
    @media(max-width: 1540px){
      font-size: 15px;
    }
}
.color_blue {
    color: #0181AC;
}
.color_green {
    color: #08c508;
}
.color_orange{
    color: #ff6600;
}
.color_purple{
    color: purple;
}
.border-dark-1{border: 1px solid #000;}
.border-right-dark{ border-right: 1px solid #000; }
.border-left-0{border-left: 0px;}
.main_box2 .box1 {
    width: 50%;
}
.main_box2 .box2 {
    width: 50%;
}
.color_brown {
    color: brown;
}
.main_box2{
    align-items: center;  border-bottom: 0px; border-right: 0px;
}
.main_box2 .box2,
.main_box2 .box1{
border-bottom: 0px;
}
.main_box2 .box2 {
    padding-bottom: 15px;
}
.box-middle-bottom{border-right: 0px;    padding-top: 10px;}
.bottomwrap .owl-carousel .owl-stage-outer{border-right: 1px solid #000;}
.main_box2 .box2 {
    border-left: 1px solid #000;
    padding-top: 20px;
}
.google-chart{margin: auto;}
.border-bottom-dark {
    border-bottom: 1px solid #000;
}
.title_icon i {
    color: lightgrey;
}
.title_icon {
    height: 100%;
    display: flex;
    align-items: center;
}
.chart_dropdown {
    position: absolute;
    right: 9px;
    top: 4px;
}
.togglestyle:after{display: none;}
.action_list{right:0px !important; left: auto !important;}
.action_list a{ font-size: 13px; }
.chart_dropdown2{
    top: -16px;
    z-index: 99;
}
.dropdown222 {
    position: absolute;
    right: 0px;
    z-index: 9;
    top: -9px;
    font-size: 13px;
}
.dubledropdown {
    position: absolute;
    right: 9px;
    top: -17px;
    font-size: 13px;
}
.main_title {
    font-size: 16px !important;
    @media(max-width: 1540px){
       font-size: 14px !important;
    }
}
.charts_title2{
   font-size: 15px !important;
    @media(max-width: 1540px){
       font-size: 13px !important;
    }
}
.bottom_chart {
    margin: 0px 16px;
    background: #fff;
}
