<section class="bg-white ">
    <div class="fullrows">
    <div class="container custom-container pt-0 pb-0">
    <div class="top-bar">     
    <div class="float-left">     
        <app-breadcrumb></app-breadcrumb> 
    </div>

   </div>
 </div>
 </div>

 <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
  </div>

  <div class="container custom-container pt-0 pb-4">
          <div class="menucontainer">
             <div ngbDropdown class="d-inline-block download-btns dropdown movedropdwon">
      <button class="toggle_btn" id="dropdownBasic1" ngbDropdownToggle><!-- <i class="fas fa-ellipsis-v text-dark"></i> --><fa-icon [icon]="faEllipsisV" class="text-dark"></fa-icon></button>
      <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" >       
                     
      </ul>
    </div>
    </div>
   <div class="responsive-table table-responsive-sm table_design custom_design history_table">
     <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-data display nowrap table1" style="width:100%" id="table1" >
        <thead>
          <tr>
              <th>S No</th>
              <th>Request ID</th>                              
              <th>Type</th>                
              <th>Task Performed</th>                
              <th>Entity ID</th>                
              <th>Created Date</th>                
              <th class="view_status">Status</th>                
              <th></th>                
          </tr>                   
        </thead>
        <tbody>
            <tr *ngFor="let data of reqArray; let i = index">
               <td>{{data.len}}</td>                      
               <td>{{data.id}}</td>                                          
               <td>{{data.itm.Type}}</td>                      
               <td>{{data.itm.Action}}</td>                      
               <td>{{data.itm.EntityId}}</td>                      
               <td>{{data.itm.CreatedDateTime}}</td>                      
               <td class="view_status">{{data.itm.Status}}</td>                      
               <td>
                  <div class="iconbox">
                    <!-- <i class="fas fa-eye" data-toggle="modal" placement="left" ngbTooltip="View History" (click)="viewStatus(data.id)"></i> -->
                     <fa-icon [icon]="faEye" data-toggle="modal" placement="left" ngbTooltip="View History" (click)="viewStatus(data.id)"></fa-icon>
                  </div>
                </td>                      
            
            </tr>
        </tbody>
            </table>
          </div>
        </div>
</section>
