.footer{
    a{
        color: #000;
    }
}
.rowhidden{
  display: none;
}
.responsive-table table th {
    border: 1px solid #404040;
    border-right: none;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    padding-top: 0;
    vertical-align: middle;
    margin-top: 0;
}
.iconbox i {
    font-size: 12px;
}


.table td {
    padding: 4px 10px;
    border: none;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
}

.responsive-table th .iconbox {

}

.additemrow button i {
    padding-right: 15px;
}

.additemrow button {
    font-family: HelveticaNeue;
}

.select-boxrow select {
    font-family: HelveticaNeue;
}


table.dataTable thead th {
    padding-bottom: 0;
    border-top: 0px;
}



@media only screen and (max-width: 1500px) {
    .table {
        td{
            font-size: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }


    }
    .responsive-table table th{
      font-size: 10px;
  }
}
@media only screen and (max-width: 900px) {
    .table {
        td{
            font-size: 12px;
        }

    }
}
@media only screen and (max-width: 767px) {
    .table {
        th{
            line-height: 17px;
        }
    }
    .table_design tr th:nth-child(2) ,
    .table_design tr td:nth-child(2) 
    {
        min-width: 100px;
    }  
}