  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
 <div class="modal-dialog modal-dialog modal-lg" id="new-plate-form">
 	<div class="modal-content border-none">
 		<div class="w-100  pb-1">
 			<div class="modal-header">
 				<h4 class="modal-title">Add New Service</h4>
 				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
 			</div>
 			<div class="modal-body formstyle2">

 				<form [formGroup]="serviceForm" (ngSubmit)="submitserviceForm(serviceForm)" name="add-service">
 					<div class="bodyarea scrollbar" id="style-3">
 						<div class="space_style">
 							<div class="row d-flex align-items-end">
 								<div class="col-md-6">
 									<div class="form-group mb-0 mrgn-1">
 										<label>Platform</label><span class="red">*</span>							
 										<select class="custom-select" [ngClass]="{'is-invalid': forgetF.platformName.errors && forgetF.platformName.touched}" formControlName="platformName" id="inputGroupSelect01" >
 											<option value="" disabled>Select a platform</option>
 											<option *ngFor="let plat of platformList" value="{{plat.Platform}}">{{plat.Platform}}</option>
 										</select>
 									</div>
 								</div>
 								<div class="col-md-6">
 									<div class="form-group mb-0 ">
 										<label>Name</label><span class="red">*</span>							
 										<input [ngClass]="{'is-invalid': forgetF.servicename.errors && forgetF.servicename.touched}" type="text" class="form-control" formControlName="servicename" name="name1">
 									</div>
 								</div>


 								<div class="col-md-12">
 									<div class="row d-flex align-items-end">

 										<div class="col-md-6">
 											<div class="form-group mb-0 mrgn-1">
 												<label>Index</label><span class="red">*</span>							
 												<select formControlName="serviceIndex" [ngClass]="{'is-invalid': forgetF.serviceIndex.errors && forgetF.serviceIndex.touched}" class="custom-select" id="inputGroupSelect02">
 												<option value="Support Email">Support Email*</option>
												<option value="field-a">Alphabet only</option>
												<option value="field-d">Date</option>
												<option value="field-dt">Date & time</option>
												<option value="field-e">Email</option>
												<option value="field-me">Emails (comma separated)</option>
												<option value="field-m">Mixed String</option>
												<option value="field-mm">Mixed String (comma separated)</option>
												<option value="field-x">Mixed Encrypted</option>
												<option value="field-n">Number only</option>
												<option value="field-s">Select</option>
												<option value="field-ms">Selects (comma separated)</option>
												<option value="field-sn">Select or Add new</option>

 												</select>
 											</div>
 										</div>
 										<div class="col-md-6">
 											<div class="form-group mb-0">				
 												<input [ngClass]="{'is-invalid': forgetF.serviceIndexValue.errors && forgetF.serviceIndexValue.touched}" class="form-control" type="text" formControlName="serviceIndexValue">
 											</div>
 										</div>
 									</div>
 								</div>
 							</div>
 						</div>
 						<div class="space_style">
 							<div class="row newspacewrap">
 								<div class="col-12">
 									<div class="form-group services-box">
 										<h5  class="mb-2"><b>Services</b></h5>
 									</div>
 								</div>
 								<div class="col-lg-6 newspace " *ngFor="let addressGroup of serviceForm.get('services')['controls']; let i = index" [formGroup]="addressGroup">
 									<div class="row d-flex align-items-end">
 										<div class="col-md-12">
 											<div class="form-group services-box">


 												<label>Field {{i+1}}</label><span class="red">*</span>
 												<div class="d-flex ">
 													<input type="text" formControlName="ServiceFieldValue" class="form-control newww mr-2">
 													<input *ngIf="nARray.includes(i)" required type="text" formControlName="ServiceFieldValue1" class="form-control">
 													<a *ngIf="i>=2" href="javascript:void(0)" (click)="deleteServiceGroup(i)" class="add-new-field sideaddnew"><i class="fa fa-minus" aria-hidden="true"></i></a>
 													<select (change)="typeChange($event,i)" class="custom-select mr-3" formControlName="serviceFields">
 														<option value="Support Email">Support Email*</option>
														<option value="field-a">Alphabet only</option>
														<option value="field-d">Date</option>
														<option value="field-dt">Date & time</option>
														<option value="field-e">Email</option>
														<option value="field-me">Emails (comma separated)</option>
														<option value="field-m">Mixed String</option>
														<option value="field-mm">Mixed String (comma separated)</option>
														<option value="field-x">Mixed Encrypted</option>
														<option value="field-n">Number only</option>
														<option value="field-s">Select</option>
														<option value="field-ms">Selects (comma separated)</option>
														<option value="field-sn">Select or Add new</option>
 													</select>


 													
 												</div>
 											</div>
 										</div>
 									</div>
 								</div>
 							</div>
 							<span *ngIf="showerror" class="is-invalid errormsg">All fields required</span>
 						</div>
 					</div>
 					<div class="bodyarea no-style pt-1 pt-xl-3">
 						<div class="row d-flex align-items-end">
 							<div class="col-md-12">
 								<div class="form-group mb-0">
 									<a #addserviceClick href="javascript:void(0)" (click)="addNewServiceGroup()" class="add-new-field add_field"><i class="fa fa-plus" aria-hidden="true"></i>  Add New Field</a>
 								</div>
 							</div>
 						</div>
 					</div>
 				</form>
 			</div>
 			<div class="modal-footer justify-content-between">
 				<div>
 					<!-- <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->
 				</div>
 				<div>
 					<button type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">Cancel</button> 
 					<button class="btn saveplatform theme-btn btn-info rounded-0 ml-2  " (click)="submitserviceForm(serviceForm)" type="submit">Create </button>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
