
 <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
    <div class="custom-container pt-4 pb-0 ">
        <div class="justify-content-end d-flex"> 
  

            <button class="saveplatform btn theme-btn rounded-0 active">Graph View</button>
            <button class="cancel-btn ml-2 btn theme-btn rounded-0 text-light">Table View</button>
        </div>
      </div>
    <div class="custom-container pt-3 pb-4 ">
        <div class="row m-0"> 
          <div class="col-md-7 p-0">
             <div class="row m-0"> 
      <div class="col-md-6 pr-0 pl-0  border-dark-1">
        <div class="row m-0">
             <div class="col-md-6 p-0 border-right-dark"> 
              <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0">
                  <div class="title_icon">
                    <fa-icon [icon]="faCloud"></fa-icon>
                  </div>
                </div>
                 <div class="col-md-10 pr-0 pl-0">
              <div class="box1">
        <div class="headings color_blue">CLOUD PLATFORMS: </div>
        <div class="value_wrap text-center color_blue">{{cplatform}}</div>
      </div>
    </div>
  </div>
    </div>

             <div class="col-md-6 p-0">
               <div class="row m-0 border-bottom-dark">
                     <div class="col-md-2 pr-0">
                  <div class="title_icon">
                   <fa-icon [icon]="faCog"></fa-icon>
                  </div>
                </div>
                  <div class="col-md-10 pr-0 pl-0">
                <div class="box2">
        <div class="headings color_green">CLOUD SERVICES: </div>
         <div class="value_wrap text-center color_green">{{cservice}}</div>
      </div>
             </div>
        </div>
      </div>
    </div>
        <div class="row">
          <div class="col-12 pt-4">
                  <div class="mid-head">
                    <div class="position-relative">
        <h5>RESOURCE OVERVIEW PER PLATFORM</h5>
           <div class="chart_dropdown chart_dropdown2">

             <div ngbDropdown class="">
<span class="togglestyle" id="resourceoverview" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="resourceoverview" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chartd')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chartd')">jpg</a></li>                      
           </ul>        
      </div>
    </div>    

   </div>
   </div>
        <google-chart #chartd id="chartd"
           [title]="titled"
           [type]="typed"
           [data]="datad"
           [columns]="columnNamesd"
           [options]="optionsd"
           [width]="widthd"
           [height]="heightd">
        </google-chart>
        <p>{{cresource}} resources across {{cplatform}} platforms</p>
      </div>
          </div>
        </div>
      </div>
            <div class="col-md-6 pr-0 pl-0  border-dark-1 border-left-0">
        <div class="row m-0">
             <div class="col-md-6 p-0 border-right-dark"> 
              <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0"><div class="title_icon">
                  <fa-icon [icon]="faCog"></fa-icon>

                </div>
              </div>
<div class="col-md-10 pr-0 pl-0">
              <div class="box1">
        <div class="headings color_orange">CLOUD RESOURCES: </div>
        <div class="value_wrap text-center color_blue">{{cresource}}</div>
      </div>
    </div>
    </div>
  </div>

             <div class="col-md-6 p-0">
               <div class="row m-0 border-bottom-dark">
                <div class="col-md-2 pr-0"><div class="title_icon">
                  <fa-icon [icon]="faWrench"></fa-icon>
                </div>
              </div>
              <div class="col-md-10 pr-0 pl-0">
                <div class="box2">
        <div class="headings color_purple">CLOUD INSTANCES: </div>
         <div class="value_wrap text-center color_green">{{cinstance}}</div>
      </div>
             </div>
           </div>
        </div></div>
        <div class="row">
          <div class="col-12 pt-4">
     <div class="mid-head">
      <div class="position-relative">
        <h5>INSTANCE OVERVIEW PER SERVICE AND PLATFORM</h5>
                <div class="chart_dropdown chart_dropdown2 ">

             <div ngbDropdown class="">
<span class="togglestyle" id="instanceoverview" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="instanceoverview" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chart1')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chart1')">jpg</a></li>            
          
           </ul>        
      </div>
    </div>    

   </div>
      </div>
        <google-chart *ngIf="showchart" #chart1 id="chart1"
           [title]="title"
           [type]="type"
           [data]="dataC"
           [columns]="columnNames"
           [options]="options"
           [width]="width22"
           [height]="height22">
        </google-chart>
        <p>{{cinstance}} instances of {{cservice}} services on {{cplatform}} platforms.</p>
      </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <div class="col-md-5 border-dark-1 border-left-0">
          <div class="row border-bottom-dark">
             <div class="col-md-3 p-0">
               <div class="box2">
        <div class="headings ">TOTAL # REQUESTS: </div>
         <div class="value_wrap text-center">{{Trequest}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2">
        <div class="headings ">TOTAL # CREATES: </div>
         <div class="value_wrap text-center">{{Tcreate}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2">
        <div class="headings ">TOTAL # UPDATES: </div>
         <div class="value_wrap text-center">{{Tupdate}}</div>
      </div>             </div>
       <div class="col-md-3 p-0">
               <div class="box2">
        <div class="headings ">TOTAL # DELETE: </div>
         <div class="value_wrap text-center">{{Tdelete}}</div>
      </div>             </div>
          </div>
          <div class="row">
            <div class="col-md-12 pt-4">
                  <div class="mid-head">
                    <div class="position-relative">
        <h5>PLATFORM USAGE LAST 6 MONTHS</h5>
        <div class="dubledropdown">
          <span class="dropdown ">
      <div class="navbar"> 
        <select  [(ngModel)]="selectedIns" (change)="selectedLineGraph()" >                
          <option value="Daily">Daily</option> 
          <option value="Weekly">Weekly</option> 
          <option value="Monthly">Monthly</option> 
        </select>  
      </div>
    </span>
  </div>
                      <div class="chart_dropdown chart_dropdown2">

             <div ngbDropdown class="">
<span class="togglestyle" id="platformusage" ngbDropdownToggle>

   <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="platformusage" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('chart2')">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('chart2')">jpg</a></li>            
          
           </ul>        
      </div>
    </div>    

   </div>
      </div>
        <google-chart *ngIf="showchart_line" #chart2 id="chart2"
           [title]="title"
           [type]="type_line"
           [data]="data_line"
           [columns]="columnNames_line"
           [options]="options_line"
           [width]="width"
           [height]="height">
        </google-chart>
        
      </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<div class="custom-container  mb-5 ">
<div class="bottomwrap1 ">
<div class="bottomwrap ">
<owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of fullDataArray ;let i = index">
      <ng-template carouselSlide [id]="slide.Platform">
        <div class="box-left1" id="char_{{i}}">
          <div class="position-relative">
   <h2>{{slide.platform}} </h2> 
   <div class="chart_dropdown">
      
             <div ngbDropdown class="">
<span class="togglestyle" id="dropdownBasic1ll2" ngbDropdownToggle>

  <fa-icon [icon]="faEllipsisV"></fa-icon>

</span>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1ll2" class="action_list">       
           <ul class="p-0 m-0">
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generatePDF('char_'+i)">pdf</a></li>            
             <li><a class="dropdown-item" href="javascript:void(0)" (click)="generateJPG('char_'+i)">jpg</a></li>                       
           </ul>        
      </div>
    </div>    

   </div>
 </div>
   <div class="main-box main_box2">
    <div class="box1">
            <div class="row m-0">
        <div class="col-md-6 p-0">
          <div class="headings">
        SERVICES  {{slide.servicecount}}
      </div>
       <div class="value_wrap text-center color_green">
       {{slide.servicecount}}
      </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="headings">
        INSTANCES 
      </div>
       <div class="value_wrap text-center color_purple">
         {{slide.instanceCount}}
       </div>
        </div>
        <div class="col-md-12 p-0">
           <div class="headings">
        ACCOUNTS 
      </div>
      <div class="value_wrap text-center color_brown">
           780
         </div>
        </div>
      </div>
     <div class="sub-head"> 

      

      
    </div>
   
  </div>

  <div class="box2">
    <div class="mid-head">
      <h5>INSTANCE DISTRIBUTION PER SERVICE</h5>
      <google-chart #chartdynamic id="chartdynamic_{{i}}"
      [title]="title"
      [type]="typed"
      [data]=slide.loopData
      [columns]=columnNamesd
      [options]="optionsd"
      [width]="widthd"
      [height]="heightd">
         </google-chart> 
      <p>2.510 resources across 3 platforms</p>
    </div>
  </div>
</div>

<div class="box-middle-bottom">
  <div class="mid-head">
    <div class="position-relative">
    <h5>INSTANCES PER MONTH</h5>
    <span class="dropdown dropdown222">
      <div class="navbar"> 
        <select  [(ngModel)]="selectedIntC" (change)="selectedC(slide.platform)" >                
          <option value="Daily">Daily</option> 
          <option value="Weekly">Weekly</option> 
          <option value="Monthly">Monthly</option> 
        </select>  
      </div>
    </span>
  </div>
     <google-chart #CheckCol id="CheckCol"
   [title]="titleI"
   [type]="typeI"
   [data]=dataI
   [columns]=columnNamesI
   [options]="optionsI"
   [width]="widthI"
   [height]="heightI">
</google-chart>
    <p>2.510 resources across 3 platforms</p>
  </div>
   
</div>
</div>

      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
</div>
</div>
</div>