
.container
        {
            max-width: 1200px;
            margin: 0 auto;
        }
        .main-box
        {
               border: 1px solid #000;
                   display: flex;
        }
        body
        {
            font-family: arial;
        }

        .box1, .box2
        {
           

        }
        .headings {
    font-size: 11px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    font-weight: 600;
}
.value_wrap{
    text-align: center;
    font-weight: 600;    font-size: 13px;
}
.mid-head
{
text-align: center;
}

.mid-head h5
{
    font-weight: bold;
}

.box-middle-bottom
{
    border: 1px solid;
}

.main-box1
{
    border: 1px solid;
}

.box-left {
    max-width: 510px;
}

.box-left1 {

}

.box-right
{
    max-width: 510px;
}

.wrapper, .sub-head {
    display: flex;
}

.main-box1 {
    border: 2px solid;
    display: flex;
}

.box1 p {
    text-align: center;
    font-size: 14px;
}

.box-left1 h2 {
    border: 1px solid;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0px;
    border-right: 0px;
    padding-top: 5px;
    padding-bottom: 6px;
}

.mid-head h5 {
    font-weight: bold;
    font-size: 11px;
}

.box-left1 h2
{
    font-size:16px;
}
.color_blue {
    color: #0181AC;
}
.color_green {
    color: #08c508;
}
.color_orange{
    color: #ff6600;
}
.color_purple{
    color: purple;
}
.border-dark-1{border: 1px solid #000;}
.border-right-dark{ border-right: 1px solid #000; }
.border-left-0{border-left: 0px;}
.main_box2 .box1 {
    width: 50%;
}
.main_box2 .box2 {
    width: 50%;
}
.color_brown {
    color: brown;
}
.main_box2{
    align-items: center;  border-bottom: 0px; border-right: 0px;
}
.main_box2 .box2,
.main_box2 .box1{
border-bottom: 0px;
}
.box-middle-bottom{border-right: 0px;    padding-top: 10px;}
.bottomwrap .owl-carousel .owl-stage-outer{border-right: 1px solid #000;}
.main_box2 .box2 {
    border-left: 1px solid #000;
    padding-top: 20px;
}
.google-chart{margin: auto;}
.border-bottom-dark {
    border-bottom: 1px solid #000;
}
.title_icon i {
    color: lightgrey;
}
.title_icon {
    height: 100%;
    display: flex;
    align-items: center;
}
.chart_dropdown {
    position: absolute;
    right: 9px;
    top: 4px;
}
.togglestyle:after{display: none;}
.action_list{right:0px !important; left: auto !important;}
.action_list a{ font-size: 13px; }
.chart_dropdown2{
    top: -16px;
    z-index: 99;
}
.dropdown222 {
    position: absolute;
    right: 0px;
    z-index: 9;
    top: -9px;
    font-size: 13px;
}
.dubledropdown {
    position: absolute;
    right: 9px;
    top: -17px;
    font-size: 13px;
}