<header class="header pt-xl-1 pb-xl-1 pt-1 pb-1">
  <div class="container custom-container">
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex">
        <div class="logo">
          <a href="javascript:void(0)" (click)="LogoClick()"><img [src]="imagePath"></a>
        </div>
        <!-- <div class="nav-area">
          <ul class="mb-0"><li (click)="LogoClick()"><i class="fas fa-home"></i></li></ul>
        </div> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="login-menu1">
        <nav class="navbar navbar-dark navbar-expand-sm custmnav p-0 pt-1">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown customli">
           <div class="user-name text-white mr-1 mr-xl-2"> <a class="text-light" (click)="editprofile()" href="javascript:void(0)"><span>{{Name}}</span></a> </div> 
      </li>  
            <li class="notification_list">
         <a class="nav-link notification_menu " href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <i class="far fa-bell"></i> -->
           <fa-icon [icon]="faBell" ></fa-icon>
        </a>
        <div class="dropdown-menu custmdropmenu2" aria-labelledby="navbarDropdownMenuLink1">
          <div class="formstyle2 pr-2 pl-2 mb-2">
           <div>
             <input type="text" #searchbar [(ngModel)]="searchInput" id="myInput" (keyup)="fetchSeries($event)" placeholder="Search.." />
            </div>
          </div>
          <div class="cstmdrop">
         <a *ngFor="let show of searchResult | slice:0:5" class="dropdown-item pr-2 pl-2" (click)="getSingleHistroynyID(show.id)" href="javascript:void(0)">Request ID {{show.id}}</a>
        </div>
           <div class="pr-2 pl-2 mt-2">
        <button class="saveplatform btn v_more" (click)="viewMore()" >View more</button>

      </div> 
      </div>
      </li>
      <li>
         <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- <i class="fas fa-ellipsis-v text-light" aria-hidden="true"></i> -->
        <fa-icon [icon]="faEllipsisV" class="text-light"></fa-icon>
      </a>
        <div class="dropdown-menu custmdropmenu" aria-labelledby="navbarDropdownMenuLink">
          <div class="saprator pt-0">
          <a class="dropdown-item" (click)="editprofile()" href="javascript:void(0)">Manage Profile</a>         
          <a class="dropdown-item"  *ngIf="globalName" (click)="mUser()" href="javascript:void(0)">Manage Users</a>
          <a class="dropdown-item"  (click)="mConnector()" href="javascript:void(0)">Manage Connectors</a>
          <a class="dropdown-item"  (click)="mOrgan()" href="javascript:void(0)">Manage Organisation</a>
        </div>
         <div class="saprator">
          <a class="dropdown-item"  (click)="userGuide()" href="javascript:void(0)">User Guide</a>
          <a class="dropdown-item"  (click)="apiDoc()" href="javascript:void(0)">API Documentation</a>
        </div>
         <div class="saprator pb-0 border-none">
          <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Log Out</a>
        </div>
        </div>
      </li> 
    </ul>
  </div>
</nav> 
          
        </div>
      </div>
    </div>
  </div>
</header>