.customnav {
    border-radius: 55px;
    height: 56px;
    width: 64px;
    font-size: 16px !important;
    margin: 0;
    padding: 0;
}
header.header {
    background: #404040;
        z-index: 999999;
    position: relative;
}
.custmdropmenu {
   right: -1px;
   left: auto;
    @media(max-width: 1250px){
      
    }
}
.customli {
    display: flex;    align-items: center;
}
.custmdropmenu a {
    font-size: 11px;
    line-height: 17px;
        @media only screen and (max-width: 1250px) {
    font-size: 10px;
    line-height: 16px;
        }
}
.login-menu1 {
    float: right;
    @media only screen and (max-width: 767px) {
    float: none;
    margin: auto;
    text-align: center;
    margin-top: 8px;
    }
}
.userinfos {
    height: 35px;
    width: 35px;
    background: #fff;
    color: #404040 !important;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 21px;
    @media only screen and (max-width: 1250px) {
        height: 28px;
        width: 28px;
        font-size: 18px;
        line-height: 28px;
        padding: 0px !important;
    }
    &:after {
        display:none;
    }
    i {

    }
}
.custmdropmenu {
    a {
        padding-top: 2px; 
        padding-bottom: 2px;
    }
}
.nav-area {
    color: #ffffff;
}
.nav-area ul {
    padding-top: 6px;
    padding-left: 14px;
}
.nav-area li {
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}
@media only screen and (max-width: 1250px) {
    .logo {
        max-width: 160px;
    }
}
@media only screen and (max-width: 767px) {

button.navbar-toggler {
    margin: auto;
}
.userinfos{
    margin:auto;
    float: none;
}
}
.notification_menu {
    font-size: 16px;
    color: #fff !important;
}
.notification_list {position: relative;margin-right: 5px;}
.custmdropmenu2{font-size: 12px;    line-height: 17px; min-width: 235px;
@media(max-width: 1250px){
    font-size: 9px;
}
}
.custmdropmenu2 {
    right: 0px;
    left: auto;
}
.v_more {
    color: #fff;
    width: 100%;
    &:hover{
        color:#ffffff;
    }
}
.saprator {
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding-bottom: 8px;
    padding-top: 8px;
}
