
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

 .breadcrumb { background: none; padding: 0px; }
 .margin-right-5{margin-right: 5px;}
 a {
    color: #0181AC;
}
.hyperlink {
    color: #0181AC;
}