<div class="">
<div class="custom-container">
   <app-breadcrumb></app-breadcrumb>
<div class="row">
 
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 space20">
        <button class="btn btn-green add_btn pull-left theme-btn" (click)="addCustomer()"><!-- <i class="fas fa-plus" aria-hidden="true"></i> --><fa-icon [icon]="faPlus"></fa-icon> Add User</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
 <!-- <div class="loading" *ngIf ="loader">Loading&#8230;</div> -->
 <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">

    </div>
   <!--  <div><button (click)="bulkdelUser()">Bulk Delete</button></div> -->
<div class="container custom-container pt-3 pb-4">
    <div class="responsive-table table-responsive-sm table_design table_design22">
      <table [@listAnimation1] datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-data " id="table1" >
        <thead>
          <tr *ngIf="userList">
           <!--  <th></th> -->
            <!-- <th>Username</th> -->
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Created Date</th>
            <th>Last Updated</th>
            <th>
              <!-- <div class="iconbox"></div> -->
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList; let i = index">
            <!-- <td value="i" (click)="tst(value)">{{i}}</td> -->
           <!--  <td ><input type="checkbox" (click)="multipleDel(user.username, i)"></td> -->
           <!--  <td>{{user.username}}</td> -->
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            <td >{{user.groups=='Super-Admin'?'Super Admin':user.groups}}</td>
            <td>{{user.created_date}}</td>
            <td>{{user.updated_date}}</td>
            <td width="20px" class="icontd">
              <span class="rowhidden">{{i+1}}</span>
              <div class="iconbox iconbox2">
                
                <!-- <i class="fas fa-pencil-alt" placement="top" ngbTooltip="Edit User" (click)="editUser(user.username)"></i>
                <i class="fas fa-eye" placement="left" ngbTooltip="View User" (click)="viewUser(user.username)" ></i> -->
                <fa-icon [icon]="faPencilAlt" placement="top" ngbTooltip="Edit User" (click)="editUser(user.username)"></fa-icon>
                <fa-icon [icon]="faEye" placement="left" ngbTooltip="View User" class="spac" (click)="viewUser(user.username)" ></fa-icon>
                <!-- <ng-template #tipContent1><b>View User</b></ng-template> -->
                <!-- <i class="fas fa-trash" (click)="delUser(user.username)" data-toggle="modal" data-target=""></i> -->
              </div>
            </td>
          </tr>        
        </tbody>
      </table>
    </div>
</div>