  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>

 <div class="modal-dialog modal-dialog modal-lg" >
 	<div class="modal-content border-none">
 		<div class="w-100  pb-2">
 			<div class="modal-header">
 				<h4 *ngIf="serv" class="modal-title">Edit Provision</h4>
 				<h4 *ngIf="vserv" class="modal-title">View Provision</h4>
 				 <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button> 
 			</div>
 			<div class="modal-body formstyle2"> 
 				<form [formGroup]="userForm" (ngSubmit)="submitForm(userForm)">	
 					<div class="bodyarea scrollbar" id="style-3">
 					<div class="space_style">				
 						<div class="row d-flex align-items-start">
 						<div class="col-md-6">
							<div class="form-group ">
								<label>Platform Name</label>
								 <input [readonly]="vserv" type="text" #platformId name="platformId" formControlName="platform" /> 
								<!-- <select class="custom-select" #platformId formControlName="platform">
			                        <option value="" disabled>Select a platform</option>
			                        <option *ngFor="let list of platformList; let i = index" value="{{list.Platform}}">{{list.Platform}}</option> 
			                        
			                        
			                    </select>-->
							</div>
						</div><div class="col-md-6">
							<div class="form-group ">
								<label>Service Name</label>
								 <input [readonly]="vserv" type="text" #serviceId name="service" formControlName="service" />
								<!-- <select   class="custom-select" #serviceId formControlName="service">
			                        <option value="" disabled>Select a Service</option>{{serviceList | json}}
			                        <option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service}}">{{serv.Service}}</option>
			                    </select> -->
							</div>
						</div> 
 						</div>
 					</div>
 						<div class="space_style">
 							<div class="row">
 							<div class="col-lg-6 form-group" *ngFor="let item of compArray | keyvalue">
 							<label>{{item.key}}</label>
 							<input [readonly]="vserv || indextypevalueP == item.key || indextypevalueS == item.key" type="text" name="{{item.key}}" class="option_input" (blur)="textValidation($event)" value="{{item.value}}" #field  /> 

 							 </div>
 							 <span *ngIf="showerrmsg" class="is-invalid errormsg">All fields required</span>
 							</div>
 				
 			</div>
 					</div>
 					
 				

 				</form>

 			</div>
 			<div class="modal-footer btn_wrap1 justify-content-between">
 				<div>
 					<button *ngIf="serv" type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" (click)="delServprovision(itype,pindexValue)">
 							Delete
 					</button>  
 				</div>
 				<div class="d-flex">
 					<div class="mr-2">
 						
 						<button *ngIf="serv" type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
 							Cancel
 						</button>
 					</div>
 					<div>
 						<button *ngIf="serv" (click)="submitForm(userForm)" [disabled]="showerrmsg" class="btn saveplatform theme-btn btn-info rounded-0 ">Update</button>
 						<button *ngIf="vserv" (click)="closeform()" class="btn theme-btn btn-info rounded-0 cancel-btn">Cancel</button> 
 					</div>
 				</div>


 			</div>
 		</div>
 	</div>
 </div>
