.modal-title {
    font-weight: bold;
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 12px;
    }
}	

.modal-body form label {
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 0px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 28px;
        vertical-align: bottom;
    }
}



.modal-content {
    border: none;
}

div#new-plate-form {
    margin-top: 0;
    margin-bottom: 0;
}

a.add-new-field i {
    padding-right: 0;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    font-size: 18px;
    margin-right: 10px;
    @media (max-width: 1250px){
     font-size: 10px;
     margin-right:5px;   
 }
}

a.add-new-field {
    font-family: HelveticaNeue;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 0px;
    @media (max-width: 1250px){
        font-size: 12px;
    }
}

.modal-body form .form-group {
    margin-bottom: 10px;
}

.services-box h5 {
    border-bottom: 1px solid #000;
    line-height: 40px;
    font-family: HelveticaNeue;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 20px;
    }
}

.add-new-field i.fa.fa-minus {
    margin-top: 3px; 
    margin-left: 10px;
    @media (max-width: 1250px){
        margin-top: 0px;
        vertical-align: top;
    }
}

.modal-body {
    padding-top: 0px;
    @media (max-width: 1250px){
        padding-bottom: 10px;
    }
}

.modal-header .close {
    outline: none;
} 
.bodyarea {
/*    padding-left: 142px;
padding-right: 142px;*/
overflow-y: auto;
max-height: 400px;
@media (max-width: 1250px){
     /*   padding-left: 107px;
     padding-right: 107px;*/
     max-height:293px;
 }
}

.custompopup{
    height: 100%;
    display: flex;
    align-items: center;
}
.services-box {
    margin-bottom: 0px !important;
    @media(max-width: 1250px){
        line-height: 100%;
    }
}
.sideaddnew {
    position: absolute;
    right: -10px;
    z-index: 9;
    @media (max-width: 1250px){
       right: -5px; 
   }
}

.sideaddnew i {
    font-size: 8px !important;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 1250px){
    a.add_field{
        padding-left: 0px;
    }
}
.bodyarea {
    padding-left: 0px;
    padding-right: 17px;
}
.modal-header {
    padding-left: 18px;
}
