<!-- <div class="loading" *ngIf ="loader">Loading&#8230;</div> -->
<div class="mt-0 mb-0 custompopup" id="new-plate-form">
	<div class="w-100  pb-2">
		<div class="modal-header model_header2">
			<h4 class="modal-title">Create new platform</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
		</div>
		<div class="modal-body formstyle2 ">     
			<form [formGroup]="platForm" (ngSubmit)="submitplatForm(platForm)" name="add-platform">	
				<div class="bodyarea scrollbar" id="style-3">
					<div class="space_style">
						<div class="row d-flex align-items-start">
							<div class="col-lg-4 ">
								<div class="form-group mb-0 mrgn-1">
									<label> Name</label>							
									<input type="text" formControlName="platformName" class="form-control" id="platformName" [ngClass]="{'is-invalid': forgetF.platformName.errors && forgetF.platformName.touched}">

								</div>
							</div>
							<div class="col-lg-8 ">
								<div class="form-group mb-0">
									<label>Index</label>
									<div class="d-flex">
										<select name="type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="serviceIndex">
											<option value="field-e">Email</option>
											<option value="field-s">Selector</option>
											<option value="field-sn">Selector + Add New</option>
											<option value="field-d">Date</option>
											<option value="field-dt">Date & time</option>
											<option value="field-n">String-n ( Number Only)</option>
											<option value="field-a">String-a ( Alphabet Only)</option>
											<option value="field-m">String (Mixed)</option>
											<option value="field-me">Emails (Separated by comma)</option>
											<option value="field-ms">Multi selector (Separated by comma)</option>

											<option value="field-mm">Multi Mixed (Separated by comma)</option>
											<option value="field-x">Mixed Encrypted  (hashed)</option>
											<option value="Support Email">Support Email</option>
										</select>		
										<input type="text" formControlName="ServiceIndexValue" class="form-control" id="ServiceIndexValue" [ngClass]="{'is-invalid': forgetF.ServiceIndexValue.errors && forgetF.ServiceIndexValue.touched}">

									</div>

								</div>
							</div>
						</div>	
					</div>		
					<div class="row newspacewrap">
						<div class="col-12">
							<div class="form-group services-box">
								<h5  class="mb-2"><b>Services</b></h5>
							</div>
						</div>
						<div class="col-lg-6 newspace" *ngFor="let addressGroup of platForm.get('services')['controls']; let i = index" [formGroup]="addressGroup">
							<div class="row d-flex align-items-end">
								<div class="col-md-12">
									<div class="form-group services-box">						
										<label>Field {{i+1}}</label>
										<div class="d-flex ">
											<select  (change)="typeChange($event,i)" class="custom-select mr-2" formControlName="serviceFields">
												<option value="field-e">Email</option>
												<option value="field-s">Selector</option>
												<option value="field-sn">Selector + Add New</option>
												<option value="field-d">Date</option>
												<option value="field-dt">Date & time</option>
												<option value="field-n">String-n ( Number Only)</option>
												<option value="field-a">String-a ( Alphabet Only)</option>
												<option value="field-m">String (Mixed)</option>
												<option value="field-me">Emails (Separated by comma)</option>
												<option value="field-ms">Multi selector (Separated by comma)</option>

												<option value="field-mm">Multi Mixed (Separated by comma)</option>
												<option value="field-x">Mixed Encrypted  (hashed)</option>
												<option value="Support Email">Support Email</option>
											</select>
											<input type="text" formControlName="ServiceFieldValue" class="form-control newww mr-2">
											<input *ngIf="nARray.includes(i)" required type="text" formControlName="ServiceFieldValue1" class="form-control">
											<a *ngIf="i>=2" href="javascript:void(0)" (click)="deleteAddressGroup(i)" class="add-new-field sideaddnew"><i class="fa fa-minus" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<span *ngIf="showerror" class="is-invalid errormsg">All fields required</span>
					</div>
				</div>	
				<div class="bodyarea no-style pt-1 pt-xl-3">	
					<div class="row d-flex align-items-end">
						<div class="col-md-12">
							<a #addserviceClick href="javascript:void(0)" (click)="addNewAddressGroup()" class="add-new-field add_field"><i class="fa fa-plus" aria-hidden="true"></i>Add New Field</a>
						</div>				
					</div>	
				</div>
			</form>
		</div>
		<div class="modal-footer justify-content-between">
			<div>
			<!-- <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->
			</div>
			<div>
			<button type="button" class="cancelbtn1 btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
				Cancel
			</button> 
			<button class="saveplatform btn theme-btn btn-info rounded-0 ml-3 " (click)="submitplatForm(platForm)" type="submit">Create</button>
		</div>
		</div>
	</div>
</div>
