<div class="">
<div class="custom-container">
   <app-breadcrumb></app-breadcrumb>
<div class="row">
 
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 space20">
        <button class="btn btn-green add_btn pull-left theme-btn" *ngIf="globalName"  (click)="addConnector()"><!-- <i class="fas fa-plus" aria-hidden="true"></i> --><fa-icon [icon]="faPlus"></fa-icon> Add Connector</button>
      </div>
    </div>
  </div>
<div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
<div class="col-md-12 ">
    <div class="responsive-table table-responsive-sm table_design table_design22 tooltipsstyle">
      <table [@listAnimation] datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-data " id="table1" >
        <thead>
          <tr *ngIf="tableData">
            <th>Connector Name</th>
            <th>Connector Description</th>
            <th>Connector Type</th>
            <th>Frequency Type</th>
            <th>Frequency Value</th>
            <th>Connector Association Type</th>
            <th>Connector Association Value</th>
            <th>
              <div class="iconbox"></div> 
              
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData; let i = index">
            <td>{{data.connector_name}}</td>
            <td>{{data.connector_description}}</td>
            <td>{{data.connector_type}}</td>
            <td>{{data.frequency_type}}</td>
            <td>{{data.frequency_value}}</td>
            <td *ngFor="let val of data.connector_association">{{val.type}}</td>
            <td *ngFor="let val1 of data.connector_association"><span *ngIf="val1.value.includes('-'); else elseblock">{{val1.value.split('-')[1]}}</span>
            <ng-template #elseblock><span>{{val1.value}}</span></ng-template> </td>    
            <td class="icontd">
              <span class="rowhidden"></span>
              <div class="iconbox iconbox2">
                
                <!-- <i class="fas fa-pencil-alt" *ngIf="globalName"  placement="left" ngbTooltip="Edit Connector" (click)="editConnector(data.id)" data-toggle="modal" data-target=""></i>
                <i class="fas fa-eye" placement="left" ngbTooltip="View Connector" (click)="viewConnector(data.id)" data-toggle="modal" data-target=""></i> -->

                <fa-icon [icon]="faPencilAlt" *ngIf="globalName"  placement="left" ngbTooltip="Edit Connector" (click)="editConnector(data.id)" data-toggle="modal" data-target=""></fa-icon>
                <fa-icon [icon]="faEye" placement="left" ngbTooltip="View Connector" class="spac" (click)="viewConnector(data.id)" data-toggle="modal" data-target=""></fa-icon>
                <!-- <i class="fas fa-trash" (click)="delUser(user.username)" data-toggle="modal" data-target=""></i> -->
              </div>
            </td>
          </tr>        
        </tbody>
      </table>
    </div>
</div>


</div>
</div>
</div>