<div class="d-flex justify-content-end align-items-center h-100 dark-bg">
<section class=" login-frm w-100 mb-5 pb-5">
	<div class="container text-right custom-container">
		<div class="d-flex justify-content-md-between justify-content-center">
			<div class="image-wrapper">
				<!-- <img [src]="gifpath"> -->
					<!-- <video  class="video-js vjs-default-skin" id="myVideo" width="640px" height="267px"  [autoplay]="'true'" [loop]="true"  preload="auto" controls 
		data-setup='{ "aspectRatio":"640:267", "play*`backRates": [1, 1.5, 2] }'>
		
		<source  [src]="gifpath" type='video/mp4' />
	</video> -->

			</div>
			<div class="">
				<div class="logo">
					<img [src]="imagePath">
				</div>
				<div class="login-form mt-xl-5 mt-4" *ngIf="step == 1">
					<div class="mCode" *ngIf="userConfirmationMsg"> Username sent on email/phone number </div>
					<form [formGroup]="loginForm" (ngSubmit)="submitLogin(loginForm)" autocomplete="off">
						<div class="form-group mb-2">
							<label for ="username">email</label>
							<input class="form-control" formControlName="username" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" type="text" name="username" id="username" [ngClass]="{'is-invalid': logF.username.errors && logF.username.touched}">
							<!--  <div *ngIf="logF.username.errors " class="invalid-feedback">
                   			<div *ngIf="logF.username.errors.required">email is required</div>
         					</div> -->

<div *ngIf="logF.username.errors " class="invalid-feedback">
			                <div *ngIf="logF.username.errors.required || logF.username.touched || logF.submitted">Email is required</div>
			            </div>




         					<!-- <div class="indicatewrapper">
							<span (click)="forgotuser()" class="forgot_password clr">forgot email?</span>
						</div> -->
						</div>
						<div class="form-group custom-margin">
							<label>password</label>
							<input type="password" formControlName="password"  autocomplete="off" name="password" id="password" [ngClass]="{'is-invalid': logF.password.errors && logF.password.touched}">
							 <div *ngIf="logF.password.errors " class="invalid-feedback">
                <div *ngIf="logF.password.errors.required">Password is required</div>
            </div>
							 
							<span (click)="forgotPassword()" class="forgot_password">forgot password?</span>
						</div>
						<div class="form-group" *ngIf="code">
							<label>one time password</label>
							<input class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" formControlName="mfcode" type="text" name="mfcode" id="mfcode" [ngClass]="{'is-invalid': logF.mfcode.errors && logF.mfcode.touched}">
							 <div *ngIf="logF.mfcode.errors " class="invalid-feedback">
                <div *ngIf="logF.mfcode.errors.required">One Time is required</div>
            </div>
						</div>
						<div class="form-group mt-xl-3 mt-1">
							<button type="submit">log in</button>
						</div>
					</form>
				</div>
				<div class="login-form mt-5" *ngIf="step == 5">
					<form [formGroup]="codeForm" (ngSubmit)="submitCode(codeForm)">
						
						<div class="form-group">
							<label>one time password </label>
							<input class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" formControlName="mfcode" type="text" name="mfcode" id="mfcode" [ngClass]="{'is-invalid': oneF1.mfcode.errors && oneF1.mfcode.touched}">
<!-- 
							 <div *ngIf="oneF1.mfcode.errors " class="invalid-feedback">
                <div *ngIf="oneF1.mfcode.errors.required">MFA must contain atleast 6 digits </div>
            </div> -->
            <div *ngIf="oneF1.mfcode.errors " class="invalid-feedback">
								<div *ngIf="oneF1.mfcode.errors.required || oneF1.mfcode.touched || oneF1.submitted">MFA must contain atleast 6 digits </div>
								</div>
 


            <!-- <div *ngIf="oneF1.mfcode.errors " class="invalid-feedback">
                <div *ngIf="oneF1.mfcode.errors.required || oneF1.mfcode.touched || oneF1.submitted" >One Time Code must be atleast 6 numbers </div>
            </div> -->
						</div>
						<div class="form-group mt-4 mt-xl-4">
							<button type="submit" >log in</button>
						</div>
					</form>
				</div>
				<!-- <div class="loading" *ngIf ="loader">Loading&#8230;</div> -->
				<div class="login-form mt-5" *ngIf="step==2">

					<form [formGroup]="forgotForm" (ngSubmit)="submitForgot(forgotForm)" >
						<div class="form-group">
							<label>username</label>
							<input class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" formControlName="uname" type="text" name="uname" placeholder="enter username" id="uname" [ngClass]="{'is-invalid': forgetF.uname.errors && forgetF.uname.touched}">
							 <div *ngIf="forgetF.uname.errors " class="invalid-feedback">
			                <div *ngIf="forgetF.uname.errors.required || forgetF.uname.touched || forgetF.submitted">username is required</div>
			            	</div>
							<div class="mCode" *ngIf="userError"> Username Doesn't exist</div>
							<span (click)="logIn()" class="forgot_password">Back to Login?</span>

						</div>
						
						<div class="form-group mt-3">
							<button type="submit">Submit</button>
						</div>
					</form>
				</div>
				<div class="login-form mt-5" *ngIf="step==3">	
					<div class="mCode" *ngIf="passConfirmationMsg"> An SMS has been sent to you, please check your phone for code and temporary password </div>
					<form [formGroup]="resetUserPass" (ngSubmit)="ResetUserPass(resetUserPass)">
						
						<div class="form-group">
							<label for="newpass">new password</label>
							<input type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" placeholder="enter new password" formControlName="newpass" id="newpass" [ngClass]="{'is-invalid': resetF.newpass.errors && resetF.newpass.touched}">
							 <div *ngIf="resetF.newpass.errors " class="invalid-feedback">
                <div *ngIf="resetF.newpass.errors.required || resetF.newpass.touched || resetF.submitted" >Password is required & must contain
               <span>min 14 Charachters,</span>
                <span>a lower case letter,</span>
                  <span>an upper case letter,</span>
                  <span>a special character,</span>
                  <span> a number</span></div>
            </div>
						</div>
						<div class="form-group">
							<label for="cnfnewpass">confirm new password</label>
							<input type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" (keyup)="CheckPassword1($event)"placeholder="confirm new password" formControlName="cnfnewpass" id="cnfnewpass" [ngClass]="{'is-invalid': resetF.cnfnewpass.errors && resetF.cnfnewpass.touched}">
							 <div *ngIf="resetF.cnfnewpass.errors " class="invalid-feedback">
				                <div *ngIf="resetF.cnfnewpass.errors.required || resetF.cnfnewpass.touched || resetF.submitted"> Confirm Password is required</div>
				            </div>
				            <div class="mCode" *ngIf="PasswordMatch1 == false">Confirm Password does not match</div> 
						</div>
						<div class="form-group">
							<label for="code">mfa code</label>
							<input type="text" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" placeholder="enter code" formControlName="code" id="code" [ngClass]="{'is-invalid': resetF.code.errors && resetF.code.touched}">
							 <div *ngIf="resetF.code.errors " class="invalid-feedback">
                <div *ngIf="resetF.code.errors.required || resetF.code.touched || resetF.submitted"> MFA Code is required</div>
            </div>
                            <div class="mCode" *ngIf="mfaError == true"> MFA Code is Incorrect</div>

						</div>
						<div class="form-group mt-4">
							<button type="submit">Submit</button>
						</div>
						
	      			</form>
	      			</div>
				<div class="login-form mt-5" *ngIf="step==4">	
					<form [formGroup]="resetPass" (ngSubmit)="SubmitPass(resetPass)">
						<div class="form-group">
							<label for="newpass">new password</label>
							<input type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" placeholder="enter new password" formControlName="newpass" id="newpass" [ngClass]="{'is-invalid': PassF.newpass.errors && PassF.newpass.touched}">
							 <div *ngIf="PassF.newpass.errors " class="invalid-feedback">
                <div *ngIf="PassF.newpass.errors.required"> Password is required</div>
            </div>
						</div>
						<div class="form-group">
							<label for="cnfnewpass">confirm new password</label>
							<input type="password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" class="form-control" (keyup)="CheckPassword($event)"placeholder="confirm new password" formControlName="cnfnewpass" id="cnfnewpass" [ngClass]="{'is-invalid': PassF.cnfnewpass.errors && PassF.cnfnewpass.touched}">
							 <div *ngIf="PassF.cnfnewpass.errors " class="invalid-feedback">
                <div *ngIf="PassF.cnfnewpass.errors.required"> Confirm Password is required</div>
            </div>
            <div class="mCode" *ngIf="PasswordMatch == false">Confirm Password does not match</div> 

						</div>
						<div class="form-group mt-xl-5 mt-3">
						<button type="submit">Submit</button>
					</div>
	      			</form>
	      			</div>
	      			<div class="login-form mt-5" *ngIf="step==6">	
					<form [formGroup]="forgotUser" (ngSubmit)="submitForgotUser(forgotUser)" >
						<div class="form-group">
							<label>email</label>
							<input class="form-control" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" formControlName="uemail" type="email" name="uemail" placeholder="enter email" id="uemail" [ngClass]="{'is-invalid': forgetU.uemail.errors && forgetU.uemail.touched}">
							 <div *ngIf="forgetU.uemail.errors " class="invalid-feedback">
			                <div *ngIf="forgetU.uemail.errors.required || forgetU.uemail.touched || forgetU.submitted">Email is required</div>
			            </div>
							
						</div>
						<div class="form-group">
				            <label for="phone"> phone number</label>
				            <input type="text" formControlName="pnumber" class="form-control" placeholder="enter mobile" [ngClass]="{ 'is-invalid': (!forgotUser.get('pnumber').valid &&  forgotUser.get('pnumber').touched)}">
				            <div *ngIf="(!forgotUser.get('pnumber').valid || 
		            forgotUser.get('pnumber').touched) || forgetU.submitted" class="invalid-feedback">
				            Enter Valid phone number(+XXXXXXXXXXXX)
				          </div>
				          <div class="mCode" *ngIf="userError1"> Email/Phone not valid</div><
						<span (click)="logIn()" class="forgot_password">Back to Login?</span>
				        </div>
						<div class="form-group mt-3">
							<button type="submit">Submit</button>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>

</section>
</div>
<footer class="position-absolute w-100 footer">
	<div class="custom-container">
		<div class="row ">
			<div class="col-md-12">
			<!--	<div class="pl-3 pt-3  pb-3 accept-term d-flex align-items-center justify-content-between pr-4">-->
					<!-- <p class="mb-0 text-light"><a href="#">This website uses cookies.</a><a href="#"> &nbsp;<u>Read more about our privacy policy.</u></a></p>
				
					<button type="button" data-toggle="modal" data-target="#myModal">Accept</button> -->
					
			<!--	</div>-->

			</div>
		</div>
		<div class="d-flex justify-content-center justify-content-md-end">
			<div class=" pr-4 text-center copyright_text">
				<p class="mb-0">Copyright 2019 - 2020 <a [href]="href">yourcompany.com</a></p>
			</div>
			<div  class=" offset-md-4 text-right ">
				<ul class="mb-0 pl-0">
					<li>
						<p class="mb-0" (click)="showForm(content)">Legal</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<ng-template #content let-modal>
  <div class="modal-header">
  
    <h4 class="modal-title" id="modal-basic-title">Legal</h4>
    <!-- <span class="d-flex justify-content-md-between justify-content-center ">
    <img [src]="imagePath" class="legal-logo text-center"></span> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  	<div class="text-center w-100 popuplogo">
  		<img [src]="legalImgPath">
  	</div>
  <div class="modal-body">
   	<h6>This system is for the use of authorized users only.</h6>
       <p>Individuals using this computer system without authority, or in excess of their authority, are subject to having all of their activities on this system monitored and recorded by system personnel.  In the course of monitoring individuals improperly sing this system, or in the course of system maintenance, the activities of authorized users may also be monitored. </p>
	  <p>Anyone using this system expressly consents to such monitoring and is advised that if such monitoring reveals possible evidence of criminal activity, system personnel may provide the evidence of such monitoring to law enforcement officials.</p>

       
 
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn saveplatform theme-btn btn-info rounded-0" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

