@import url("https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.login-form{
	form{
		float: right;
		width: 215px;
		@media(max-width: 1250px){
			width: 155px;

		}
		@media(max-width: 767px){

			width: 100%;
		}
		input{
			width: 100%;
			height: 22px;
			border:1px solid #707070;
			display: block;
			padding-left: 8px;
			border-radius: 0px;
			font-size: 14px;
			line-height: 100%;
			outline: none;
			@media(max-width: 1250px){
				height: 19px;
				font-size: 12px;

			}
			&:focus{
				outline: none;box-shadow: none;
			}
			@media(max-width: 767px){
				width: 100%;
			}
		}
		label{
			color: #ffffff;
			text-align: left;
			display: block;
			font-size: 14px;
			line-height: 18px;
			margin-bottom:0px;
			@media(max-width: 1250px){
				font-size: 12px;
				line-height: 15px;
			}
		}
		button{
			width: 140px;
			height: 24px;
			color: #707070;
			font-size: 16px;
			line-height: 100%;padding-top: 0px; padding-bottom: 0px; outline: none; border-color: #404040;
			&:focus{
				outline: none;box-shadow: none;
			}
			@media(max-width: 1250px){
				height: 20px;
				font-size: 14px;
				width: 98px;
			}
			@media(max-width: 767px){
				width: 100%;
			}
		}
		.forgot_password{
			color: #ffffff;
			font-size: 11px;
			@media(max-width: 1250px){
				font-size: 10px;
				line-height: 19px;
				clear: both;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
.indicatewrapper{float: right;width: 100%;}
.copyright_text a {
    color: #fff;
}

span.forgot_password {
	cursor: pointer;
}
.login-form button{
	cursor: pointer;
}
.accept-term{
	background-color: #707070;
	box-shadow: 0px 3px 6px #0000008E;
	max-width: 890px;
	p{
		font-size: 20px;
		a{
			color: #ffffff;
			&:hover{
				text-decoration: none;
			}
		}
	}
	button{
		height: 36px;
		width: 173px;
		font-size: 20px;
	}
}
.footer{
	bottom: 7px;
	ul{
		li{
			a{
				color: #fff;
			}
		}
	}
	p{
		color: #fff;
	}
}
span.forgot_password.clr {
    padding-bottom: 0;
    margin-bottom: 0;
}
@media(max-width: 1250px){
	.logo {
		max-width: 220px;
	}
	.logo img {
    max-width: 220px;
	}
	.footer{
		bottom: 0px;
	}
	.custom-margin{
		margin-bottom: 0px;
	}

}
.mCode {
    color: #ca3342;
}
.legal-logo {
    max-width: 220px;
	}
.image-wrapper video {
    width: 450px;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
