.modal-title {
    font-weight: bold;
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 20px;
}	

.modal-body form label {
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 16px;
}

.modal-header {
    border: none !important;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-top: 10px;
}

.modal-content {
    border: none;
}

div#new-plate-form {
    margin-top: 0;
    margin-bottom: 0;
}

a.add-new-field i {
    padding-right: 0;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}

a.add-new-field {
    font-family: HelveticaNeue;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 7px;
}

.modal-body form .form-group {
    margin-bottom: 10px;
}

.services-box h5 {
    border-bottom: 1px solid #000;
    line-height: 40px;
    font-family: HelveticaNeue;
    font-size: 20px;
}

.add-new-field i.fa.fa-minus {
    margin-top: 10px; 
    margin-left: 10px;
}

.modal-body {
    padding-top: 5px;
}

.modal-header .close {
    outline: none;
} 
