  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>

 <div class="modal-dialog modal-dialog modal-lg" >
 	<div class="modal-content border-none">
 		<div class="w-100  pb-2">
 			<div class="modal-header">
 				<h4 *ngIf="platId && globalName" class="modal-title">Edit Resource</h4>
 				<h4 *ngIf="viewId" class="modal-title">View Resource</h4>
 				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button> 
 			</div>
 			<div class="modal-body formstyle2"> 
 				<form [@listAnimation] [formGroup]="userForm" (ngSubmit)="submitForm(userForm)">	
 					<div class="bodyarea scrollbar" id="style-3">
 						<div class="space_style">				
 							<div class="row d-flex align-items-start">
 								<div class="col-md-6">
 									<div class="form-group ">
 										<label>Platform Name</label>
 										<input readonly type="text" #platformId name="platformId" formControlName="platform" />
 									</div>
 								</div> 
 							</div>
 						</div>
 						<div class="space_style">
 							<div class="row">
 								<div class="col-lg-6 form-group" *ngFor="let item of compArray | keyvalue">
 									<label>{{item.key}}</label>
 									<input type="text" [readonly]="viewId || indextypevalue == item.key" name="{{item.key}}" class="option_input" (blur)="textValidation($event)" value="{{item.value}}" #field  />  							 
 								</div>
 								<span *ngIf="showerrmsg" class="is-invalid errormsg">All fields required</span>
 							</div> 				
 						</div>
 					</div>
 				</form>
 			</div>
 			<div class="modal-footer btn_wrap1 justify-content-between">
 				<div>
 					<button *ngIf="platId " type="button"  class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" (click)="delPlatformRes(itype,platname)">
 						Delete 
 					</button>  
 				</div>
 				<div class="d-flex">
 					<div class="mr-2">
 						<button *ngIf="platId" type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
 							Cancel
 						</button>
 					</div>
 					<div>
 						<button *ngIf="platId" (click)="submitForm(userForm)" [disabled]="showerrmsg" class="btn saveplatform theme-btn btn-info rounded-0 ">Update</button>
 						<button *ngIf="viewId" (click)="closeform()"  class="btn btn-secondary rounded-0 cancel-btn">Cancel</button>
 					</div>
 				</div>


 			</div>
 		</div>
 	</div>
 </div>
