.outer-title {
    font-size: 18px;
    color: #000;
    margin-bottom: 0px;
    padding: 0px 5px;
    @media (max-width: 1250px){
         font-size: 15px;
    }
  
}
.pagewrap {
    padding: 20px 0px;
}
.mains {
    margin-bottom: 10px;
    display: block;
}
.pagewrap .card-header .collapsed i.fa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "";
}
.outer-title i.fa {
    float: right;
}
.page-title {
    font-size: 18px;
    margin: 15px 0px;
}
.subheading{color: #0181AC;}
.text_bg {
       background: #f6f6ff;
    padding: 10px;
    margin-bottom: 10px;
}
.text_bg p {
    margin-bottom: 5px;
}
.Guide_table table td, .Guide_table table th {
    padding: 3px 25px;font-weight: 600;text-align: center; font-size: 11px;border: 1px solid #fff;
    border-width: 1px 1px 0px 0px;
}
.Guide_table table th{    background-color: #404040;
    color: #fff;
    border-right: 1px solid #fff;}
.Guide_table table th:last-child{border-right-color: #404040;}
.color1 {    color: #0cb70c;}
.color2 {   color: #ffff3c;}
.Guide_table table .odd {
    background: #d8d5d5;
}
.Guide_table tr {
    background: #e1e1fb;
}
.Guide_table table {
    border-color: #fff;
}
.fright{
    float:right;
}