
<div class="grey-bar2"> 
 <div class="container custom-container pt-0 pb-2">
    <div class="top-bar">  
      
      <div class="float-left">     
         <app-breadcrumb></app-breadcrumb>
      </div>
      
    </div>

            <div class="pagewrap  ">
<h2 class="page-title">OAF User Guide</h2>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mains inner-border-get inner-border-blue">
          <ngb-panel>
            
            <ng-template ngbPanelTitle>
              <div class="inner-border">
             <h5 class="outer-title"> <span><b></b>About</span><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5>
             </div>
           </ng-template>
            <ng-template ngbPanelContent>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Orchestration and Automation Framework (OAF)     </span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                  
                </div>
               </ng-template>
 <ng-template ngbPanelContent>
                   <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
        <div class="text_bg mb-0">
          <div class="d-flex">
            <div class="">
      <!-- <h5 class="outer-title">Logging in to account<i class="fa" aria-hidden="true"></i></h5> -->
      <p>Orchestration and Automation Framework (OAF) is a serverless, headless automation and provisioning platform developed by West Myra Digital Limited (<a href="#">https://westmyra.com/</a>). 
</p>
<p>As a reliable enterprise solution for completely managing your cloud accounts across leading Cloud Solution Providers (CSPs), such as AWS, Azure and GCP.</p>
<p>-   Decreases the work hours spent on configuring and maintaining cloud accounts</p>
<p>-   Decreases the amount of expert workforce needed to be allocated for managing the cloud accounts (as OAF makes it possible for even not-specialised help desk to manage them)</p>
<p>-   Increases the security (for instance through self-managed connectors for periodically rotating the user credentials)</p>
<p>-   Provides visibility of your cloud estate</p>
<p>All of the OAF features are API driven, which means they can be accessed through the platform of client’s choice (for instance Servicenow or Remedy), as well as directly through the OAF web application that West Myra team deploys on the client’s site. All APIs are accessible without using the Graphic User Interface (GUI). 
</p></div>
<div class="w3-col m6 w3-padding-large w3-hide-small pl-3">
      <img src="../assets/images/frame.png" class="w3-round w3-image w3-opacity-min" width="800" height="
      ">    
</div>
</div>

<br>
    </div>
  </div>
</div>
</div>
</ng-template>
             </ngb-panel>
           </ngb-accordion>
 <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Main OAF features  </span><!-- <i class="fa" aria-hidden="true"></i> -->
                  <fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                  
                </div>
               </ng-template>
 <ng-template ngbPanelContent>
                   <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
        <div class="text_bg mb-0">
<p>Orchestration and Automation Framework is an API-first enterprise solution that lets you manage your cloud accounts across leading platforms. </p>

<p>It’s a headless, serverless automation and provisioning platform – which means that it is first and foremost API driven, able to connect to and work with any of the platforms of your choosing (for instance, Remedy or ServiceNow).</p>

<p>However, the OAF web application deployed on the client website is also an available option, and this user guide covers the what and the how regarding the web application.</p>

<p>OAF lets you create and configure platforms, resources, services, instances and connectors at one place, easier and more secure. There are 3 user groups as well, so you can create different accounts to give a certain level of access to different users (see: <a href="javascript:void(0)" (click)="goToLink('link1')" >OAF user hierarchy</a>). </p>

<p>Finally, you can edit, view and delete any and all of the assets, as well as export your data in .CSV, .PDF and Excel format.</p>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>
         </ng-template>
       </ngb-panel>
     </ngb-accordion>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mains inner-border-get inner-border-blue">
          <ngb-panel>
            
            <ng-template ngbPanelTitle>
              <div class="inner-border">
             <h5 class="outer-title"> <span><b></b>Account management</span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5>
             </div>
           </ng-template>
            <ng-template ngbPanelContent>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Logging in to account  </span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                   <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
        <div class="text_bg">
     <!--  <h5 class="outer-title">Logging in to account<i class="fa" aria-hidden="true"></i></h5> -->
      <p>To log in to an account, visit the OAF web app (e.g. app.yourcompany.com), and use your username and password.</p>
      
     <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/myComp.png" class="w3-round w3-image w3-opacity-min" width="600" height="">
<br>  
<p><small>The password needs to be minimum 14 characters long, and contain a lowercase letter, an uppercase letter, a special character and a number.</small></p>   
 </div>
  <p>If you are utilising the OAF platform through a separate solution by using API, the 3rd Party platform credentials should be created without Multi-Factor Authentication (MFA), and the call back URL and their source IP address should be whitelisted in the back-end.</p>
  <p>Additional Information:</p>
  <p>- The Idle session timeout period is 60 min.</p>
  </div>
<div class="">
  <div class="text_bg">
        <h6 class="subheading">Forgot password?</h6>
<p>If you have forgotten the password associated with an account, click on the “forgot password” link below the password field. You will be prompted to enter your username, and once you click on the submit button, an SMS will be sent to the phone number registered with the account.</p>

<p>The SMS contains a Multi-Factor Authentication code (MFA code) which is needed to set a new password. To do this, simply enter the new password, enter it once again in the confirmation field, enter the MFA code and click submit.</p>

<p>The password needs to be minimum 14 characters long, and contain a lowercase letter, an uppercase letter, a special character and a number.</p>
<p>It is also possible to change the password by Editing account (see:<a href="javascript:void(0)" (click)="goToLink('link2')"> Edit Account and view the Login History</a>).</p>
  </div>

  <div class="text_bg mb-0">
  <h6 class="subheading">Forgot username?</h6>
<p>If you have forgotten the username, simply click on the “forgot username” link below the username field.</p>

<p>You will be prompted to enter the email and phone number associated with the account. Once the email and phone number are entered and submitted,<mark>you will receive an email with your username.</mark>
</p></div>

 </div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>

            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mains umanage inner-border-get inner-border-blue">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header">  <h5 class="outer-title"><span><b></b> Editing Account and viewing the Login History  </span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row w-100 " id="menu">

    <div class="w3-col l6 w3-padding-large" id="link2">
    <div class="text_bg mb-0">
                   <!--  <h5 class="outer-title">Editing Account and viewing the Login History</h5> -->
<p>You can edit Account information by clicking on the icon next to the name in the top right corner, and selecting “Edit Account” from the dropdown menu:</p>

 <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="../assets/images/MyComp2.png" class="w3-round w3-image w3-opacity-min" width="" height="">    
</div><br>

<div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/MyComp3.png" class="w3-round w3-image w3-opacity-min"
     width="500" height="" >
    </div>

     <div class="w3-col m6 w3-padding-large"><br>
      <p>From here, it is possible to change:<br>
                Name, Phone Number and Callback URL.</p>
      <p>It is not possible to change:<br>
Username, Email and Type. As these 3 fields are not changeable, in case you must change them, the user needs to be deleted and recreated.</p>
      <p>You can also change Password or view the Login History for the Account by clicking on one of the appropriate buttons on the top of the screen.
</p>
<p>The Login History contains the last <mark>XY logins with the time stamp, IP address and …</mark>as depicted in the screenshot below:</p>
</div>
</div>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>

</ng-template>
</ngb-panel>
</ngb-accordion>

 <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mains umanage inner-border-get inner-border-blue">
          <ngb-panel>
            
            <ng-template ngbPanelTitle>
              <div class="inner-border">
               <h5 class="outer-title">  <span><b></b>User management</span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5>
             </div>
           </ng-template>
          
                 <ng-template ngbPanelContent>
                   <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg">
      <!-- <h5 class="outer-title">User management</h5> -->
      <p>Depending on the authorisation for the user group an account belongs to (See: <a href="#">OAF User Hierarchy</a>), it is possible to:</p>
      <p>- Create new users</p>
      <p>- View existing users</p>
      <p>- Edit new users</p>
      <p>- Delete new users</p>
     
     <p>To manage users, click on the icon next to the name in the top right corner, and choose “Manage users” from the dropdown menu. You will be prompted to the page depicted on the screenshot below:</p>

      <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="../assets/images/MyComp4.png" class="w3-round w3-image w3-opacity-min"
     width="" height="" >
</div>
</div>
<div class="text_bg" id="link1">
     <h6 class="subheading" >OAF user hierarchy </h6>
     <p>There are 3 user groups in OAF:</p>
     <p>- Group 1: Super-Admin</p>
     <p>- Group 2: Administrator</p>
     <p>- Group 3: Standard</p>
     <style>
     table,th,td {
      border: 1px solid black;
     } </style>
     <div class="Guide_table">
     <table>
      <tr>
        <th></th>
        <th>Platform</th>
        <th>Resource</th>
        <th>Service</th>
        <th>Instance</th>
        <th>Users</th>
        <th>Connectors</th>
         </tr>
         <tr>
          <td>Super-Admin</td>
          <td><span class="color1">RW</span></td>
          <td><span class="color1">RW</span></td>
          <td><span class="color1">RW</span></td>
          <td><span class="color1">RW</span></td>
          <td><span class="color1">RW</span></td>
          <td><span class="color1">RW</span></td>
         </tr>
         <tr class="odd">
          <td>Administrator</td>
          <td><span class="color2">R</span></td>
          <td><span class="color1">RW</span></td>
          <td><span class="color2">R</span></td>
          <td><span class="color1">RW</span></td>
          <td>n/a</td>
          <td><span class="color2">R</span></td>
         </tr>
         <tr>
          <td>Standard user</td>
          <td><span class="color2">R</span></td>
          <td><span class="color2">R</span></td>
          <td><span class="color2">R</span></td>
          <td><span class="color2">R</span></td>
          <td>n/a</td>
          <td><span class="color2">R</span></td>
         </tr>
     </table>
   </div>
   </div>
   <div class="text_bg">
     <h6 class="subheading">Viewing and editing existing user(s)</h6>
     <p>Once you click on “Manage Users”, the default screen shows with the overview over existing users. For each user, the table contains Username, Name, Email, Phone, Type and timestamps for when the user was created and when it was last updated.</p>
     <p>It is possible to sort the table by any of the listed fields (e.g. Email, Type), simply by clicking on the relevant column’s name. It is also possible to use the search field in the top right corner, and choose the number of rows shown per page in the top left corner.</p>
     <p>On the right side in each row, there is a “pencil” icon for editing, and an “eye” icon for viewing the user data. Once you click on the “pencil”, the following screen will appear:</p>
      <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/MyComp5.png" class="w3-round w3-image w3-opacity-min" width="600" height="">    
</div>
<p>From there, it is possible to update Name, Phone, Type and Callback URL.</p>
<p>It is not possible to change the Username and Email. In case you must change them, the user needs to be deleted and recreated.</p>
<p>Clicking on the “eye” icon in order to view the user data shows the same screen, but without a possibility to edit any of the fields</p></div>
 <div class="text_bg">
     <h6 class="subheading">Creating new user(s)</h6>
<p>To create a new user, click on the “Add User” button in the top left corner of the default screen for the “Manage User” section. The following screen shall appear:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/MyComp6.png" class="w3-round w3-image w3-opacity-min" width="600" height="
     ">    
</div>
<p>Fill out the needed data in order to create the new user (Username, Name, Password, Phone, Email).</p>
<p>The username needs to be minimum XY characters long, and contain WHAT. The password needs to be minimum 14 characters long, and contain a lowercase letter, an uppercase letter, a special character and a number.</p>
<p>Select a Type for the user you are creating (Super-Admin, Administrator or Standard user. See:<a href="#">OAF User Hierarchy</a>).</p>
<p>Decide whether or not Multi-Factor Authentication (MFA) should be enabled.
Finally, enter the Callback URL (this field is not mandatory, and it’s used for 3rd Party integrations) and click Create.</p>
<p>After the new user is successfully created, an email will be sent to the user email. If the MFA was enabled, an SMS with a MFA code will be sent to the associated phone number.</p>
<p>Additional Information:</p>
<p>- The temporary password for a new user is sent in plain text via email. This password  cannot be used to sign into the application. The password must be reset using an MFA token during the first sign in of the new user into the application.</p>
<p>- The temporary password expires after 1 day</p>
</div>
 <div class="text_bg">
     <h6 class="subheading">Deleting existing user(s)</h6>
<p>Deleting a user is possible by clicking the Delete button available within the window that appears when a user is being edited.</p>
<p>First click on the “pencil” icon next to the user data, on the right side in their row. The following window will appear (same as when editing the user):</p>

<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/MyComp5.png" class="w3-round w3-image w3-opacity-min" width="600" height="">    
</div>
<p>Click on the red Delete button in the lower left corner of the window, and confirm the deletion. Note that this action cannot be undone. </p>

  </div>
  </div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>

 <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="mains inner-border-get inner-border-blue">
          <ngb-panel>            
            <ng-template ngbPanelTitle>
              <div class="inner-border">
               <h5 class="outer-title">  <span><b></b>Cloud management</span><!-- <i class="fa" aria-hidden="true"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5>
             </div>
           </ng-template>
            <ng-template ngbPanelContent>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <!--                                <div class="w3-col l6 w3-padding-large">
                    <p>Depending on the account type, it is possible to manage multiple cloud accounts through OAF. Already the home screen gives the user the overview over all platforms, resources, services and instances associated with an account.</p>
                    <p>From here on, they can be created, edited, viewed or deleted depending on the user credentials / access (see: OAF user hierarchy), as depicted below:</p>
                    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/Plat1.png" class="w3-round w3-image w3-opacity-min" width="200" height="300">    
</div>
<p>Note that it is possible to sort and search, select platforms and services and choose the number of entries (rows) displayed per page for the ease of use. It is also possible to export data (see: Exporting data)</p>
</div> -->
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">

                  <div class="opblock-section-header"> <h5 class="outer-title"><span><b></b>Managing Platforms</span> <!-- <i aria-hidden="true" class="fa"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                <ng-template ngbPanelContent>
                   <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row w-100" id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg">
  
        <p>OAF lets you easily manage platforms with various Cloud Solution Providers (CSPs), such as AWS, Azure and GCP. Once you have added a platform, you can add resources (for example a new account) easily.</p>
        <h6 class="subheading">Adding a platform</h6>
        <p>To add a platform, click on the Add Platform in the on the top of the home screen. The following window displays:</p>
        <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/Plat2.png" class="w3-round w3-image w3-opacity-min" width="" height="">    
</div>
<p>You need to select Name and Index in the first row, and define at least 2 fields. You can add additional fields, and choose the input format, for instance date, numbers only etc. (These fields will define how the resources are added when the platform you created is selected.)</p></div>
<div class="text_bg mb-0">
<h6 class="subheading">Editing and Deleting Platform</h6>
<p>To edit or delete platform, right-click on the platform on the dashboard page:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/Plat3.png" class="w3-round w3-image w3-opacity-min" width="" height="">    
</div>
<p>This will open up a popup window from which you can edit all the fields, add new fields and update information.  Clicking the “Update” button will save the changes, and if you wish to delete the platform, click on the red “Delete” button in the bottom left corner.</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/Plat4.png" class="w3-round w3-image w3-opacity-min" width="" height="
     ">    
</div>
<p>Note that only Super Admin can delete or edit platforms.</p>
          </div>
          </div>
      </div>
  </div>
      </ng-template>
  </ngb-panel>
</ngb-accordion>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Managing Resource  </span> <!-- <i aria-hidden="true" class="fa"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
   <div class="text_bg">
      <p>Once you have added platforms, you can add different resources based on the way the platform is set up. For instance, you can add another AWS account by selecting AWS from the platform list, filling out the necessary fields and letting OAF automatically create and configure your account. Once it is created, you will receive a confirmation email.</p>

      <h6 class="subheading">Adding a resource</h6>
      <p>To add a resource, click on the “Add Resource” button in the top of the home screen. This will open a window where you need to select a platform to which you want to add the resource, and then fill out the necessary fields (that were defined when the platform was created.)</p>
      <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/res1.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div> 
     </div> 
   <div class="text_bg mb-0">
      <h6 class="subheading">Viewing, editing and deleting a resource</h6> 
     <p>To view, edit or delete a resource, you need to first select a platform by clicking on it from the list on the home screen. Once there, you will see various resources that are listed. You can sort the columns in order to find the resource you are looking for easier. Note that you can also use the search field in the top right corner. </p>
     <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/res2.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>   

<p>Once you have found the resource you wish to edit, click on the “pencil” icon on the left side to edit it, or on the “eye” icon to view it. The same window will appear, but in case of the viewing, it won’t be possible to edit values.</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/res3.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
     <p>From here you can edit any of the fields, and click on Update to save the changes.
If you wish to delete a resource, you can click on the red Delete button in the left corner. Note that this can’t be undone.</p>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"> <h5 class="outer-title"><span><b></b> Managing Services  </span> <!-- <i aria-hidden="true" class="fa"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row w-100" id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg">
<p>Once platforms are set up, you can easily add and manage services from the OAF homescreen.</p>
 <h6 class="subheading">Adding a service</h6>
<p>If you wish to add a service, for instance a Mail Relay endpoint or Hardened Images Library to AWS, or another platform, you need to click on the “Add Service” button at the top of the screen. The following window will appear:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/sev1.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
<p>Choose a Name and fill out the rest of the fields. Note that you can add additional fields by clicking “Add New Field” in the bottom left corner of the window.
Once everything is ready, click “Create”.</p>
</div>
    <div class="text_bg mb-0">
 <h6 class="subheading">Viewing, editing and deleting a service</h6>
<p>When you click on any of the platforms from the OAF homescreen, you will be taken to the page listing all the affiliated entries:</p>
     <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/sev2.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
<p>From here, you can click icons on the left to edit or view any of the services. Deleting is done from the edit screen. </p>
<p>Remember that you can sort entries by clicking on any of the column names, use search (in the top right corner above the table), as well as customize columns by clicking on the button in the top right corner.</p>
<p>Note that you can export data in .CSV, .PDF or Excel format by clicking on the three dots in the top right corner, and choosing the preferred format.</p>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Managing Instances </span> <!-- <i aria-hidden="true" class="fa"></i> -->
                  <fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg">
  
<p>You can manage instances from the homescreen, or any of the screens once you click on some of your platforms (e.g. Amazon Web Services). As a prerequisite, you need to have set up platform(s), resource(s) and service(s) first.</p>
 <h6 class="subheading">Adding an instance</h6>
<p>To add an instance, click on the “Add Instance” button on the top of the page, next to the buttons for adding platforms, services and resources. The button is located on the same place whether you are viewing the home screen, or a platform screen.</p>
<p>Once you click “Add Instance”, the following popup will appear:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/int1.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
<p>You need to select a platform, resource (by choosing one of the available resource IDs), and finally a service. Based on your choice (and how the platform, resource and service were configured), additional fields shall appear for you to fill them out. For example:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/int2.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
<p>Once you have filled all the required fields, click “Create”.</p>
</div>
  <div class="text_bg mb-0">
 <h6 class="subheading">Viewing, editing and deleting instances</h6>
<p>To view and edit any of the instances, first choose the associated platform and service by clicking on the drop-down menus on the top left. Once you have selected, the table containing all the instances will appear. The same as with other screens, you can sort the columns, use the search function, customize columns or export the data.</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/int3.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>

<p>
To view or edit an instance, click the icons on the right (“pencil” or “eye”). If you wish to delete an instance, this is done by first clicking on the “edit pencil”, and then choosing the red delete button available in the popup window that appears for editing purposes.</p>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"> <span><b></b> Managing Connectors  </span> <!-- <i aria-hidden="true" class="fa"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row " id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg">
<p>OAF lets you use self-managed connectors for periodically rotating the user credentials for different cloud services and platforms. To view them, add, edit or delete – click on the icon next to the name in top right corner, and select Manage Connectors from the dropdown menu that opens.</p>
<p>The following page shall open:</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/mg1.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
     <h6 class="subheading">Adding connectors</h6><br>
     <p>To add a new connector, click on the Add Connector button in the top left corner of the default screen that opens once you choose “Manage Connectors”.</p>
<p>A window will open where you need to fill in the necessary information in order to create the connector: </p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/mg2.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
     </div>
     <div class="text_bg mb-0">
     <h6 class="subheading">Viewing, editing and deleting connectors</h6>
     <p>From the default screen, you will see an overview over all the available connectors. You can sort the columns by name (or any other parameter), choose how many rows should be displayed per page or use the search function to easier find a connection you wish to view or edit.</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/mg3.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>

     <p>On the right side of each row, you will see icons for editing or viewing the selected connector (“pencil” and “eye”). Choosing edit or view opens practically the same window, but in the case of selecting view, you will not be able to edit any values, while you can change certain values after selecting edit.</p>
     <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/mg1.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div>
     <p>If you wish to delete a connector, you need to select edit, and then click on the red Delete button in the button left corner of the popup window. Note that this action cannot be undone.</p>
</div>
</div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>


<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel>
                <ng-template ngbPanelTitle>
                  <div class="inner-border">
                  <div class="opblock-section-header"><h5 class="outer-title"><span><b></b> Exporting data</span>
          <!-- <i aria-hidden="true" class="fa"></i> --><fa-icon [icon]="faArrowRight" class="fright"aria-hidden="true"></fa-icon></h5></div>
                </div>
                </ng-template>
                 <ng-template ngbPanelContent>
                  <div class="justify-content-between bg-white opblock-section-header d-flex">
              <div class="w3-row w-100" id="menu">
    <div class="w3-col l6 w3-padding-large">
    <div class="text_bg mb-0">
<p>You can export data in .CSV, .PDF or Excel format from any of the screens, whether it is homescreen, platform, or another level.</p>
<p>Do this by clicking on the three dots in the top right corner, and then selecting the format from the drop-down menu.</p>
<div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="../assets/images/export.png" class="w3-round w3-image w3-opacity-min" width="" height="">
     </div><br>
     <h6 class="subheading">Contact information</h6>
     <p>Orchestration and Automation Framework (OAF) is developed by West Myra. </p>
     <p>For product roadmap enquiries, write to: info@westmyra.com</p>
     <p>For technical support, write to: support@westmyra.com</p>
     <p>To learn more, visit: www.westmyra.com.</p>
 </div>
 </div>
</div>
</div>
</ng-template>
</ngb-panel>
</ngb-accordion>
</ng-template>
</ngb-panel>
</ngb-accordion>
 

</div>
</div>
</div>

