<div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
  </div>
 <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content border-none">
        <div class="w-100  pb-2 ">
            <div class="modal-header modal-header-view">
                <h4 class="modal-title">View History</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button> 
            </div>
            <div class="modal-body formstyle2 histroy_popup">
                <div class="responsive-table table-responsive-sm   historytable">
                <table class="table table-data display nowrap table1" style="width:100%" id="table1">
                <thead>
                    <tr>
                        <th>Request Id</th>
                        <th>User</th>             
                        <th>Action</th>
                        <th>Type</th>             
                        <th>EntityId</th>
                        <th>Status</th>
                        <th>CreatedDateTime</th>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let d of data; let i = index">
                        <td>{{d.rid}}</td>                       
                        <td>{{d.itms.User}}</td>                       
                        <td>{{d.itms.Action}}</td>                       
                        <td>{{d.itms.Type}}</td>                       
                        <td>{{d.itms.EntityId}}</td>                       
                        <td>{{d.itms.Status}}</td>                       
                        <td>{{d.itms.CreatedDateTime}}</td>                       
                    
                    </tr>
                </tbody>
                </table>
                </div>
                <span class="big-text">Current status of your Request is: <strong>{{status}}</strong></span>
            </div>
            <div class="modal-footer btn_wrap1 justify-content-between">
                <div>
                   
                </div>
                <div class="d-flex">
                
                    <div>
                        
                        <button  (click)="closeform()" class="btn btn-secondary rounded-0 cancel-btn">Cancel</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>