.modal-title {
    font-weight: bold;
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 12px;
    }
}   

.modal-body form label {
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 0px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 28px;
        vertical-align: bottom;
    }
}
.modal-content {
    border: none;
}

div#new-plate-form {
    margin-top: 0;
    margin-bottom: 0;
}

a.add-new-field i {
    padding-right: 0;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    font-size: 18px;
    margin-right: 10px;
    @media (max-width: 1250px){
     font-size: 10px;
     margin-right:5px;   
 }
}

a.add-new-field {
    font-family: HelveticaNeue;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 0px;
    @media (max-width: 1250px){
        font-size: 12px;
    }
}

.modal-body form .form-group {
    margin-bottom: 10px;
}

.services-box h5 {
    border-bottom: 1px solid #000;
    line-height: 40px;
    font-family: HelveticaNeue;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 20px;
    }
}

.add-new-field i.fa.fa-minus {
    margin-top: 3px; 
    margin-left: 10px;
    @media (max-width: 1250px){
        margin-top: 0px;
        vertical-align: top;
    }
}

.modal-body {
    padding-top: 0px;
    @media (max-width: 1250px){
        padding-bottom: 10px;
    }
}

.modal-header .close {
    outline: none;
} 
.bodyarea {
/*    padding-left: 142px;
padding-right: 142px;*/
overflow-y: auto;
max-height: 400px;
@media (max-width: 1250px){
     /*   padding-left: 107px;
     padding-right: 107px;*/
     max-height:293px;
 }
}

.custompopup{
    height: 100%;
    display: flex;
    align-items: center;
}
.services-box {
    margin-bottom: 0px !important;
    @media(max-width: 1250px){
        line-height: 100%;
    }
}
.sideaddnew {
    position: absolute;
    right: -18px;
    z-index: 9;
    @media (max-width: 1250px){
       right: -12px; 
   }
}

.sideaddnew i {
    font-size: 8px !important;
}
@media (max-width: 1250px){
    a.add_field{
        padding-left: 0px;
    }
    .mrgn-1{
        margin-bottom: 0px !important;
    }
}

.bodyarea {
    padding-left: 2px;
    padding-right: 12px;
    @media(max-width: 1250px){
            padding-left: 0px;
    padding-right: 9px;
    }
}
.modal-header {
    padding-left:19px;
    @media(max-width: 1250px){
         padding-left:17px;
    }
}
.modal-footer{
    @media(max-width: 1250px){
         padding-bottom: 0px;
    }
}
.small-label label {
    font-size: 10px !important;
}
