<section class="bg-white ">
    <div class="container custom-container pt-0 pb-2">
    <div class="top-bar">     
    <div class="float-left">     
        <app-breadcrumb></app-breadcrumb> 
    </div>
       <div ngbDropdown class="d-inline-block download-btns dropdown">
      <button class="toggle_btn" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-ellipsis-h text-dark"></i></button>
      <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" >
        <!-- <li ngbDropdownItem> Download - PDF </li>
         <li ngbDropdownItem> Download - CSV </li>
        <li ngbDropdownItem> Download - PNG </li> -->
       <!--  *ngIf="obj$ |  async as obs" -->
      </ul>
    </div>
   </div>
 <!-- <span *ngIf="anyPlat" class="bcrumb">{{stelectedPlatform}}</span>  
            <span *ngIf="anyService" class="bcrumb"> >> {{selectServ}}</span> -->
        <div class="row">
            <div class="col-md-4 d-flex select-boxrow">
                <div class="form-group platform mr-1 mr-lg-2">
                    <select class="custom-select" [(ngModel)]="selectedVal" (change)="selected()">
                        <option value="" disabled>Select a platform</option>
                        <option *ngFor="let list of platformList; let i = index" value="{{list.Platform+'__'+list.Index_type}}">{{list.Platform}}</option>
                        
                        
                    </select>
                </div>
                <div class="form-group platform ml-1 ml-lg-2">
                    <select   class="custom-select"  [(ngModel)]="selectedValService" (change)="selectedservice()">
                        <option value="" disabled>Select a Service</option>{{serviceList | json}}
                        <option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service+'__'+serv.Index_type}}">{{serv.Service}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8 d-sm-flex additemrow">
                
                <button class="btn theme-btn ml-1 ml-lg-2 mr-1" (click)="openPlatform()"><i class="fas fa-plus"></i>Add Platform </button>
                <button class="btn theme-btn ml-1 ml-lg-2 mr-1" (click)="resouce()"><i class="fas fa-plus"></i>Add Resource</button>
                <button class="btn theme-btn ml-1 ml-lg-2 mr-1" (click)="openService()"><i class="fas fa-plus"></i>Add Service</button>
                <button class="btn theme-btn ml-1 ml-lg-2 mr-1" (click)="instance()"><i class="fas fa-plus"></i>Add Instance</button>
                
                <button [disabled]="customize" class="btn  btn-light ml-1 ml-lg-2" (click)="open(content)">Customize Columns</button>

            </div>
        </div>
    </div>
     <!-- <div class="loading" *ngIf ="loader">Loading&#8230;</div> --> 
    <div class="container custom-container pt-0 pb-4">
        <div class="responsive-table table-responsive-sm table_design custom_design">
           <!--  <span *ngIf="anyPlat" class="bcrumb">{{stelectedPlatform}}</span>
            <span *ngIf="anyService" class="bcrumb"> >> {{selectServ}}</span> -->
           <!--  <span *ngIf="backbtn" (click)="backBtn()" class="bcrumb"> << Back</span> -->
             

             <table class="table table-data display nowrap table1" style="width:100%" id="table1" *ngIf= "PlatformTable">
                <thead>
                    <tr *ngIf="resData">
                        <th>
                            <div class="iconbox">                         

                            </div>
                        </th>
                        <th *ngFor="let head of resHeading">{{head | titlecase}}</th>                
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let data of resData; let i = index">
                        <td>
                            <div class="iconbox">
                                <span class="rowhidden">{{i+1}}</span>
                                <i class="fas fa-pencil-alt"  (click)="editPlatform(data.id,data.plat,data.index)" data-toggle="modal" ></i>
                                <i class="fas fa-eye" (click)="viewPlatform(data.id,data.plat,data.index)" data-toggle="modal" ></i>
                               
                            </div>
                        </td>
                        <td *ngFor="let d of data.rec">{{d}}</td>                       
                    
                    </tr>
                </tbody>
            </table>
            <table class="table table-data display nowrap table1" style="width:100%" id="table2" *ngIf= "ServiceTable">
               
                <thead>
                    <tr *ngIf="servValue">
                        <th width="10%">
               
                        </th>
                        <th *ngFor="let ser of servHeading">
                           {{ser | titlecase}}
                        </th>
                    </tr>                   
                </thead>
                <tbody>
                    <tr *ngFor="let ser of servValue let i = index">
                        <td >
                             <div class="iconbox">
                                <span class="rowhidden">{{i+1}}</span>
                                <i class="fas fa-pencil-alt" data-toggle="modal" (click)="editProvision(ser.plat,ser.serv,ser.index)"></i>
                                <i class="fas fa-eye" data-toggle="modal" (click)="viewProvision(ser.plat,ser.serv,ser.index)"></i>
                            </div> 
                        </td>
                         <td *ngFor="let s of ser.val">
                          {{s}}
                        </td>
                    </tr>
                </tbody>
            </table>
            
          
            <table  class="table table-data display nowrap platform_service" style="width:100%" id="table3" *ngIf= "tableplat">
                <thead>

                    <tr *ngIf="tableData">
                        <th width="20%" >Platform</th>
                        <th width="80%">Services</th>
                        
                    </tr>                   
                </thead>
                <tbody>

                    <tr *ngFor="let i of tableData">
                     
                        <td *ngIf="auth.isAdmin();else elseBlock" (click)="platformSelection(i.Platform,i.Index_type)" [shAttachMenu]="menu" [shMenuData]="i.Platform"><span>{{i.Platform}} ({{i.Count}})</span></td>
                        <ng-template #elseBlock>
                            <td (click)="platformSelection(i.Platform,i.Index_type)">{{i.Platform}} ({{i.Count}})</td>
                        </ng-template>

                        <td *ngIf="auth.isAdmin();else elseBlock2">
                            <span (click)="serviceSelection(ii.Service,i.Platform,ii.Index_type,i.Index_type)" [shAttachMenu]="menu1" [shMenuData]="ii.Service+'__'+i.Platform" *ngFor="let ii of sortArray(i.Services); let isLast=last"> {{ii.Service }} ({{ii.Count}}){{isLast ? '' : ', '}}</span>
                        
                        
                        </td>
                        <ng-template #elseBlock2>
                            <td><span (click)="serviceSelection(ii.Service,i.Platform,ii.Index_type,i.Index_type)" *ngFor="let ii of i.Services; let isLast=last">{{ii.Service}} ({{ii.Count}}){{isLast ? '' : ', '}}</span></td>
                        </ng-template>
                        
                    </tr>

                  
                </tbody>
            </table>
     <!-- <div [shAttachMenu]="menu" >Right Click Me</div> -->
        <sh-context-menu #menu>
            <ng-template shContextMenuItem  (click)="onClick($event,'edit')">
                <div>Edit</div>
            </ng-template>
            <ng-template shContextMenuItem  (click)="onClick($event,'view')">
                <div>View</div>
            </ng-template>
           <!--  <ng-template shContextMenuItem  (click)="onClick($event,'del')">
                <div>Delete</div>
            </ng-template> -->
        </sh-context-menu>
        <sh-context-menu #menu1>
            <ng-template shContextMenuItem  (click)="onClick1($event,'edit')">
               
                <div>Edit</div>
            </ng-template>
            <ng-template shContextMenuItem  (click)="onClick1($event,'view')">
                <div>View</div>
            </ng-template>
            <!-- <ng-template shContextMenuItem  (click)="onClick1($event,'del')">
                <div>Delete</div>
            </ng-template> -->
        </sh-context-menu>
    </div>
    </div>
</section>



<!-- Customize Columns -->

 <div class="container">
   
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customize Columns</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
       <div class="row d-flex align-items-end mb-3"> 
        <div *ngFor="let column of columns let i = index " class="col-md-4">
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
               <input type="checkbox" id="checkbox{{column.position}}" value="{{column.position}}" [checked]="selectedColumn.includes(column.position)" (change)="checkValue($event,column.position,column.tableCls)">
          <label for="checkbox{{column.position}}"> {{column.name | titlecase}} </label>
        </div>
        </div>
      
    </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="saveplatform btn theme-btn btn-info rounded-0 ml-3" (click)="modal.close('Save click')">Update</button>
  </div>
</ng-template>


   
   <!--  <div class="modal fade  popup-form" id="customize-columns">
        <div class="modal-dialog bd-example-modal-sm">
            <div class="modal-content">

                
                <div class="modal-header">
                    <h4 class="modal-title text-center">Customize Columns</h4>
                    <button type="button" class="close" (click)="closeModel()" data-dismiss="modal">&times;</button>
                </div>

                
                <div class="modal-body customize-columns">                  
                              
                        <div class="row d-flex align-items-end mb-3"> 
                            <div *ngFor="let column of columns let i = index " class="col-md-4">
                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                 <input type="checkbox" class="custom-control-input" checked >
                                  <label class="custom-control-label" for="customControlInline1">{{head}}</label>
                                   <input type="checkbox" id="checkbox{{column.position}}" value="{{column.position}}" [checked]="selectedColumn.includes(column.position)" (change)="checkValue($event,column.position)">
                              <label for="checkbox{{column.position}}"> {{column.name}} </label>
                            </div>
                            </div>
                          
                        </div>
                 
                </div>

               
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal">Cancel</button>
                    
                    <button type="button" (cllick)="closeModel()" class="btn theme-btn btn-info rounded-0 ml-4 px-6 py-2">Apply</button>
                    
                </div>

            </div>
        </div>
    </div> -->

</div> 