  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
 <div class="modal-dialog modal-dialog modal-lg" >
<div class="modal-content border-none">
    <div class="w-100  pb-1">
     <div class="modal-header model_header2">
      <h4 class="modal-title">Add New Resource </h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
    </div>
    <div class="modal-body formstyle2 pb-xl-2">
      <form>  
        <div class="bodyarea scrollbar" id="style-3">       
         <div class="row d-flex align-items-start">
          <div class="col-md-6">
            <div class="form-group mb-0 mrgn-1 ">
             <label>Platform</label>
             <select class="custom-select mr-3" (change)="selected()" #platfrm (blur)="getIds($event)">
              <option value="" >Select a platform</option>
              <option *ngFor="let list of platformList; let i = index" value="{{list.Platform}}">{{list.Platform}}</option>           
            </select>   
          </div>
        </div>
      </div>
      <div class="space_style">
       <div class="row d-flex align-items-start" *ngIf="show">
        <div class="col-md-3 sss" *ngFor="let fList of passList; let i = index">
         <div *ngIf="(fList.type != 'selector' && fList.type != 'datetime' && fList.exacttype != 'Selector-SN' && fList.exacttype != 'Support Email')">
          <div class="form-group services-box small-label">
            <label>{{fList.label}}</label>
            <input required type="{{fList.type}}" (blur)="checkValidate($event,fList.exacttype,i)" name="{{fList.label}}" [(ngModel)]="getAll[i+'__'+fList.label+'__'+fList.type]" [ngModelOptions]="{standalone: true}" />
             <p *ngIf="erremail && nARray.includes(i)" class="invalid-input">Invalid Email</p>
            <p *ngIf="errnum && nARray1.includes(i)" class="invalid-input">Number Only</p>
            <p *ngIf="erralpha && nARray2.includes(i)" class="invalid-input">Alphabet Only</p>
            <p *ngIf="errmixed && nARray3.includes(i)" class="invalid-input">Required</p>
            <p *ngIf="errmulEmail && nARray4.includes(i)" class="invalid-input">Invalid Multi Email</p>
            <p *ngIf="dateErr && nARray6.includes(i)" class="invalid-input">Please Fill Date</p>
            <p *ngIf="errmultimixed && nARray9.includes(i)" class="invalid-input">Please add values separetd by comma</p>
          </div>
        </div>
        <div *ngIf="(fList.exacttype == 'Support Email')">
          <div class="form-group services-box small-label">
            <label>{{fList.label}}<span class="red" *ngIf="fList.exacttype == 'Support Email'">*</span></label>
            <input required type="{{fList.type}}" id="idd{{i}}" (blur)="checkValidate($event,fList.exacttype,i)" name="{{fList.label}}" [(ngModel)]="getAll[i+'__'+fList.label+'__'+fList.type]" class="semail" [ngModelOptions]="{standalone: true}" />
            <p *ngIf="erremail && nARray.includes(i)" class="invalid-input">Invalid Email</p>
            
          </div>
        </div>

        <div *ngIf="fList.type == 'datetime'">
          <div class="form-group services-box small-label">
            <label>{{fList.label}}</label>
            <input required (blur)="checkValidate($event,fList.type,i)" [owlDateTime]="dt1" [(ngModel)]="getAll[i+'__'+fList.label+'__'+fList.type]" [ngModelOptions]="{standalone: true}" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
            <owl-date-time #dt1></owl-date-time>
            <p *ngIf="datetimeErr && nARray7.includes(i)" class="invalid-input">Please Fill DateTime</p>
          </div>
        </div>
        <div  *ngIf="fList.type === 'selector'">
          <div class="row">
            <div class="col-md-12 onerow">
              <div class="form-group services-box small-label">
                <label class="onerow-heading">{{fList.label}}</label>
                <select *ngIf="fList.exacttype == 'Selector'" required class="custom-select mr-3 option_input" #dropdown (change)="selectedDrop()" (blur)="getIds($event)">
                 <option *ngFor="let val of fList.value; let i = index" value="{{val+'__'+fList.label}}">{{val}}</option>
               </select>
               <ng-multiselect-dropdown required *ngIf="fList.exacttype == 'String-ms'"
               [placeholder]="'select'"
               [settings]="dropdownSettings"
               class="option_input1"
               [data]="fList.multi"
               #dropdown
               [ngModelOptions]="{standalone: true}"
               [(ngModel)]="getAll[i+'__'+fList.label+'__'+fList.exacttype]"
               
               (onSelect)="onItemSelect($event)"
               (onSelectAll)="onSelectAll($event)"
               (onDeSelect)="onDeSelect($event)"
               >
             </ng-multiselect-dropdown>
             <p *ngIf="multisErr && nARray8.includes(i)" class="invalid-input">Please selct any option</p>
           </div>
         </div>
       </div>
     </div>
     <div  *ngIf="fList.exacttype === 'Selector-SN'">
      <div class="row">
        <div class="col-md-12 onerow">
          <div class="form-group services-box small-label">
            <label class="onerow-heading 111">{{fList.label}}</label>
            <select required id="selectaddnew{{i}}" *ngIf="fList.exacttype == 'Selector-SN'" (blur)="checkValidate($event,fList.exacttype,i)" class="custom-select mr-3 option_input2" #dropdown  [ngModelOptions]="{standalone: true}" [(ngModel)]="getAll[i+'__'+fList.label+'__'+fList.exacttype]" >
             <option *ngFor="let val of fList.value; let i = index" value="{{val+'__'+fList.label}}">{{val}}</option>
           </select>
           <span  (click)="Addfield($event,i,fList.label)">Add New Field</span>
           <p *ngIf="selectorN && nARray5.includes(i)" class="invalid-input">select any option</p>
         </div>
       </div>
     </div>
   </div>   
 </div>   
</div>
</div>
</div>
</form>
</div>
<div class="modal-footer justify-content-between">
  <div>   

 <!-- <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->

      </div>
       <div>
  <button type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
   Cancel
 </button> 
 <button class="btn  saveplatform theme-btn btn-info rounded-0 ml-2" [disabled]="supportEmailValidation || erremail || erralpha || errnum || errmixed || selectorN || dateErr || multisErr || datetimeErr || errmultimixed" (click)="submitForm()">Create</button>
</div>
</div>
</div>

</div>
</div>

