<footer class="position-fixed w-100 footer bg-white">
  <div class="container custom-container">    
    <div class="d-flex justify-content-center justify-content-sm-end">
        <div class=" pr-4 text-center">
        <p class="mb-0">Copyright 2019 - 2020 <a [href]="href">yourcompany.com</a></p>
      </div>
      <div  class=" offset-sm-4 text-right ">
        <ul class="mb-0">
          <li>
            <span (click)="showForm(content)">Legal</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Legal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="text-center w-100 popuplogo">
      <img [src]="imagePath">
    </div>
  <div class="modal-body">
   
       <h6>Notice to All Users (Authorized or Unauthorized).</h6>
<p>This computer system is for authorized use only. Users have no explicit or implicit expectation of privacy.</p>
<p>Any or all uses of this system and all data on this system may be intercepted, monitored, recorded, copied, audited, inspected, and disclosed to authorized sites and law enforcement personnel, as well as authorized officials of other agencies. By using this system, the user consent to such disclosure at the discretion of authorized site personnel. Unauthorized or improper use of this system may result in administrative disciplinary action, civil and criminal penalties. By continuing to use this system you indicate your awareness of and consent to these terms and conditions of use. STOP IMMEDIATELY!!! if you do not agree to the conditions stated in this warning.</p>
<ul><li>
 + Please refer the Company Policy document available in the 'policy URL'.</li>
<li> + Contact IT Security Officer (email@yourcompany.com(opens in new tab))"</li></ul>
 
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn saveplatform theme-btn btn-info rounded-0" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>