/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/cdk/overlay-prebuilt.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
body{
    /*background-color: #404040 !important;*/
    font-size: 14px;
    line-height: 28px;  
    font-family: HelveticaNeue;
    p{
        
    }
    ul{
        li{
            list-style: none;
            
            a{
            }
        }
    }
}
.px-6{padding-left:40px; padding-right:40px;}
.py-6{padding-top:40px; padding-bottom:40px;}
.theme-btn{
    background-color: #0181AC !important;
    border-color: #0181AC !important;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
}
.cancel-btn{
    background-color: #d5d5d5 !important;
    border-color: #d5d5d5 !important;
    color: #000;
    min-width: 120px;
    @media(max-width: 1250px){
        min-width: 100px;
    }
}
.dark-bg {
    background-color: #404040 !important;
}
img{
    max-width: 100%;
}
/*******HEADER CSS*******/
.login-menu li a {
    background: #fff;
    width: 44px;
    height: 44px;
    display: inline-block;
    border-radius: 50%;
    line-height: 44px;
    color: #404040;
    text-align: center;
    font-size: 27px;
}
.login-menu {
    float: right;
}
/*******TABLE HEADER CSS*******/
.select-boxrow .form-group {
    width: 100%;margin-bottom: 0px;
}
.additemrow button {
    width: 100%;
    border-radius: 3px;
    height: 35px; white-space: nowrap;
}
.additemrow button:hover{
    color: #ffffff;
}
.select-boxrow select:hover {
    border: 1px solid #404040;
}
.select-boxrow select{
    border-radius: 3px;
    height: 35px;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 35px;
    vertical-align: top;
}
.additemrow .btn-light{
    border: 1px solid #707070;
    background-color: #ffffff;
}
.additemrow .btn-light:hover{
    color: #000;
}
.responsive-table table {
    width: 100%;
}
.responsive-table table th {
    border: 1px solid #404040;
    border-right: none;
}
.responsive-table table th:last-child{
    border-right: 1px solid #404040;
}
.responsive-table table {
    width: 100%;
    border: 1px solid #404040;
}
.responsive-table td {
    font-size: 1rem;
    padding: .375rem .75rem .375rem .75rem;
}
.iconbox {
    display: flex;    align-items: center;     margin-top: 7px;
}

.responsive-table th .iconbox {
}
body .custom-control-label::before{
    border-color: #000 !important;
    border-radius: 0px !important;
}
.iconbox .custom-control.custom-checkbox {
    margin-right: 3px;
}

/***********POPUP FORM DESIGN CSS************/
.modal-footer{
    border:none;
}
.modal-header .close {
    padding: .7rem 1rem;
}
.popup-form .modal-dialog {
    max-width: 850px;
}
.popup-style{
    background-color: #b0b0b0;
    opacity: 1;
    .modal-dialog{
        max-width: 920px;
        .modal-body{
            padding-left: 200px;
            padding-right: 200px;
            max-height: 544px;          
            .modal-title{
                font-size: 20px;
                color: #404040;
            }
        }
    }   
}
.formstyle2 select {
    width: 100%;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 3px;
    font-size: 13px;
    padding-left: 7px; overflow-x: hidden;

    @media (max-width: 1250px){
        height: 22px;
        font-size: 12px;
        line-height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;

    }
}
.formstyle2 input {
    width: 100%;
    height: 35px;
    border: 1px solid #707070;
    border-radius: 3px;
    padding-left: 10px;
}
.popup-style{
    .modal-content{
        padding: 0px 30px;
    }

}
.modal-header{
    border: none !important
}
/*.formstyle2{
    .row{
        margin-left: -8px;
        margin-right: -8px;
        .row{
            .col-md-12{
            }
        }
        .col-md-6{
            padding-left: 8px;
            padding-right: 8px;
        }
        .col-md-12{

        }
        .col-lg-6{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    }*/
    .formstyle2{
        textarea{
            width: 100%;
            resize: none;
            border-radius: 0px;
            padding-left: 10px;
            height: 111px;
        }
    }
    .btn-dark1{
        background-color: #404040;
        border-color: #707070;
        min-width: 139px;
    }
    .popup-form .modal-content{
        padding: 0px 30px;
    }
    .custom-select {
        border:none;
        background-color: #f8f9fa !important ;
        background-color: #ffffff !important ;


    }
    .select-boxrow .custom-select {    border: 1px solid #ced4da;}
    .modal-content select.custom-select {
        background-color: #fff !important;
    }
    .custom-select:focus {
        border-color:none;
        outline: 0;
        box-shadow: none;
    }
    .table th {
        padding:0 10px;
        border:none;
    }
    .table td {
        padding: 10px;
        border: none;
    }
    /***********POPUP FORM DESIGN CSS END HERE************/
    input[type="date"] {
        position: relative;
    }

    input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
        -webkit-appearance: listbox;
        font-size: 16px;
    }
    input[type="date"]:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900; 
        content: "\f073";
        color: #000;
        padding: 0 5px;
    }


    input[type="date"]:hover:after {
        color: #bf1400;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

    input[type="date"]::-webkit-inner-spin-button {
        z-index: 1;
    }

    input[type="date"]::-webkit-clear-button {
        z-index: 1;
    }


    /* 11 march coding */
    .slct select.custom-select:last-child {
        margin: 0;
    }
    .slct select.custom-select {
        margin: 0 10px 0 0;
    }
    .service-pop h5{
        font-size:16px;

    }
    .service-pop {
        height: 400px;
        overflow: auto;
        padding-bottom: 30px;
    }
    .add-new-field {
        color: #404040;
        text-decoration-line: underline;
    }
    .services-box h5 {
        border-bottom: 1px solid #000;
        line-height: 40px;
    }
    .modal-title{
        font-weight: bold;
    }
    .btn{
        font: normal 14px/19px HelveticaNeue;
    }
    .service-pop .col-md-5 h5 {
        font-weight: bold;
    }
    .modal-body form label {
        color: #404040;

    }
    .modal-body .form-group select {
        color: #707070;
    }
    .formstyle2 input,.formstyle2 textarea {
        width: 100%;
        height: 35px;
        border: 1px solid #707070;
        border-radius: 3px;
        padding-left: 10px;
        color: #7d7d7d;
        font-size: 13px;
        overflow: hidden;
        @media (max-width: 1250px){
            height: 22px;
            font-size: 12px;
            line-height: 100%;
        }
    }
    html , body {
        height: 100%;
    }
    .custom-control-label::before {
        width: 12px;

        height:12px;
    }
    .custom-control-label::after {
        width: 12px;
        height:12px;
    }
    body .custom-control{
        min-height: auto;
        height: 20px;
    }
    .modal-dialog {
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        height: 100%;
    }
    .modal-open .modal {
        /*  background: #B0B0B0;*/
    }
    .bodyarea {
/*    padding-left: 142px;
padding-right: 142px;*/
overflow-y: auto;
max-height: 400px;
overflow-x: hidden;
padding-left:12px;
padding-right: 27px;

@media (max-width: 1250px){
/*        padding-left: 107px;
padding-right: 107px;*/
max-height:293px;
}
}
.formstyle2 {
    padding-right: 6px;
    padding-bottom: 0px;
}
/***********scroll********/
#style-3::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background-color: #ffffff;
}

#style-3::-webkit-scrollbar
{
    width: 4px;
    background-color: #ffffff;
}

#style-3::-webkit-scrollbar-thumb
{
    background-color: #B0B0B0;
    height: 50px;
}
.no-style {
    overflow: hidden;
    @media(max-width: 1250px){
        padding-top: 10px !important;
    }
}
.space_style .row {
    margin-left: -7px;
    margin-right: -7px;
}
.space_style .sss {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-md-4 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-lg-4 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-lg-8 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-lg-6 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-md-6 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-12 {
    padding-left: 7px;
    padding-right: 7px;
}
.space_style .col-md-12 {
    padding-left: 7px;
    padding-right: 7px;
}

.sh-context-menu--item {
    padding: 2px 2px 2px 3px !important;
    font-size: 12px !important;
    line-height: 22px !important;
}
.sh-context-menu{
    min-width: 68px !important;
}

/***********table css*********************/
.table_design tr th:first-child, .table_design tr td:first-child {
    width: 100px;
}
.btn-big {
    width: 170px !important ;   box-shadow: none !important;
    @media(max-width: 1250px){
        width: 131px !important;
    }
}
.newform_style input ,
.newform_style select{
    background-image: none!important;
    border: 1px solid #707070;
    border-radius: 3px;
    color: #5b5b60!important;
    font-family: inherit!important;
    font-size: 11px!important;
    line-height: 1.2!important;
    padding: 5px 4px!important;
    box-shadow: none!important;
    height: 30px;
    @media(max-width: 1250px){
        height: 22px;
        font-size: 12px;
        line-height: 100%;
    }
}
.newform_style label {
    color: #404040  !important;
    margin-bottom: 5px!important;
    line-height: 1.5;
    font-size: 14px !important;
    @media(max-width:1250px){
        font-size: 12px !important
    }
}
.newform_style .form-group {
    margin-bottom: 15px!important;
    line-height: 1.8;
    @media(max-width: 1250px){
        margin-bottom: 10px !important;
    }
}
.newform_style form {
    padding: 15px;
}
.newform_style button{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    background: #4f9a0b;
    opacity: 1 !important;
}
.add_btn {
    width: 170px;
    border-radius: 3px;
    height: 35px;
    i{
        padding-right: 10px !important;
    }
    @media(max-width: 1250px){

        font-size: 10px !important;
        height: 25px;
        width: 131px;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }
}
.add_btn:hover{color: #ffffff;}
.newform_style input[type="radio"] {
    height: auto !important;
    vertical-align: middle;
    margin: 0px 3px;
}
.mh_2 {
    padding-left: 15px !important;
}
.icontd {     vertical-align: middle !important; }
.iconbox2 {
    justify-content: center;
}
.same_width {
    min-width: 120px;
    @media(max-width: 1250px){
        min-width: 100px;
    }
}
button.close.btn_close {
    position: absolute;
    top: 5px;
    right: 13px;
    cursor: pointer;
    z-index: 99;
    outline: none;
}
.show_password .fa {
    position: absolute;
    right: 5px;
    top: 34px;
    cursor: pointer;
    @media(max-width: 1250px){
        top: 28px;
    }
}
.show_password .invalid-feedback span {
    text-decoration: underline;
    margin-left: 1px;
}
.invalid-input {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    margin-bottom: 10px;
}
/***********table css end here*********************/

.cdk-overlay-container {
    z-index: 99999;
}
.owl-dt-inline-container, .owl-dt-popup-container {
    width: 12.5em;
}
.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
    height: 13.5em;
}
.owl-dt-calendar-control{padding-top: 0px;padding-bottom: 3px;}
.owl-dt-timer-content .owl-dt-timer-input {
    font-size: .8em;
}
.owl-dt-container-control-button {
    font-size: .8em;
    line-height: 100%;
}
.owl-dt-container-buttons {
    height: 1.5em;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th{
    line-height: 100%;
}
.owl-dt-timer {
    padding: 0 .5em;
}
.owl-dt-timer {
    height: 5em;
}
.owl-dt-calendar-table .owl-dt-calendar-cell-content{font-size: .6em;}
.owl-dt-control-button{font-size: .8em;}
.owl-dt-timer button {
    line-height: 100%;
}
.owl-dt-timer {
    height: 4.5em;
}
.owl-dt-timer-content .owl-dt-timer-input{line-height: 100%;}
.gen-pass {
    font-size: 9px;    color: #858585 !important;
}
.show_password {
    position: relative;
}
.btn_wrap1 button {
    min-width: 112px;
}
.dlbtn {
    background: #fe0100!important;
    border-color: #fe0100!important;
}
.breadcrumb {
    margin-bottom: 0px;
}
.dataTables_filter input[type="search"] {
    height: 17px;
}
.dataTables_filter label {
    margin-bottom: 0px;
}
.dataTables_length label {
    margin-bottom: 0px;
}
#table3_info {
    line-height: 100%;
}
#table3_paginate {
    line-height: 100%;
}
.dataTables_info{line-height: 100%;
    padding-top: 0.555em !important;}
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        min-width: 1.2em !important;
        padding: 0.2em 1em !important;    line-height: 100%;
    }
    .dataTables_paginate{line-height: 100%;}
    .platform_service tbody td span:hover {
        color: #0181AC;
    }
    .form-nopadding form{
        padding-left: 0px; 
        padding-right: 0px;
    }
    .table_design tbody tr.odd {
        background-color: #f9f9f9;
    }
    .table_design td{
        font-size: 10px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
    .newdesign {
        border: 1px solid #404040;
    }
    .newdesign tr td:first-child {
        width: auto;
        white-space: nowrap;
    }
    .top-bar {
        width: 100%;
        float: left;
    }
    .download-btns {
        float: right;
    }
    .download-btns .dropdown-menu {
        right: -1px !important;
        left: auto !important;
        transform: none !important;
        top: 25px !important;
        min-width: auto;
    }
    .download-btns li {
        color: #404040;
        font-size: 13px;
        padding: 0.02rem 1.1rem;
        @media(max-width: 1250px){
            padding:0.02rem 0.8rem;
            font-size: 11px;
            line-height: 20px;
        }
    }
    .login-menu1 {
        display: flex;
        width: auto;
        align-items: center;
    }
    .toggle_btn {
        background: none;
        border: none;outline: none;
        padding-right: 0px;
    }
    .toggle_btn::after{
        display: none;
    }
    .toggle_btn:focus{
        outline: none;
    }
    .custom_design .table1 tr th:first-child,
    .custom_design .table1 tr td:first-child{
        width: 20px !important;
        min-width: auto !important;
        max-width: 100% !important;
        @media(max-width: 1250px){
            width: 12px !important;
        }
    }
    .table_design22 .table tr th:last-child,
    .table_design22 .table tr td:last-child{
        width: 20px !important;
        min-width: auto !important;
        max-width: 100% !important;
        @media(max-width: 1250px){
            width: 23px !important;
        }
    }
    .table_design22 .iconbox i:last-child {
        margin-right: 0px;
    }
    .custom_design .iconbox i:last-child {
        margin-right: 0px;
    }
    .popuplogo img {
        width: 250px;
        margin: 17px auto;
    }
    .dataTables_scrollBody {
        border-right: 1px solid #404040;
        border-left: 1px solid #404040;
    }
    .dataTables_scrollBody table{
        border-left: 0px;
        border-right: 0px;
    }
    .dataTables_scrollHead table{
        border-left: 0px;
        border-right: 0px;
    }
    .dataTables_scrollHead table th:first-child {
        border-left: 0px !important;
    }
    .dataTables_scrollHead{
        border-right: 1px solid #404040 !important;
        border-left: 1px solid #404040 !important;
    }
    .saveplatform {
        min-width: 120px;
        background-color: #0181AC !important;
        @media (max-width: 1250px){
            min-width:100px;
        }
    }
    .dlbtn{
        min-width: 120px;
        @media (max-width: 1250px){
            min-width:100px;
        }
    }
    .cancelbtn1 {
        min-width: 120px;
        @media (max-width: 1250px){
            min-width: 100px;
        }
    }
    .errormsg {
        display: block;
        width: 100%;
        text-align: center;
        color: red;
    }
    .modal-header {
        background: #0181AC; border-radius: 0px !important;
        border-bottom: 1px solid #1d1d1d !important;
    }
    .modal-footer {border:none !important;
        border-top: 1px solid #1d1d1d !important;padding: .20rem .75rem;
    }
    .modal-content {
        border-radius: 0px;
        /*border: 1px solid #1d1d1d !important;*/
    }
    .border-none{border:0px !important}
    .modal-header .close {
        text-shadow: none;font-size: 1.3rem;
    }
    .modal-footer button {

    }
    .modal-footer button:hover ,
    .modal-footer button
    {
        color: #fff !important;
        border-radius: 3px !important;
        font-family: HelveticaNeue !important;
        font-weight: bold;
        font-size: 14px;
        @media(max-width: 1250px){
            font-size: 10px;
            height: 25px;
        }
    }
    a.add_field i{border:0px !important;}
    .modal-title {
        font-weight: bold;
        color: #404040;
        font-family: HelveticaNeue;
        font-size: 16px;
        @media (max-width: 1250px){
            font-size: 12px;
        }
    } 
    .newspace {
        padding-left: 10px;
        padding-right: 10px;
    }
    .newspacewrap .col-12{ padding-left: 10px;
        padding-right: 10px;}
        .newspacewrap {
            margin-left: -10px;
            margin-right: -10px;
        }
        .newform_style button {
            background: #0181AC  !important;
            font-size: 12px;
            min-width: 90px;
            height: 30px;
    line-height: 100%; color: #ffffff; border-radius: 3px !important;
    @media(max-width: 1250px){
        height:25px; font-size: 10px;

    }
        }
        .newform_style button:hover{
            background: #0181AC ;
        }
        h4.modal-title {
            color: #fff !important;
        }
        
.apiwrap .card-header .btn-link i.fa:before {    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;}
.apiwrap .card-header .collapsed i.fa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f105";
}
.apiwrap .card-header>button{    width: 100%;    text-align: left;padding-right: 0px; padding-left: 0px;}
.apiwrap .card-header button:hover{text-decoration: none;}
.apiwrap .card-body {    padding: 0px;}
.apiwrap .card-header {    padding: 8px 0px; background: none;}
.apiwrap .accordion>.card{ border: none;background: #fafafa;    transition: all .2s;
    border-bottom: 1px solid rgba(59, 65, 81, .3);}
 .apiwrap .accordion>.card:hover  {background: rgba(0, 0, 0, .02)}
 .apiwrap .accordion .card-body .card {
    border-bottom: 0px;
}
.apiwrap .accordion .card-body .card{
    padding: 0px 0px;
    border-radius: 4px; background: none;
}
.apiwrap .accordion .card-body .card .card-header button {
    padding: 0px;
}
.apiwrap .card-body .card-header{padding: 0px;}


        /***********Media Query CSS**************/

        @media only screen and (min-width:1100px) and (max-width:1300px)
        {
            footer.position-absolute.w-100.footer {

            }
        }
        @media (min-width: 576px){
            .custom-container {
                max-width: 100%;
                padding: 0px 20px;
            }
        }
        @media (min-width: 768px){
            .custom-container {
                max-width: 100%;
                padding: 0px 20px;
            }
        }
        @media (min-width: 900px){
            .custom-container {
                max-width: 100%;
                padding: 0px 50px;
            }
        }
        @media (min-width: 992px){
            .modal-lg, .modal-xl{
                max-width: 700px
            }
            .custom-class .modal-dialog {
                max-width: 590px;
            }
        }
        @media (min-width: 1200px){

            .custom-container {
                max-width: 100%;
                padding: 0px 70px;

            }

        }
        @media (min-width: 1400px) {
            .custom-container {
                padding: 0px 80px;
            }

        }
        @media (min-width: 1660px) {
            .custom-container {
                padding: 0px 115px;
            }

        }

        @media only screen and (max-width: 1500px) {

            .additemrow button i {
                padding-right: 10px !important;
            }
            .additemrow button{
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        @media only screen and (max-width: 1250px) {


            .btn {
                font: normal 12px/19px HelveticaNeue;
                padding-top: 2px;
                padding-bottom: 3px;
            }
            body{
                font-size: 10px;
            }
            .additemrow button{
                font-size: 10px;height:25px; padding-top: 3px; padding-bottom: 3px;
            }
            .select-boxrow select {
                height: 25px;
                font-size: 10px;
                line-height: 25px;
            }

            .modal-lg, .modal-xl {
                max-width: 585px;
            }
            .custom-class .modal-dialog {
                max-width: 530px;
            }
            .mrgn-1 {
                margin-bottom: 10px !important;
            }

        }
        @media only screen and (max-width: 1024px) {

            .additemrow button {
                font-size: 10px;
                padding-left: 3px;
                padding-right: 3px;

            }
        }

        @media only screen and (max-width: 1000px) {
            .theme-btn, .btn-light  {     font-size: 10px;    line-height: 12px;}
            .additemrow {    margin-top: 0px;    padding-left: 0px; }
            .additemrow button { padding-top: 8px; padding-bottom: 8px;margin-bottom: 5px;   height: auto;}
            .btn.theme-btn:first-child {    margin-left: 0 !important;}
            .responsive-table td {    font-size: 11px;    padding: 1px 3px;}
            .responsive-table th .iconbox {  }
            .formstyle2 input, .formstyle2 select {       height: 35px;}
            .service-pop p {    font-size: 13px;}
            .service-pop h5 {    font-size: 16px;}
            .custom-select {
                height: calc(2.5em + .75rem + 2px);
                padding: 0px 5px;
                font-size: 11px;
            }
            label {
                display: inline-block;
                margin-bottom: 0px;
                font-size: 14px;
            }
            .form-group {
                margin-bottom: 5px;
            }
            .services-box h5 {       margin-bottom: 10px !important;}
            .select-boxrow select {    border-radius: 3px;    height: 40px;}
            input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
                -webkit-appearance: listbox;
                font-size: 13px;
            }
            .additemrow button i {
                padding-right: 5px !important;
            }
            .select-boxrow select{
                font-size: 11px;
            }
            .additemrow button {
                font-size: 11px;
                padding-left: 2px;
                padding-right: 2px;
            }
        }
        @media only screen and (max-width: 900px) {
            .additemrow button{
                font-size: 11px;
            }

        }
        @media only screen and (max-width: 767px) {
            .logo {
                max-width: 350px;
                margin: auto;
            }
            .additemrow {
                margin-top: 10px;
                padding-left: 15px;
            }
        }
        @media only screen and (max-width: 755px) {
            .theme-btn, .btn-light  {     font-size: 10px;    line-height: 12px;}
            .additemrow {    margin-top: 10px;}
            .custom-select {
                height: calc(2.5em + .75rem + 2px);
                padding: 0px 5px;
                font-size: 11px;
            }
            .responsive-table td {
                font-size: 11px;
                padding: 1px 3px;
            }
            .responsive-table th .iconbox {

            }
            .formstyle2 input, .formstyle2 select {
                /*height: auto;*/
                margin-bottom: 5px;

            }
            label {
                display: inline-block;
                margin-bottom: 0px;
                font-size: 14px;
            }
            .form-group {
                margin-bottom: 5px;
            }
            .services-box h5 {       margin-bottom: 10px !important;}
            .select-boxrow select {
                border-radius: 3px;
                height: 30px;
            }
            .additemrow button {       height: auto;}
            .btn.theme-btn:first-child {
                margin-left: 0 !important;
                margin-left: .25rem!important;
            }
            .service-pop p {    font-size: 13px;}
            .service-pop h5 {    font-size: 16px;}
            input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
                -webkit-appearance: listbox;
                font-size: 13px;
            }
        }
        .footer {
            bottom: 0px;
        }



        @font-face {
          font-family: 'HelveticaNeue';
            src: url('./assets/fonts/HelveticaNeueHeavy.woff') format('woff');
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'HelveticaNeue';
            src: url('./assets/fonts/HelveticaNeueRegular.woff') format('woff');
            font-weight: 100;
            font-style: normal;
        }

        @font-face {font-family: 'HelveticaNeue';
            src: url('./assets/fonts/HelveticaNeueLight.woff') format('woff');
            font-weight: 300;
            font-style: normal;
        }
        @font-face {
            font-family: 'HelveticaNeue-Medium';
            src: url('./assets/fonts/HelveticaNeueMedium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
        }
        @font-face {
            font-family: 'HelveticaNeue-light';
            src: url('./assets/fonts/HelveticaNeueLight.woff') format('woff');
            font-weight: 300;
            font-style: normal;
        }

        .modal-header {
            margin: 0;
            padding-bottom: 5px;
            padding-left: 29px;
            padding-top: 10px;
            @media (max-width: 1250px){
                padding-left: 29px;
            }  

        }
        .resourcesbtn{
            min-width: 139px;
        }
        .modal-content {
            border: none;
        }

        div#new-plate-form {
            margin-top: 0;
            margin-bottom: 0;
        }

        a.add-new-field i {
            padding-right: 0;
            border: 1px solid;
            border-radius: 50%;
            padding: 5px;
            font-size: 14px;
            margin-right: 10px;
        }

        a.add-new-field {
            font-family: 'HelveticaNeue';
            font-size: 18px;
            vertical-align: middle;
            padding-left: 7px;
        }

        .modal-body form .form-group {
            margin-bottom: 10px;
        }

        .services-box h5 {
            border-bottom: 1px solid #000;
            line-height: 40px;
            font-family: 'HelveticaNeue';
            font-size: 16px;
            @media(max-width: 1250px){
                line-height: 25px;
                font-size: 12px;
            }
        }

        .add-new-field i.fa.fa-minus {
            margin-top: 10px; 
            margin-left: 10px;
        }

        .modal-body {
            padding-top: 5px;
        }

        .modal-header .close {
            outline: none;
        } 


        .iconbox i {
            cursor: pointer;    padding:0px 5px;     
        }

        footer.position-absolute.w-100.footer.bg-light p, footer.position-absolute.w-100.footer.bg-light a {
            margin-bottom: 0;
            padding-bottom: 0;
            padding-top: 8px;
            display:block;
        }

        .height-space {
            height: 100vh;
        }
        .dropdown-list {
            padding-top:2px !important;
            margin-top: 4px !important;
        }
        .dropdown-list li{
            padding:5px 5px !important;
        }
        .multiselect-item-checkbox input[type=checkbox] + div:before {
            width: 12px !important;
            height: 12px !important;
            margin-top: -6px !important;
            @media(max-width: 1250px){
                width: 8px !important;
                height: 8px !important;
            }
        }
        .multiselect-dropdown .dropdown-btn {    
            padding: 8px 5px 3px 8px !important;
            line-height: 100% !important;
            height: 35px !important;
            @media(max-width: 1250px){
                height: 22px !important;
                padding: 5px 5px 3px 8px !important;
            }
        }
        .multiselect-dropdown .dropdown-btn .dropdown-down {
            top: 9px !important;
            border-top: 4px solid #adadad !important;
            border-left: 4px solid transparent !important;
            border-right: 4px solid transparent !important;
        }
        .multiselect-dropdown .dropdown-btn .dropdown-up {

            border-bottom: 4px solid #adadad !important;
            border-left: 4px solid transparent !important;
            border-right: 4px solid transparent !important;
        }
        .multiselect-item-checkbox input[type=checkbox] + div {
            padding-left: 1.6em !important;
        }
        .multiselect-item-checkbox input[type=checkbox] + div:after {  
            left: 3px !important;
            width: 6px!important;
            height: 4px !important;
            border-width: 0 0 2px 2px !important;
            margin-top: -3px !important;
            @media(max-width: 1250px){
                left: 2px !important;
                width: 5px !important;
                height: 3px !important;
            }
        }
        .multiselect-dropdown .dropdown-btn .selected-item {
            margin-right: 2px !important;
            padding: 0 3px !important;
        }
        .dropdown-list .filter-textbox input {
            padding: 0 0 0 0px !important;
            font-size: 10px !important;
            height: 15px !important;
        }
        .logo img {
            max-width: 300px;
        }
        .header .logo img {
            max-width: 200px;
        }
        .image-wrapper img {
            max-width: 450px;
        }
        .swal-title {
            margin: 0px;
            font-size: 10px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
            margin-bottom: 28px;
        }
        .newform_style select{
padding-top:0px !important;
padding-bottom:0px !important;
}
#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #00ff80 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #00ffea none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #2a00ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #9500ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.swal2-popup .swal2-actions button{
   min-width: 120px;      
   border-radius: 3px !important;
   font-family: HelveticaNeue !important;
   font-weight: bold;
   font-size: 14px;line-height: 19px;
   padding: .375rem .75rem;
   @media (max-width: 1250px){
    min-width:100px;
    font-size: 10px;
    height: 25px;
    padding-top: 2px;
    padding-bottom: 3px; 
}
}
.swal2-popup .swal2-title {
    font-size: 16px;
    line-height: 30px;
    @media (max-width: 1250px){
       font-size: 13px;
       line-height: 24px;
   }
}
/*.swal2-popup .swal2-icon {
    width: 2.5em;
    height: 2.5em;margin:1.95em auto 1.875em;
}*/
.swal2-popup .swal2-html-container {
    font-size: 13px;
    @media (max-width: 1250px){
        font-size: 12px;
    }
}      
.swal2-popup .swal2-icon .swal2-icon-content {
    font-size: 1.75em;
}
.swal2-popup{ border-radius: 0px !important; }

.responsive-table thead th ,
.responsive-table thead td
{
background-color: #404040;
    border-color: #404040!important;
    color: #fff;
    border-left-color: #f9f9f9 !important;
}
.responsive-table thead th:first-child{border-left: none !important;}
.history_table thead th {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.history_table thead tr th:last-child, 
.history_table tbody tr td:last-child {
    width: 52px !important;
    padding-left: 10px;
}
.big-text{font-size: 14px;    padding-left: 5px;
@media(max-width:1250px){
    font-size: 12px;
}
}
.histroy_popup th, 
.histroy_popup td {
    padding-left: 5px;
    padding-right: 5px;
}
.histroy_popup {
    padding-left: 5px;
    padding-right: 5px;
    padding: 0px;
}
.historytable table {
    margin-bottom: 0px;
}
.histroy_popup thead tr th {
    background-color: #fff;
    color: #333;
    border-left: 0px;
}
.modal-header-view {
    padding-left: 11px;
}
 .histroy_popup td {
    line-height: 18px;
}
.history_table td {
    border-top: none !important;
}
.history_table tbody tr td:last-child .iconbox {
    justify-content: center;
}
.history_table tbody tr td:first-child{text-align: center;}
.view_status {  width: 100px !important;}

.pagewrap .card-body .accordion {
    margin-bottom: 10px !important;
    display: block;
}
.pagewrap .card-header {
    padding: 5px 0px;
}
.pagewrap .card-body {
    padding: 10px;
    padding-bottom: 0px;
}
.pagewrap .card-body .card-body {
    padding: 0px;
}
.pagewrap .card-header button {
    width: 100%;
    text-align: left;
}
        
.pagewrap .card-header .btn-link i.fa:before {    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;}
.pagewrap .card-header .collapsed i.fa:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f105";
}
.red {
    color: #ff0000;
    @media(max-width: 1250px){
            line-height: 28px;
    }
}
.pagewrap .card-body h5.outer-title {    
    @media(max-width: 1250px){
        font-size: 13px;
    }
}
.loaderimg img{max-width: 300px;}

 .formstyle2 input,.formstyle2 textarea {
        overflow: hidden;
    }
  .newid .iconbox {
    justify-content: center;
}  
.tablelayout .iconbox {
    justify-content: center;
}
.customize_columns .custom-control {
    padding-left: 13px;
}

.customize_columns .custom-control input {
    vertical-align: middle;
    margin-right: 5px;
}
.loaderimg {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
        height: 100%;
    top: 0px; left: 0px;
}
.movedropdwon {
    position: absolute;
    right: 0px;
    z-index: 1;
}
.menucontainer{position: relative;}
.dataTables_filter label {
    margin-right: 20px;
}
.btn_custmize{
    border-bottom:1px solid rgba(0,0,0,.15) !important;
    margin-bottom: 6px !important;
    padding-bottom: 6px !important;
}
.actve_btn:after{display: none;}
.actve_btn{
    border-radius: 3px;
    height: 35px;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 35px;
    padding: .375rem 1.75rem .375rem .75rem;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top; width: 100%; display: block;    background-color:#f5f5f5;border-bottom: 1px solid #ced4da;
    @media(max-width: 1250px)
    {
        height: 25px; font-size: 10px; line-height: 25px;
    }

    }
 .custom-select2{
    border-radius: 3px;
    height: 35px;
    font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: 35px; padding: 0px;
    vertical-align: top;
    @media(max-width: 1250px)
    {
        height: 25px; font-size: 10px; line-height: 25px;
    }
 }   
  .btnslist li{line-height: 100%;}
 .btnslist button{
     font-size: 14px;
    padding-bottom: 0px;
    padding-top: 0px; padding: 0px;
    vertical-align: top;
    background: #ffffff;line-height: 20px; border:1px solid #ffffff;
   text-align: left;
     padding: 0rem 1.75rem 0rem .75rem; height: auto;border-radius: 0px;

     @media(max-width: 1250px)
    { font-size: 10px; 
    }
 }
 .btnslist button:hover{
    background-color: #f1f1f1;border:1px solid #f1f1f1; color: #333;
 }
 .btnslist{margin:0px; padding: 0px; width: 100%;}
 .responsive-table table th {
    border: 1px solid #404040;
    border-right: none;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300 !important;
    padding-top: 0;
    vertical-align: middle;
    margin-top: 0;
}
.history_table thead th:first-child {
    border-left: 0px;
}
 @media only screen and (max-width: 1500px) {
    .table {
        td{
            font-size: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }


    }
    .responsive-table table th{
      font-size: 10px;
  }
}
@media only screen and (max-width: 900px) {
    .table {
        td{
            font-size: 12px;
        }

    }
}
.tooltip{font-size: 10px !important; font-weight: 300 !important; font-family: HelveticaNeue; }
.history_table .iconbox i{margin-right: 0px;}
.tooltipsstyle .iconbox i {
    margin: 0px;
    padding: 0px 5px;
}
.fullrows .container {
    display: inline-block;
}
.caret_wrap {
    position: absolute;
    right: 10px;
}
.caret_wrap i {
    font-size: 15px;
}
.wrappermain {
    position: relative;
    float: left;
    width: 100%;
}
.bg_white {
    background: #fff;
}
.set_row {
    float: left;
    width: 100%;
}
.bottomwrap .owl-carousel .owl-stage-outer {
    border-right: 1px solid #000;
}
.bottomwrap .owl-theme .owl-nav {
    position: absolute;
    top: 52%;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottomwrap .owl-theme .owl-dots{display: none;}
    fa-icon.ng-fa-icon.spacee {
    padding: 3px;
    padding: left;
    margin: 0%;
}
.footer {
    bottom: 0px;
    z-index: 99;
}
.bottomwrap .owl-theme .owl-nav .owl-prev {
    margin-left: -30px;
}
.bottomwrap .owl-theme .owl-nav .owl-next {
        margin-right: -41px;
        margin-right: -30px;
        /*
    @media(min-width: 1250px){
        margin-right: -47px; 
    }
    */
}

.bottomwrap .owl-theme .owl-nav .owl-prev i {
    display: none;
}
.bottomwrap {
    position: relative;       
}
.view_btns button{
        background-color: #d5d5d5 !important;
    border-color: #d5d5d5 !important; min-width: 120px;    color: #fff;
}
.view_btns .active {   
    border-color: #0181AC !important;
    background-color: #0181AC !important;    color: #fff;
}

.bottomwrap .owl-carousel .owl-stage-outer {z-index: 99;
  /*  margin-right: -1%;
 @media(min-width: 1250px){
 margin-right: -17px;
 }*/
 }
/*
.bottomwrap1 {
    padding-right: 1%;
     @media(min-width: 1250px){
    padding-right: 18px;
    }
}
*/
.titlestyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    @media(max-width: 1350px){
        padding: 0px 5px; 
    }
    @media(max-width: 1230px){
       display: block;
    }
}
.titlestyle .headings{padding-top: 0px !important;}
.bottomwrap .owl-carousel.owl-drag .owl-item:nth-child(2n+0) {
    background: #D3D3D3; 
}
.bottomwrap .owl-carousel.owl-drag .owl-item:nth-child(2n+0) .box-middle-bottom {
    background: #dedede;
}
.bottomwrap .owl-carousel.owl-drag .owl-item {
    background: #f0f0f0;
}
.bottomwrap .owl-carousel.owl-drag .owl-item .box-middle-bottom{
    background: #f5f5f5; 
    padding-bottom: 15px;
}
.owl-theme .owl-nav [class*=owl-] {
  padding: 20px 7px;
}
.bottomwrap .owl-theme .owl-nav [class*=owl-] {
    background: #888888;
}

.bottomwrap .owl-theme .owl-nav .owl-prev:before{
font-weight: 900;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    position: relative;
    z-index: 9999;
    content: "";
    display: inline-block;
    top: 4px;
    left: -1px;
}
.bottomwrap .owl-theme .owl-nav .owl-next:before {
font-weight: 900;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    position: relative;
    z-index: 9999;
    content: "";
    display: inline-block;
    top: 4px;
    right: -1px;
}