
<section class="bg-white">
	<div class="container custom-container pt-0 pb-4">
		<app-breadcrumb></app-breadcrumb>
		  <div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
		<div class="row">
			<div class="col-md-6 d-sm-flex col-lg-5 additemrow mainbtns justify-content-between">
				<button class="btn theme-btn btn-big ml-0 ml-lg-0 mr-1 " (click)="editProfile()">Manage Profile </button>
				<button class="btn theme-btn btn-big mr-1" (click)="chngePasswrd()">Change Password </button>
				<button class="btn theme-btn btn-big " (click)="showHistory()">Login History </button>
			</div>
		</div>
		<div class="row h-100  align-items-center newform_style form-nopadding">

			<!-- -----------Edit Profile---------- -->
			<div class="col-10 col-md-8 col-lg-5" *ngIf ="edProfile">
						    
				<form [formGroup]="resetPass" (ngSubmit)="SubmitPass(resetPass)">
					<!-- <div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" readonly formControlName="username">
					</div> -->
					<div class="form-group">
						<label for="username">Name</label>
						<input type="text" class="form-control" [readonly] formControlName="name" [ngClass]="{'is-invalid': submitF.name.errors && submitF.name.touched}">
						<div *ngIf="submitF.name.errors " class="invalid-feedback">
							<div *ngIf="submitF.name.errors.required || submitF.name.touched || submitF.submitted">Please enter characters Only</div>
						</div>
					</div> 
			<!-- <div class="form-group">
				<label for="password">Password</label>
				<input type="text" class="form-control" formControlName="password">
			</div> -->
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitF.email.errors && submitF.email.touched}">
				<div *ngIf="submitF.email.errors " class="invalid-feedback">
							<div *ngIf="submitF.email.errors.required || submitF.email.touched || submitF.submitted">Please enter valid Email</div>
						</div>
			</div>
			<div class="form-group">
				<label for="phone_number">Phone number</label>
				<input type="text" class="form-control" formControlName="phone_number" [ngClass]="{ 'is-invalid': (!resetPass.get('phone_number').valid &&  resetPass.get('phone_number').touched)}">
				<div *ngIf="(!resetPass.get('phone_number').valid && 
		            resetPass.get('phone_number').touched) || submitF.submitted" class="invalid-feedback">
		            Enter Valid phone number(+XXXXXXXXXXXX)
		          </div>
			</div>


			<div class="form-group">
				<label for="type"> Type</label>
				<select  *ngIf="!disableType" name="type" formControlName="type" class="form-control">
					<option *ngFor="let role of userRoles" [ngValue]="role.name">{{role.value}}</option>
				</select>
				<select  *ngIf="disableType" name="type" disabled formControlName="type" class="form-control">
					<option Value="Standard">Standard</option>
				</select>


			</div>
			<div class="form-group">
			   <label for="type">Call back URL</label>
			   <input type="url" formControlName="callurl" class="form-control" id="callurl" placeholder="Enter Url">
			 </div>
			<button type="submit" class="btn btn-secondary rounded-0 cancel-btn">Update</button>
		</form>
	</div>


	<!-- ------------Change Password----------- -->

	<div class="col-10 col-md-8 col-lg-5" *ngIf="ChngPass">

		<form [formGroup]="chngPass" (ngSubmit)="SubmitChngPass(chngPass)">

			<!-- <div class="form-group">
				<label >Username</label>
				<input type="text" class="form-control" readonly formControlName="usrname" >

			</div> -->
			<div class="form-group show_password">
				<label>Old password</label>
				<input type="password" class="form-control" autocomplete="new-password" formControlName="oldpass" [ngClass]="{'is-invalid': resetF.oldpass.errors && resetF.oldpass.touched}">
				<div *ngIf="resetF.oldpass.errors " class="invalid-feedback">
					<div *ngIf="resetF.oldpass.errors.required || resetF.oldpass.touched || resetF.submitted">Old Password required & must contain 
					<span>min 14 Charachters,</span>
					<span>a lower case letter,</span>
						<span>an upper case letter,</span>
						<span>a special character,</span>
						<span> a number</span></div>
				</div>
				
			</div>

			<div class="form-group show_password">
				<label>New password</label>
				<input appAppPassword type="password" autocomplete="new-password" class="form-control" formControlName="newpass" [ngClass]="{'is-invalid': resetF.newpass.errors && resetF.newpass.touched}">
				<span (click)="genPass()" class="gen-pass">generate password?</span> 
				<div *ngIf="resetF.newpass.errors " class="invalid-feedback">
					<div *ngIf="resetF.newpass.errors.required || resetF.newpass.touched || resetF.submitted">PASSWORD is required & must contain 
						<span>min 14 Charachters,</span>
						<span>a lower case letter,</span>
						<span>an upper case letter,</span>
						<span>a special character,</span>
						<span> a number</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>Confirm new password</label>
				<input  type="password" class="form-control"  (keyup)="CheckPassword($event)" formControlName="cnfpass" [ngClass]="{'is-invalid': resetF.cnfpass.errors && resetF.cnfpass.touched}">
				<div *ngIf="resetF.cnfpass.errors " class="invalid-feedback">
					<div *ngIf="resetF.cnfpass.errors.required || resetF.submitted"> Confirm Password is required</div>
				</div>
				<div class="mCode" *ngIf="PasswordMatch == false">Confirm Password does not match</div> 

				<!-- <div class="mCode" *ngIf="PasswordMatch == true">Confirm Password does not match</div> --> 
			</div>
			<button  type="submit" class="btn btn-secondary rounded-0 cancel-btn">Update</button>
		</form>
	</div>
	
	<div class="col-10 col-md-8 col-lg-5" *ngIf="showhistory">
		<div class="mt-3 mb-4">
			
			<table class="table table-data table_design newdesign" id="table2">
				<thead>
					<tr>
						<!--td></td-->
						<td>Login_Date</td>
						<td>IP_Address</td>
						<td>ISP</td>
						<td>Location</td>
					</tr>                   
				</thead>
				<tbody>
					<tr *ngFor="let items of historyList; let i = index">
						<!--td>{{i+1}}</td-->
						<td>{{items.ldate}} </td>
						<td>{{items.ip}}</td>
						<td>{{items.isp}}</td>
						<td>{{items.loc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</section>
