input[pw-show-hide] + span {
  cursor: pointer;
  display: inline-block;
  margin-left: .5ch;
  text-transform: uppercase;
  width: 4.5ch;
  text-align: left;
  line-height: 1;
  vertical-align: middle;
  small {
    font-size: .7em;
    opacity: .5;
  }
}

  .table_design td{
    font-size: 10px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .newdesign {
    border: 1px solid #404040;
  }
  .newdesign tr td:first-child {
    width: auto;
    white-space: nowrap;
  }
.newdesign tbody tr{
 background-color: #f9f9f9;
}
  .newdesign tbody tr:nth-of-type(2n+0) {
    background: #ffffff;
}
 .newdesign thead tr td{
      border-bottom: 1px solid #000000;
          padding: 8px 10px;
          padding-bottom: 0px !important;
    padding-top: 0px !important;
 }
 .mCode {
       color: #ca3342;
       font-size: 12px;
   }
   .overlay {
  position: absolute;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  justify-items: center;
}
