<div *ngIf="showload" class="loaderimg">
      <img class="gifloader" [src]="loadergif">
    </div>
<div class="mt-0 mb-0 custompopup" id="new-plate-form">
 	<div class="w-100  pb-2">
 		<div class="modal-header">
 			<h4 class="modal-title">Add Connector</h4>
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeform()">X</button>
 		</div>
 		<div class="modal-body formstyle2 ">     
 			<form [formGroup]="addConnector" (ngSubmit)="submit(addConnector)" >	
 				<div class="bodyarea scrollbar" id="style-3">
 					<div class="space_style">
 					<div class="row d-flex align-items-start">
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 ">
 								<label>Connector Name</label><span class="red">*</span>							
 								<input type="text" formControlName="connector_name" class="form-control" id="connector_name" [ngClass]="{'is-invalid': submitF.connector_name.errors && submitF.connector_name.touched}">
 								<div *ngIf="submitF.connector_name.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_name.errors.required || submitF.connector_name.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 ">
 								<label> Description</label>	<span class="red">*</span>						
 								<textarea rows="4" cols="50" type="text" id="form8" class="customlc md-textarea form-control" formControlName="description" [ngClass]="{'is-invalid': submitF.description.errors && submitF.description.touched}"></textarea>
 								<div *ngIf="submitF.description.errors " class="invalid-feedback">
								<div *ngIf="submitF.description.errors.required || submitF.description.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						
 					</div>
 					<div class="row ">
						<div class="col-lg-6">
							<div class="form-group services-box1 mb-0 mt-2">
								<h5 class="mb-0"><b>Rotation Frequency</b></h5>						
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group services-box1 mb-0 mt-2">								
								<h5 class="mb-0"><b>Association</b></h5>
							</div>
						</div>
						</div>
					<div class="row d-flex align-items-start">
 						
 						<div class="col-lg-4 ">
 							<div class="form-group mb-0 ">
 								<label> Type</label><span class="red">*</span>
 								<select name="frequency_type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="frequency_type" [ngClass]="{'is-invalid': submitF.frequency_type.errors && submitF.frequency_type.touched}">
 									<option value="" disabled>Select Connector Type</option>
									<option value="MINUTES">MINUTES</option>
									<option value="HOURS">HOURS</option>
									<option value="DAYS">DAYS</option>
												
 								</select>
 								
 								<div *ngIf="submitF.frequency_type.errors " class="invalid-feedback">
								<div *ngIf="submitF.frequency_type.errors.required || submitF.frequency_type.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						</div>
 						<div class="col-lg-2 ">
 							<div class="form-group mb-0 ">
 								<label> Value</label><span class="red">*</span>
 								<input type="number" formControlName="frequency_value" class="pr-0 chngeloc form-control" id="frequency_value" [ngClass]="{'is-invalid': submitF.frequency_value.errors && submitF.frequency_value.touched}">
 								<div *ngIf="submitF.frequency_value.errors " class="invalid-feedback">
								<div *ngIf="submitF.frequency_value.errors.required || submitF.frequency_value.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 							<div class="col-lg-3 ">
 							<div class="form-group mb-0 ">
 								<label> Platform</label><span class="red">*</span>							
 								<select name="type" (change)="selectAssoc($event)" class="form-control custom-select mr-3 mr-lg-3"  formControlName="connector_association" [ngClass]="{'is-invalid': submitF.connector_association.errors && submitF.connector_association.touched}">
									<option value="" disabled>Select Platform</option>
									<option *ngFor="let list of platformList; let i = index" value="{{list.Platform}}">{{list.Platform}}</option>
									
 								</select>
 								<div *ngIf="submitF.connector_association.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_association.errors.required || submitF.connector_association.touched || submitF.submitted">Please enter valid data</div>
								</div>		
 							</div>
 						</div>
 						<div class="col-lg-3">
 							<div class="form-group mb-0 ">
 							<label>Service</label><span class="red">*</span>
 							<select name="type"  class="form-control custom-select "  formControlName="assoc_value" [ngClass]="{'is-invalid': submitF.assoc_value.errors && submitF.assoc_value.touched}">
									<option value="" disabled>Select Service</option>
									<option *ngFor="let serv of serviceList; let i = index" value="{{serv.Service}}">{{serv.Service}}</option>
 								</select>
 							<!-- <input type="text" formControlName="assoc_value" class="form-control" id="assoc_value" [ngClass]="{'is-invalid': submitF.assoc_value.errors && submitF.assoc_value.touched}"> -->
							<div *ngIf="submitF.assoc_value.errors " class="invalid-feedback">
							<div *ngIf="submitF.assoc_value.errors.required || submitF.assoc_value.touched || submitF.submitted">Please enter valid data</div>
							</div>
 						</div>
 					</div>
 					</div>
 				
 				
 					<div class="row">
 						<div class="col-lg-12">
 							
 							<div class="form-group mrgn-1">
 								<label> Connector Type</label><span class="red">*</span>							
 								<select name="type" class="form-control custom-select mr-3 mr-lg-3"  formControlName="connector_type" (change)="selectConnectorType($event)"  [ngClass]="{'is-invalid': submitF.connector_type.errors && submitF.connector_type.touched}">
 									<option value="" disabled>Select Connector Type</option>
									<option value="AWS_IAM_USER">AWS IAM User</option>
									<option value="AWS_IAM_ROLE">AWS IAM Role</option>
									<option value="GCP_SERVICE_ACCOUNT">GCP Service Account</option>
									<option value="AZURE_SERVICE_PRINCIPAL">Azure Service Principal</option>
												
 								</select>
 								<div *ngIf="submitF.connector_type.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_type.errors.required || submitF.connector_type.touched || submitF.submitted">Please enter valid data</div>
								</div>	
 							</div>
 						
 						</div>
 						
 					</div>
 					<div class="yyy ">
 						<div *ngIf="show_credential_User">
 						<div class="row "> 
 						<div class="col-lg-12">
 							<div class="form-group services-box mb-0">
 								<h5  class="mb-0"><b>Add Credential</b></h5>
 							</div>
 						</div>
 						</div>
 						<div class="row d-flex align-items-start ">
 						<div class="col-lg-6">
 							<div class="form-group mb-0 ">
 								<label> Select Credential Type </label>
 								<select [ngClass]="{'is-invalid': submitF.credential_detail_type.errors && submitF.credential_detail_type.touched}" name="credential_detail_type" (change)="selectCredType($event)" class="form-control custom-select mr-3 mr-lg-3"  formControlName="credential_detail_type">
 									<option  value="" disabled>Select Credential Detail Type</option>
									<option value="FILE">JSON File</option>
									<option value="JSON">Text Input</option>						
 								</select>
 								<div *ngIf="submitF.credential_detail_type.errors " class="invalid-feedback">
								<div *ngIf="submitF.credential_detail_type.errors.required || submitF.credential_detail_type.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6" *ngIf="showfile">
 							<div class="form-group mb-0 mrgn-1">
 							<label> Upload Credential File </label>
 							<input class="pl-0  vertically_style" formControlName="file" type="file" (change)="onFileChange($event)">
 						
 						<div *ngIf="submitF.file.errors " class="invalid-feedback">
								<div *ngIf="submitF.file.errors.required || submitF.file.touched || submitF.submitted">Please enter valid data</div>
								</div>
 					
 						</div>
 						</div>
 					</div>
 						<div class="row" *ngIf="showjson">
 							<div class="col-lg-12">
 							<div class="form-group mb-0 mrgn-1">
 								<label> IAM User ARN </label>
 								<div class="d-flex row m-0 align-items-start">
 									
 								<input class="file-input" type="text" formControlName="iam_user_arn" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.iam_user_arn.errors && submitF.iam_user_arn.touched}">
 								<div *ngIf="submitF.iam_user_arn.errors " class="invalid-feedback">
								<div *ngIf="submitF.iam_user_arn.errors.required || submitF.iam_user_arn.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							
 							</div>
 							</div>
 						</div>
 							<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> IAM User Access Key </label>						
 								<input type="text" formControlName="access_key_id" class="form-control" id="access_key_id" [ngClass]="{'is-invalid': submitF.access_key_id.errors && submitF.access_key_id.touched}">	
 								<div *ngIf="submitF.access_key_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.access_key_id.errors.required || submitF.access_key_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> IAM User Access Secret </label>
 								<div class="d-flex row m-0 align-items-start">
 									
 								<input class="file-input" type="text" formControlName="secret_access_key" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.secret_access_key.errors && submitF.secret_access_key.touched}">
 								<div *ngIf="submitF.secret_access_key.errors " class="invalid-feedback">
								<div *ngIf="submitF.secret_access_key.errors.required || submitF.secret_access_key.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							
 							</div>
 							</div>
 						</div>
 						
 					</div>
 					
 				</div>
 				<div *ngIf="show_credential_Role">
 						<div class="row ">
 						<div class="col-lg-12">
 							<div class="form-group services-box mb-1">
 								<h5  class="mb-0"><b>Add Credential</b></h5>
 							</div>
 						</div>
 						</div>
 						<div class="row">
 						<div class="col-lg-6">
 							<div class="form-group mb-0 ">
 								<label> Connector Rotation Mode </label>
 								<select name="connector_rotation_mode" (change)="selectRotMode($event)" class="form-control custom-select mr-3 mr-lg-3"  formControlName="connector_rotation_mode" [ngClass]="{'is-invalid': submitF.connector_rotation_mode.errors && submitF.connector_rotation_mode.touched}">
 									<option  value="" disabled>Select Connector Rotation Mode</option>
									<option value="API">API</option>
									<option value="MODIFY_STACK">STACK</option>	
									<option value="MODIFY_STACKSET">STACKSET</option>						
 								</select>
 								<div *ngIf="submitF.connector_rotation_mode.errors " class="invalid-feedback">
								<div *ngIf="submitF.connector_rotation_mode.errors.required || submitF.connector_rotation_mode.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 					</div>
 					<div class="row" *ngIf="showroleStack">
						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label>Stack ID </label>						
 								<input type="text" formControlName="stack_id" class="form-control" id="stack_id" [ngClass]="{'is-invalid': submitF.stack_id.errors && submitF.stack_id.touched}">	
 								<div *ngIf="submitF.stack_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.stack_id.errors.required || submitF.stack_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label>Stack Param Key </label>						
 								<input type="text" formControlName="stack_param_key" class="form-control" id="stack_param_key" [ngClass]="{'is-invalid': submitF.stack_param_key.errors && submitF.stack_param_key.touched}">	
 								<div *ngIf="submitF.stack_param_key.errors " class="invalid-feedback">
								<div *ngIf="submitF.stack_param_key.errors.required || submitF.stack_param_key.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
					</div>
					<div class="row" *ngIf="showroleStackSet">
						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Stackset ARN </label>						
 								<input type="text" formControlName="stackset_arn" class="form-control" id="stackset_arn" [ngClass]="{'is-invalid': submitF.stackset_arn.errors && submitF.stackset_arn.touched}">	
 								<div *ngIf="submitF.stackset_arn.errors " class="invalid-feedback">
								<div *ngIf="submitF.stackset_arn.errors.required || submitF.stackset_arn.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Stackset Param Key </label>						
 								<input type="text" formControlName="stackset_param_key" class="form-control" id="stackset_param_key" [ngClass]="{'is-invalid': submitF.stackset_param_key.errors && submitF.stackset_param_key.touched}">	
 								<div *ngIf="submitF.stackset_param_key.errors " class="invalid-feedback">
								<div *ngIf="submitF.stackset_param_key.errors.required || submitF.stackset_param_key.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
					</div>
 						<div class="row" *ngIf="showroleApi || showroleStack || showroleStackSet">
 							<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> IAM Role ARN </label>						
 								<input type="text" formControlName="iam_role_arn" class="form-control" id="iam_role_arn" [ngClass]="{'is-invalid': submitF.iam_role_arn.errors && submitF.iam_role_arn.touched}">	
 								<div *ngIf="submitF.iam_role_arn.errors " class="invalid-feedback">
								<div *ngIf="submitF.iam_role_arn.errors.required || submitF.iam_role_arn.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> IAM Role external ID </label>
 								<input class="file-input" type="text" formControlName="external_id" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.external_id.errors && submitF.external_id.touched}">
 								<div *ngIf="submitF.external_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.external_id.errors.required || submitF.external_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							
 							</div>
 						</div>
 						</div>
					
					 					
 					
 				</div>
 				<div *ngIf="show_credential_GCP">
 						<div class="row ">
 						<div class="col-lg-12">
 							<div class="form-group services-box mb-1">
 								<h5  class="mb-0"><b>Add Credential</b></h5>
 							</div>
 						</div>
 						</div>
 						
 						<div class="row">
 							<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Project ID </label>						
 								<input type="text" formControlName="project_id" class="form-control" id="project_id" [ngClass]="{'is-invalid': submitF.project_id.errors && submitF.project_id.touched}">	
 								<div *ngIf="submitF.project_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.project_id.errors.required || submitF.project_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Private Key ID </label>
 								<input class="file-input" type="text" formControlName="private_key_id" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.private_key_id.errors && submitF.private_key_id.touched}">
 								<div *ngIf="submitF.private_key_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.private_key_id.errors.required || submitF.private_key_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Private Key </label>
 								<input class="file-input" type="text" formControlName="private_key" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.private_key.errors && submitF.private_key.touched}">
 								<div *ngIf="submitF.private_key.errors " class="invalid-feedback">
								<div *ngIf="submitF.private_key.errors.required || submitF.private_key.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client ID </label>
 								<input class="file-input" type="text" formControlName="client_id" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.client_id.errors && submitF.client_id.touched}">
 								<div *ngIf="submitF.client_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_id.errors.required || submitF.client_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client Email </label>
 								<input class="file-input" type="text" formControlName="client_email" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.client_email.errors && submitF.client_email.touched}">
 								<div *ngIf="submitF.client_email.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_email.errors.required || submitF.client_email.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-12 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client x509 Cert URL </label>
 								<input class="file-input" type="text" formControlName="client_x509_cert_url" class="form-control mr-2" [ngClass]="{'is-invalid': submitF.client_x509_cert_url.errors && submitF.client_x509_cert_url.touched}">
 								<div *ngIf="submitF.client_x509_cert_url.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_x509_cert_url.errors.required || submitF.client_x509_cert_url.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						</div>
 					
 					
 				</div>
 				<div *ngIf="show_credential_Azure">
 					<div class="row ">
 						<div class="col-lg-12">
 							<div class="form-group services-box mb-1">
 								<h5  class="mb-0"><b>Add Credential</b></h5>
 							</div>
 						</div>
 					</div>
					<div class="row ">
						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Tenant ID </label>						
 								<input type="text" formControlName="tenant_id" class="form-control" id="tenant_id" [ngClass]="{'is-invalid': submitF.tenant_id.errors && submitF.tenant_id.touched}">	
 								<div *ngIf="submitF.tenant_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.tenant_id.errors.required || submitF.tenant_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Service Principal ID </label>						
 								<input type="text" formControlName="service_principal_id" class="form-control" id="service_principal_id" [ngClass]="{'is-invalid': submitF.service_principal_id.errors && submitF.service_principal_id.touched}">	
 								<div *ngIf="submitF.service_principal_id.errors " class="invalid-feedback">
								<div *ngIf="submitF.service_principal_id.errors.required || submitF.service_principal_id.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client ID </label>						
 								<input type="text" formControlName="client_id_azure" class="form-control" id="client_id_azure" [ngClass]="{'is-invalid': submitF.client_id_azure.errors && submitF.client_id_azure.touched}">	
 								<div *ngIf="submitF.client_id_azure.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_id_azure.errors.required || submitF.client_id_azure.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client Key Name </label>						
 								<input type="text" formControlName="client_key_name" class="form-control" id="client_key_name" [ngClass]="{'is-invalid': submitF.client_key_name.errors && submitF.client_key_name.touched}">	
 								<div *ngIf="submitF.client_key_name.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_key_name.errors.required || submitF.client_key_name.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
 						<div class="col-lg-6 ">
 							<div class="form-group mb-0 mrgn-1">
 								<label> Client Secret </label>						
 								<input type="text" formControlName="client_secret" class="form-control" id="client_secret" [ngClass]="{'is-invalid': submitF.client_secret.errors && submitF.client_secret.touched}">	
 								<div *ngIf="submitF.client_secret.errors " class="invalid-feedback">
								<div *ngIf="submitF.client_secret.errors.required || submitF.client_secret.touched || submitF.submitted">Please enter valid data</div>
								</div>
 							</div>
 						</div>
					</div>

 					</div>	
 					</div>	
 					</div>		
 					
 				</div>	
 				
 			</form>
 		</div>
 	<div class="modal-footer justify-content-between">
			<div>
			<!-- <button type="button" class="cancel-btn btn btn-secondary rounded-0 delete-btn dlbtn" data-dismiss="modal" aria-label="Close" (click)="closeform()">Delete</button> -->
			</div>
			<div>
				<div>
 			<button type="button" class="btn btn-secondary rounded-0 cancel-btn" data-dismiss="modal" (click)="closeform()">
 				Cancel
 			</button> 
 			<button class="btn theme-btn saveplatform btn-info rounded-0 ml-3 " (click)="submit(addConnector)" type="submit">Create</button>
 		</div>
 	</div>
 	</div>
 </div>
</div>
