.space_style .col-lg-12 {
    padding-left: 7px;
    padding-right: 7px;
}
.modal-body .form-group select{
	vertical-align: top;
}
.inputplace input{
	vertical-align: middle;
}
.bodyarea {
    padding-left: 0px;
    padding-right: 7px;
}
.modal-header{padding-left: 18px;}
.space_style .col-lg-3 {
    padding-left: 7px;
    padding-right: 7px;
}

.modal-body form label {
    color: #404040;
    font-family: HelveticaNeue;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 0px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 28px;
        vertical-align: bottom;
    }
}
.services-box1 h5 {
    line-height: 40px;
    font-family: HelveticaNeue;
    font-size: 16px;
    @media (max-width: 1250px){
        font-size: 12px;
        line-height: 20px;
    }
}
.space_style .col-lg-2 {
    padding-left: 7px;
    padding-right: 7px;
}

.vertically_style {
    vertical-align: top;
}
.customlc {
    background-position: top calc(0.175em + .0005rem) right calc(.375em + .950rem) !important;
}
.chngeloc {
    background-position: right calc(1.075em + .1875rem) center !important;
}